.lesson-detail-list {
  display: block;
  width: 100%;
  .content-item {
    margin-bottom: $book-content-spacebetween;
    border-radius: $content-item-border-radius;
  }
  .lessons {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-bottom: $spacebetween-contacts;
    .decor {
      width: $content-item-decor-width;
      align-self: stretch;
      border-radius: $content-item-decor-border-radius;
    }

    .info-card {
      width: 100%;
      margin-top: 20px;
      margin-bottom: 20px;
      margin-left: 20px;
      margin-right: 20px;
      .info-record {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .info-lesson-title {
          p {
            font-size: $normal-font;
            line-height: 1.35;
            font-weight: $bold-font-weight;
          }
          span.icon:before {
            display: block;
            width: 15px;
            height: 21px;
            line-height: 1.35;
            margin-right: 20px;
          }
        }
        .lesson-details-container {
          display: flex;
          align-items: center;
          .lesson-details {
            p {
              line-height: $normal-line-height;
              font-size: $normal-font;
              font-weight: $bold-font-weight;
            }
            span.icon:before {
              display: block;
              font-size: $normal-font;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.35;
              margin-right: 10px;
            }
          }
          .lesson-info-btn {
            width: 40px;
            height: 40px;
            border-radius: $contact-status-icon-border-radius;
            overflow: hidden;
            margin-left: $normal-margin;
            display: flex;
            align-items: center;
            justify-content: center;
            a {
              width: 100%;
              height: 100%;
              @include tabButton();
              span.icon:before {
                font-size: $small-font;
              }
            }
          }
          .furder-btn {
            width: 40px;
            height: 40px;
            border-radius: $contact-status-icon-border-radius;
            overflow: hidden;
            margin-left: $normal-margin;
            display: flex;
            align-items: center;
            justify-content: center;
            a {
              width: 100%;
              height: 100%;
              @include tabButton();
              span.icon:before {
                font-size: $small-font;
              }
            }
          }
        }
      }
    }
  }

  .red {
    background-color: $info-lesson-bgred;
    .decor {
      background-color: $info-lesson-red;
    }
    .info-card {
      .info-record {
        .info-lesson-title {
          p {
            color: $info-lesson-red;
          }
        }
        .lesson-details-container {
          .lesson-details {
            p {
              color: $info-lesson-red;
              span.icon:before {
                color: $info-lesson-red;
              }
            }
          }
          .lesson-info-btn {
            background-color: $lesson-info-btn-bgcolor-red;
            span.icon:before {
              color: $info-lesson-red;
            }
          }
        }
      }
    }
  }
  .blue {
    background-color: $info-lesson-bgblue;
    .decor {
      background-color: $info-lesson-blue;
    }
    .info-card {
      .info-record {
        .info-lesson-title {
          p {
            color: $info-lesson-blue;
          }
        }
        .lesson-details-container {
          .lesson-details {
            p {
              color: $info-lesson-blue;
              span.icon:before {
                color: $info-lesson-blue;
              }
            }
          }
          .furder-btn {
            background-color: $lesson-info-btn-bgcolor-blue;
            span.icon:before {
              color: $info-lesson-blue;
            }
          }
        }
      }
    }
  }
  .green {
    background-color: $info-lesson-bggreen;
    .decor {
      background-color: $info-lesson-green;
    }
    .info-card {
      .info-record {
        .info-lesson-title {
          p {
            color: $info-lesson-green;
          }
        }
        .lesson-details-container {
          .lesson-details {
            p {
              color: $info-lesson-green;
              span.icon:before {
                color: $info-lesson-green;
              }
            }
          }
          .lesson-info-btn {
            background-color: $lesson-info-btn-bgcolor-green;
            span.icon:before {
              color: $info-lesson-green;
            }
          }
        }
      }
    }
  }
}
