.tab-action-form {
  display: flex;
  flex-direction: column;
  box-shadow: $message-form-shadow;
  .textarea-wrapper {
    padding-right: $text-wrapper-padding-right;
    border: $message-form-border;
    border-radius: $message-form-radius $message-form-radius 0px 0px;
    textarea {
      display: block;
      border: none;
      color: $message-form-color;
      background-color: $message-form-bg-color;
      outline: none !important;
      resize: none;
      width: 100%;
      padding: $message-form-padding-inside;
      font-size: $message-form-textarea-font-size;
      height: $message-form-height;
      content: "\e8e9";
      font-weight: $message-form-textarea-font-weight;
      @include scrollbarVert();
      &:focus {
        color: $brutaly-blue;
      }
    }
    
  }
  button {
    height: $message-form-button-height;
    display: block;
    color: $message-button-color;
    background-color: $message-button-bgcolor;
    font-size: $message-form-button-font-size;
    text-align: center;
    border-radius: 0px 0px $message-form-radius $message-form-radius;
    width: 100%;
    outline: none !important;
    border: none;
    position: relative;
    top: -0px;
    //transition: 0.3s;
    span.icon {
      margin-right: $message-form-button-icon-margin-right;
    }
  }
}
.embedded-tab {
  .tab-action-form {
    .textarea-wrapper {
      textarea {
        height: 3em;
      }
    }
  }
}
input,
select {
  padding: $input-text-around-padding;
}

select {
  background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png)
    no-repeat right #ddd;
  -webkit-appearance: none;
  background-position-x: $select-arrow-position;
}

input[type="checkbox"] + label {
  cursor: pointer;
}

input[type="checkbox"] {
  color: $brutaly-blue;
  background-color: $brutaly-blue;
}
