/*Left panel*/
/*top panel */
.course-participants-container {
  display: flex;
  flex-direction: column;

  width: 100%;
  overflow: hidden;
  height: 100%;

  margin-right: $course-participants-container-margin-right;
  margin-bottom: $course-participants-container-margin-bottom;

  .course-details {
    background-color: $softly-blue;
  }
  .course-creator {
    width: 100%;
    p {
      font-size: $course-course-creator-font-size;
      font-weight: $course-course-creator-font-weight;
      line-height: $course-course-creator-line-height;
      color: $almost-black;
    }
    span.icon:before {
      width: $course-course-creator-icon-size;
      height: $course-course-creator-icon-size;
      //line-height: 1.35;
      color: $brutaly-blue;
      margin-right: $course-course-creator-icon-margin-right;
    }
  }
  .students-of-course {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: $course-students-of-course-margin-top;
    .student-name {
      width: 100%;
      p {
        font-size: $course-students-of-course-font-size;
        font-weight: $course-students-of-course-font-weight;
        line-height: $course-students-of-course-line-height;
        color: $almost-black;
      }
      span.icon:before {
        width: $course-students-of-course-icon-size;
        height: $course-students-of-course-icon-size;
        //line-height: 1.35;
        color: $brutaly-blue;
        margin-right: $course-students-of-course-icon-margin-right;
      }
    }
  }
}
/*top panel */
.course-lessons-container {
  display: flex;
  flex-direction: column;

  width: 100%;
  overflow: hidden;
  height: 100%;

  margin-right: $course-course-lessons-container-margin-right;
  margin-bottom: $course-course-lessons-container-margin-bottom;
}
/* right panel */
.course-content-wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
