.timetable {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  height: 100%;

  .scrollable-content {
    .scrolled-content {
      .content-list {
        display: block;
        width: 100%;
        .content-item {
          margin-bottom: $book-content-spacebetween;
          border-radius: $content-item-border-radius;
        }
        .lessons {
          display: flex;
          flex-direction: row;
          align-items: center;
          width: 100%;
          margin-bottom: $spacebetween-contacts;
          .decor {
            width: $content-item-decor-width;
            align-self: stretch;
            border-radius: $content-item-decor-border-radius;
          }
          .info-card {
            width: 100%;
            margin-top: $info-card-margin-top;
            margin-bottom: $info-card-margin-bottom;
            margin-left: $info-card-margin-left;
            margin-right: $info-card-margin-right;
            .info-header {
              font-weight: $info-card-header-font-weight;
              margin-bottom: $book-info-header-marginbottom;
              font-size: $info-card-header-font-size;
              line-height: $info-card-header-line-height;
            }
            .info-record {
              width: 100%;
              margin-bottom: $book-info-record-specabetween;
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              .info-lesson-title {
                a {
                  font-size: $info-info-record-font-size;
                  font-weight: $info-info-record-font-weight;
                }
              }
              .info-time-schedule {
                display: flex;
                justify-content: center;
                p {
                  font-size: $info-info-time-schedule-font-size;
                  font-weight: $info-info-time-schedule-font-weight;
                  color: $book-info-title-color;
                  span.icon:before {
                    font-size: $info-info-time-schedule-icon-size;
                    margin-right: $info-time-schedule-marginright;
                    //line-height: $small-line-height;
                    color: $info-time-schedule-color;
                  }
                }
              }
            }
            .info-lesson-details {
              display: flex;
              justify-content: space-between;
              align-items: center;
              .info-lesson-container {
                display: flex;
                .info-lesson-detail {
                  margin-right: $info-lesson-container-margin;
                  p {
                    color: $info-lesson-detail-textcolor;
                    span.icon:before {
                      margin-right: $info-lesson-details-margin;
                    }
                  }
                }
              }
            }
          }
        }

        .purple {
          background-color: $info-lesson-bgpurple;
          .decor {
            background-color: $info-lesson-purple;
          }
          .info-card {
            .info-header {
              color: $book-info-header-color;
            }
            .info-record {
              .info-lesson-title {
                a {
                  color: $info-lesson-purple;
                }
              }
              .info-time-schedule {
                p {
                  color: $info-lesson-purple;
                  span.icon:before {
                    color: $info-lesson-purple;
                  }
                }
              }
            }
            .info-lesson-details {
              .info-lesson-more {
                span.icon:before,
                a {
                  color: $info-lesson-purple;
                }
                background-color: $info-lesson-btn-purple;
              }
            }
          }
        }
        .blue {
          background-color: $info-lesson-bgblue;
          .decor {
            background-color: $info-lesson-blue;
          }
          .info-card {
            .info-header {
              color: $book-info-header-color;
            }
            .info-record {
              .info-lesson-title {
                a {
                  color: $info-lesson-blue;
                }
              }
              .info-time-schedule {
                p {
                  color: $info-lesson-blue;
                  span.icon:before {
                    color: $info-time-schedule-color;
                  }
                }
              }
            }
            .info-lesson-details {
              .info-lesson-more {
                span.icon:before,
                a {
                  color: $info-lesson-blue;
                }
                background-color: $info-lesson-btn-blue;
              }
            }
          }
        }
        .green {
          background-color: $info-lesson-bggreen;
          .decor {
            background-color: $info-lesson-green;
          }
          .info-card {
            .info-header {
              color: $info-lesson-green;
            }
            .info-record {
              .info-lesson-title {
                a {
                  color: $info-lesson-green;
                }
              }
              .info-time-schedule {
                p {
                  color: $info-lesson-green;
                  span.icon:before {
                    color: $info-lesson-green;
                  }
                }
              }
            }
            .info-lesson-details {
              .info-lesson-more {
                span.icon:before,
                a {
                  color: $info-lesson-green;
                }
                background-color: $info-lesson-btn-green;
              }
            }
          }
        }
        .yellow {
          background-color: $info-lesson-bgyellow;
          .decor {
            background-color: $info-lesson-yellow;
          }
          .info-card {
            .info-header {
              color: $info-lesson-yellow;
            }
            .info-record {
              .info-lesson-title {
                a {
                  color: $info-lesson-yellow;
                }
              }
              .info-time-schedule {
                p {
                  color: $info-lesson-yellow;
                  span.icon:before {
                    color: $info-lesson-yellow;
                  }
                }
              }
            }
            .info-lesson-details {
              .info-lesson-more {
                span.icon:before,
                a {
                  color: $info-lesson-yellow;
                }
                background-color: $info-lesson-btn-yellow;
              }
            }
          }
        }
      }
    }
  }
}

.course-list {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;

  .scrollable-content {
    .scrolled-content {
      .content-list {
        .content-item {
          background-color: transparent;
          display: flex;
          .decor {
            width: $content-item-decor-width;
            align-self: stretch;
            border-radius: $content-item-decor-border-radius;
          }
          .content-item-container {
            border-radius: $content-item-border-radius;
            display: flex;
            align-self: stretch;
            width: 100%;

            .info-card {
              margin-left: $rightpanel-info-card-margin-left;
              margin-right: $rightpanel-info-card-margin-right;
              width: 100%;
              height: 100%;
              .info-record {
                display: flex;
                width: 100%;
                height: 100%;
                justify-content: space-between;
                align-items: center;
                .info-lesson-title {
                  a {
                    font-size: $course-list-info-lesson-title-font-size;
                    //line-height: 1.35;
                    font-weight: $course-list-info-lesson-title-font-weight;
                  }
                }
                .user-container {
                  display: flex;
                  align-items: center;
                  .user {
                    p {
                      display: block;
                      line-height: $course-list-user-container-line-height;
                      font-size: $course-list-user-container-font-size;
                      font-weight: $course-list-user-container-font-weight;
                    }
                    span.icon:before {
                      font-size: $course-list-user-container-icon-size;
                      //line-height: 1.35;
                      margin-right: $course-list-user-container-icon-margin-right;
                    }
                  }
                  .furder-btn {
                    border-radius: $contact-status-icon-border-radius;
                    overflow: hidden;
                    margin-left: $furder-icon-margin-left;
                    span.icon:before {
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      width: $furder-btn-width;
                      height: $furder-btn-height;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .purple {
    .decor {
      background-color: $info-lesson-purple;
    }
    .content-item-container {
      background-color: $info-lesson-bgpurple;
      .info-card {
        .info-record {
          .info-lesson-title {
            a {
              color: $info-lesson-purple;
            }
          }
          .user-container {
            .user {
              p {
                color: $info-lesson-purple;
                span.icon:before {
                  color: $info-lesson-purple;
                }
              }
            }
            .furder-btn {
              span.icon:before {
                color: $info-lesson-purple;
              }
              background-color: $info-lesson-btn-purple;
            }
          }
        }
      }
    }
  }
  .blue {
    .decor {
      background-color: $info-lesson-blue;
    }
    .content-item-container {
      background-color: $info-lesson-bgblue;
      .info-card {
        .info-record {
          .info-lesson-title {
            a {
              color: $info-lesson-blue;
            }
          }
          .user-container {
            .user {
              p {
                color: $info-lesson-blue;
                span.icon:before {
                  color: $info-time-schedule-color;
                }
              }
            }
            .furder-btn {
              span.icon:before {
                color: $info-lesson-blue;
              }
              background-color: $info-lesson-btn-blue;
            }
          }
        }
      }
    }
  }
  .green {
    .decor {
      background-color: $info-lesson-green;
    }
    .content-item-container {
      background-color: $info-lesson-bggreen;
      .info-card {
        .info-record {
          .info-lesson-title {
            a {
              color: $info-lesson-green;
            }
          }
          .user-container {
            .user {
              p {
                color: $info-lesson-green;
                span.icon:before {
                  color: $info-lesson-green;
                }
              }
            }
            .furder-btn {
              span.icon:before {
                color: $info-lesson-green;
              }
              background-color: $info-lesson-btn-green;
            }
          }
        }
      }
    }
  }
  .yellow {
    .decor {
      background-color: $info-lesson-yellow;
    }
    .content-item-container {
      background-color: $info-lesson-bgyellow;
      .info-card {
        .info-record {
          .info-lesson-title {
            a {
              color: $info-lesson-yellow;
            }
          }
          .user-container {
            .user {
              p {
                color: $info-lesson-yellow;
                span.icon:before {
                  color: $info-lesson-yellow;
                }
              }
            }
            .furder-btn {
              span.icon:before {
                color: $info-lesson-yellow;
              }
              background-color: $info-lesson-btn-yellow;
            }
          }
        }
      }
    }
  }
}
#teacher-mainpage-settings {
  .student-version {
    display: none;
  }
}
#student-mainpage-settings {
  .course-list {
    .info-card {
      .info-record {
        padding-top: 20px;
        padding-bottom: 20px;
      }
    }
    .teacher-version {
      display: none;
    }
  }
}
