<% layout('../layouts/default') -%>

<div id="survey-container" class="single-panel-wrapper">
    <!-- Title -->
    <div class="editor-title-container">
        <div class="test-title">
            <p>Teszt létrehozása</p>
        </div>
        <div class="test-information-container">
            <div class="test-name-box">
                <label for="test-name">Teszt neve</label>
                <input type="text" name="name" id="test-name" value="<%= typeof survey == 'undefined' ? '' : survey.name%>" placeholder="Adja meg a teszt nevét" />
            </div>
            <div class="test-description-box">
                <label for="test-description">Teszt leírása</label>
                <input type="text" name="description" id="test-description" value="<%= typeof survey == 'undefined' ? '' : survey.description%>" placeholder="Adja meg a teszt leírását" />
            </div>
            <% if (survey) { %> <input hidden type="text" id="survey-id" name="id" value="<%=survey.id%>"> <% } %>
            <% if (course_id) { %> <input hidden type="text" id="course-id" name="course_id" value="<%=course_id%>"> <% } %>
            <% if (lesson_id) { %> <input hidden type="text" id="lesson-id" name="lesson_id" value="<%=lesson_id%>"> <% } %>
        </div>
        <button class="icon-button gray-button exit-btn" onclick="history.back()">
            <span class="fa icon X-icon"></span>
        </button>
    </div>

    <div class="question-parameters">
        <div id="question-container" class="scrollable-content">
        </div>

        <div class="add-new-question-btn">
            <button class="small-button blue-button wide-button text-first" onclick="addQuestion()">
                Új kérdés hozzáadása<span class="fa icon plus-mark"></span>
            </button>
        </div>

        <div class="footer-buttons">
            <div class="cancel-btn">
                <button class="small-button gray-button close-modal" onclick="history.back()"><span class="fa icon X-icon"></span>Mégsem</button>
            </div>
            <div class="footer-rightside-buttons">
                <div class="preview-btn">
                    <button class="small-button blue-button"><span class="fa icon eye"></span>Előnézet</button>
                </div>
                <div class="create-btn">
                    <% if (survey) { %>
                        <button class="small-button green-button ml-30" onclick="updateSurvey()">
                            <span class="fa icon check-mark"></span>Mentés
                        </button>
                    <% } else { %>
                        <button class="small-button green-button ml-30" onclick="saveSurvey()">
                            <span class="fa icon check-mark"></span>Létrehozás
                        </button>
                    <% } %>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Question template -->
<div hidden id="question-template">
    <div class="new-question-parameters">
        <div class="question-box">
            <div class="question-content">
                <label for="question">Kérdés</label>
                <div class="answer-box">
                    <input class="question answer" type="text" name="question" placeholder="Kérdés szövege" />
                    <button class="survey-delete-button icon-button red-button icon-size-60 ml-30">
                        <span class="fa icon trash"></span>
                    </button>
                </div>
                <input hidden class="question-id" type="text" name="id" value="">
            </div>
        </div>
        <div hidden class="multiple-answer">
            <p>Több lehetséges válasz megadása</p>
            <label class="switch">
                <input class="multiple-input" name="multiple" type="checkbox" data-unchecked-value="false"/>
                <span class="slider round" onclick="uncheckAnswers(this)"></span>
            </label>
        </div>
        <div class="answer-container"></div>
        <div class="add-new-answer-btn">
            <button class="small-button bg-transp text-first">
                Új válasz hozzáadása<span class="fa icon plus-mark"></span>
            </button>
        </div>
    </div>
</div>

<!-- Answer template -->
<div hidden id="answer-template">
    <div class="answer-box answer-parameters">
        <input hidden class="answer-id" type="text" name="id" value="">
        <input class="answer" type="text" name="answer" placeholder="Válasz szövege" />
        <input hidden class="correct" type="checkbox" name="correct" data-unchecked-value="false"/>
        <button class="answer-correct-button icon-button gray-button
         icon-size-60 ml-30">
            <span class="fa icon check-mark"></span>
        </button>
        <button class="answer-delete-button icon-button red-button icon-size-60 ml-30">
            <span class="fa icon trash"></span>
        </button>
    </div>
</div>

<% if (questions) { %>
    <script>
        let questions = <%-JSON.stringify(questions)%>;
    </script>
<% } %>
