.modal-cover {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: transparent;
  z-index: $modal-z-index;
  backdrop-filter: $modal-backdrop-filter;
}

.modal-cover:not(.show),
.modal-screen:not(.show) {
  display: none;
}

.modal-screen {
  width: 100vw;
  height: 100vh;
  z-index: $modal-screen-z-index;
  background-color: transparent;

  top: 0;
  left: 0;
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;
  .mini-box {
    background-color: $fullwhite;
    width: $modal-screen-width;
    border-radius: $modal-screen-radius;
    box-shadow: $modal-screen-shadow;
    .mini-box-header {
      width: 100%;
      height: $modal-screen-header-height;
      border-radius: $modal-screen-header-radius;
      background-color: $softly-blue;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      p {
        font-size: $modal-screen-title-font-size;
        font-weight: $modal-screen-title-font-weight;
        color: $brutaly-blue;
      }
      button {
        color: $brutaly-blue;
        position: absolute;
        right: $modal-screen-close-button-relative-right;
      }
    }
    .mini-box-content {
      padding: $modal-screen-box-content-padding;
      width: 100%;
      height: 100%;

      .respondent-results-container {
        width: 100%;
        .respondent-box {
          display: flex;
          justify-content: space-between;
          margin-bottom: $modal-screen-respondent-box-margin-bottom;
          .respondent-name {
            p {
              font-size: $modal-screen-respondent-box-font-size;
              font-weight: $modal-screen-respondent-box-font-weight;
              line-height: $modal-screen-respondent-box-line-height;
              color: $almost-black;
            }
            span.icon:before {
              font-size: $modal-screen-respondent-box-icon-size;
              margin-right: $modal-screen-respondent-box-icon-margin-right;
              color: $brutaly-blue;
            }
          }
          .test-result {
            display: flex;
            .max-points {
              font-size: $modal-screen-max-points-font-size;
              font-weight: $modal-screen-max-points-font-weight;
              line-height: $modal-screen-max-points-line-height;
              color: $brutaly-gray;
            }
            .achived-points {
              font-size: $modal-screen-max-achived-points-font-size;
              font-weight: $modal-screen-max-achived-font-weight;
              line-height: $modal-screen-max-achived-line-height;
              color: $brutaly-green;
            }
            .uncompleted {
              font-size: $modal-screen-max-uncompleted-font-size;
              font-weight: $modal-screen-max-uncompleted-font-weight;
              line-height: $modal-screen-max-uncompleted-line-height;
              color: $brutaly-red;
            }
          }
        }
        .respondent-box:nth-last-of-type(1) {
          margin-bottom: 0px;
        }
      }
      .respondent-container {
        width: 100%;
        .respondent-box {
          display: flex;
          justify-content: space-between;
          margin-bottom: $modal-screen-respondent-box-margin-bottom;
          .respondent-name {
            p {
              font-size: $modal-screen-respondent-box-font-size;
              font-weight: $modal-screen-respondent-box-font-weight;
              line-height: $modal-screen-respondent-box-line-height;
              color: $almost-black;
            }
            span.icon:before {
              font-size: $modal-screen-respondent-box-icon-size;
              margin-right: $modal-screen-respondent-box-icon-margin-right;
              color: $brutaly-blue;
            }
          }
          .vote-result {
            p {
              font-size: $modal-screen-vote-result-font-size;
              font-weight: $modal-screen-vote-result-font-weight;
              line-height: $modal-screen-vote-result-line-height;
              color: $brutaly-blue;
            }
            .no-answer {
              font-size: $modal-screen-vote-result-no-answer-font-size;
              font-weight: $modal-screen-vote-result-no-answer-font-weight;
              line-height: $modal-screen-vote-result-no-answer-line-height;
              color: $brutaly-gray;
              span.icon:before {
                font-size: $modal-screen-vote-result-no-answer-icon-size;
                margin-right: $modal-screen-vote-result-no-answer-icon-margin-right;
                color: $brutaly-gray;
              }
            }
          }
        }
        .respondent-box:nth-last-of-type(1) {
          margin-bottom: 0px;
        }
      }
      .form-action-btn.centered {
        width: 100%;
        display: flex;
        justify-content: center;
        .close-btn {
          button {
            min-width: $modal-screen-close-btn-min-width;
          }
        }
      }

      .dual-box-wraper {
        margin-bottom: $modal-screen-dual-box-wraper-margin-bottom;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .choice-wrapper {
          width: $modal-screen-choice-wrapper-width;
          height: $modal-screen-choice-wrapper-height;
          border-radius: $modal-screen-choice-wrapper-radius;
          border: $modal-screen-choice-wrapper-border;
          background-color: $fullwhite;
          display: flex;
          flex-direction: column;
          position: relative;
          .choice-title {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: $modal-screen-choice-title-margin-top;
            margin-bottom: $modal-screen-choice-title-margin-bottom;
            p {
              font-size: $modal-screen-choice-title-font-size;
              font-weight: $modal-screen-choice-title-font-weight;
              text-align: center;
              color: $almost-black;
            }
          }
          .choice-descrition {
            width: $modal-screen-choice-descrition-width;
            display: flex;
            justify-content: center;
            margin-left: $modal-screen-choice-descrition-margin-left-right;
            margin-right: $modal-screen-choice-descrition-margin-left-right;
            p {
              height: $modal-screen-choice-descrition-height;
              font-size: $modal-screen-choice-descrition-font-size;
              font-weight: $modal-screen-choice-descrition-font-weight;
              letter-spacing: $modal-screen-choice-descrition-letter-spacing;
              line-height: $modal-screen-choice-descrition-line-height;
              text-align: center;
              color: $brutaly-gray;
            }
          }

          .choice-button {
            height: $modal-screen-choice-button-height;
            border: $modal-screen-choice-button-border;
            background-color: $softly-blue;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            bottom: 0;

            button {
              width: 100%;
              height: 100%;
              font-size: $modal-screen-choice-button-font-size;
              font-weight: $modal-screen-choice-button-font-weight;
              letter-spacing: $modal-screen-choice-button-letter-spacing;
              span.icon:before {
                width: $modal-screen-choice-button-icon-size;
                margin-left: $modal-screen-choice-button-margin-left;
                margin-right: $modal-screen-choice-button-margin-right;
              }
            }
          }
          .choice-link {
            @include blue-button;
            height: $modal-screen-choice-link-font-height;
            border: $modal-screen-choice-link-font-border;
            width: 100%;
            position: absolute;
            bottom: 0;
            a {
              text-align: center;
              font-size: $modal-screen-choice-link-font-size;
              font-weight: $modal-screen-choice-link-font-weight;
              letter-spacing: $modal-screen-choice-link-letter-spacing;
            }
          }
        }
      }

      .single-box-wrapper:nth-last-of-type(1) {
        margin-bottom: 0px;
      }

      .single-box-wrapper {
        margin-bottom: $modal-screen-dual-box-wraper-margin-bottom;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .choice-wrapper {
          width: $modal-screen-choice-wrapper-width;
          height: $modal-screen-choice-wrapper-height;
          border-radius: $modal-screen-choice-wrapper-radius;
          border: $modal-screen-choice-wrapper-border;
          background-color: $fullwhite;
          display: flex;
          flex-direction: column;
          position: relative;
          .choice-title {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: $modal-screen-choice-title-margin-top;
            margin-bottom: $modal-screen-choice-title-margin-bottom;
            p {
              font-size: $modal-screen-choice-title-font-size;
              font-weight: $modal-screen-choice-title-font-weight;
              text-align: center;
              color: $almost-black;
            }
          }
          .choice-descrition {
            width: $modal-screen-choice-descrition-width;
            display: flex;
            justify-content: center;
            margin-left: $modal-screen-choice-descrition-margin-left-right;
            margin-right: $modal-screen-choice-descrition-margin-left-right;
            p {
              height: $modal-screen-choice-descrition-height;
              font-size: $modal-screen-choice-descrition-font-size;
              font-weight: $modal-screen-choice-descrition-font-weight;
              letter-spacing: $modal-screen-choice-descrition-letter-spacing;
              line-height: $modal-screen-choice-descrition-line-height;
              text-align: center;
              color: $brutaly-gray;
            }
          }

          .choice-button {
            height: $modal-screen-choice-button-height;
            border: $modal-screen-choice-button-border;
            background-color: $softly-blue;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            bottom: 0;

            button {
              width: 100%;
              height: 100%;
              font-size: $modal-screen-choice-button-font-size;
              font-weight: $modal-screen-choice-button-font-weight;
              letter-spacing: $modal-screen-choice-button-letter-spacing;
              span.icon:before {
                width: $modal-screen-choice-button-icon-size;
                margin-left: $modal-screen-choice-button-margin-left;
                margin-right: $modal-screen-choice-button-margin-right;
              }
            }
          }
          .choice-link {
            @include blue-button;
            height: $modal-screen-choice-link-font-height;
            border: $modal-screen-choice-link-font-border;
            width: 100%;
            position: absolute;
            bottom: 0;
            a {
              text-align: center;
              font-size: $modal-screen-choice-link-font-size;
              font-weight: $modal-screen-choice-link-font-weight;
              letter-spacing: $modal-screen-choice-link-letter-spacing;
            }
          }
        }
      }

      .single-box-wrapper:nth-last-of-type(1) {
        margin-bottom: 0px;
      }

      .form-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        .input-wrapper {
          display: flex;
          flex-direction: column;
          width: 100%;
          label {
            font-size: $modal-screen-input-label-font-size;
            font-weight: $modal-screen-input-label-font-weight;
            color: $almost-black;
          }

          #lesson-name {
            @include InputText();
            width: 100%;
            height: 100%;
            border-radius: $modal-screen-input-lesson-name-radius;
            border: $modal-screen-input-lesson-name-border;
            background-color: $fullwhite;
            margin-top: $modal-screen-input-lesson-name-margin-top;
            margin-bottom: $modal-screen-input-lesson-name-margin-bottom;
            padding: $modal-screen-input-lesson-name-padding;
          }
          input::-webkit-input-placeholder {
            font-size: $modal-screen-input-lesson-name-font-size;
            font-weight: $modal-screen-input-lesson-name-font-weight;
            color: $almost-black;
          }
          #lesson-input {
            width: 100%;
            height: 100%;
            border-radius: $modal-screen-input-lesson-input-radius;
            border: $modal-screen-input-lesson-input-border;
            background-color: $fullwhite;
            margin-top: $modal-screen-input-lesson-input-margin-top;
            margin-bottom: $modal-screen-input-lesson-input-margin-bottom;
            &:focus-within {
              border: solid 1px $brutaly-blue;
              color: $brutaly-blue;
            }
            .textarea-wrapper {
              border: 0;
              border-radius: 10px;
              textarea {
                border-radius: 10px;
                &:focus::-webkit-input-placeholder {
                  color: $brutaly-blue;
                }
                border: 0;
              }
            }
          }
          textarea::-webkit-input-placeholder {
            font-size: $modal-screen-input-lesson-placeholder-font-size;
            font-weight: $modal-screen-input-lesson-placeholder-font-weight;
            color: $almost-black;
          }
        }

        .half-size-input-wrapper {
          width: 100%;
          display: flex;
          .half-box {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-right: $modal-screen-half-size-input-wrapper-margin-right;
            label {
              font-size: $modal-screen-half-size-input-label-font-size;
              font-weight: $modal-screen-half-size-input-label-font-weight;
              color: $almost-black;
            }
            #lesson-date {
              @include InputText();
              width: 100%;
              height: 100%;
              border-radius: $modal-screen-half-size-input-lesson-date-radius;
              border: $modal-screen-half-size-input-lesson-date-border;
              background-color: $fullwhite;
              margin-top: $modal-screen-half-size-input-lesson-date-margin-top;
              margin-bottom: $modal-screen-half-size-input-lesson-date-margin-bottom;
              padding: $modal-screen-half-size-input-lesson-date-padding;
            }
            input::-webkit-input-placeholder {
              font-size: $modal-screen-half-size-input-placeholder-font-size;
              font-weight: $modal-screen-half-size-input-placeholder-font-weight;
              color: $almost-black;
            }
            #lesson-time {
              @include InputText();
              width: 100%;
              height: 100%;
              border-radius: $modal-screen-half-size-input-lesson-time-radius;
              border: $modal-screen-half-size-input-lesson-time-border;
              background-color: $fullwhite;
              margin-top: $modal-screen-half-size-input-lesson-time-margin-top;
              margin-bottom: $modal-screen-half-size-input-lesson-time-margin-bottom;
              padding: $modal-screen-half-size-input-lesson-time-padding;
            }
          }
          .half-box:last-child {
            margin: 0px;
          }
        }
        label {
          font-size: $modal-screen-half-size-input-label-font-size;
          font-weight: $modal-screen-half-size-input-label-font-weight;
          color: $almost-black;
          margin-bottom: $modal-screen-half-size-input-label-margin-bottom;
        }
        #edit-link-name {
          @include InputText();
          width: 100%;
          height: 100%;
          border-radius: $modal-screen-edit-link-name-radius;
          border: $modal-screen-edit-link-name-border;
          background-color: $fullwhite;
          margin-top: $modal-screen-edit-link-name-margin-top;
          margin-bottom: $modal-screen-edit-link-name-margin-bottom;
          padding: $modal-screen-edit-link-name-padding;
        }
        #edit-browse-name {
          @include InputText();
          width: 100%;
          height: 100%;
          border-radius: $modal-screen-edit-browse-name-radius;
          border: $modal-screen-edit-browse-name-border;
          background-color: $fullwhite;
          padding: $modal-screen-edit-browse-name-padding;
        }
        #edited-file-name {
          @include InputText();
          width: 100%;
          height: 100%;
          border-radius: $modal-screen-edited-file-name-radius;
          border: $modal-screen-edited-file-name-border;
          background-color: $fullwhite;
          margin-top: $modal-screen-edited-file-name-margin-top;
          margin-bottom: $modal-screen-edited-file-name-margin-bottom;
          padding: $modal-screen-edited-file-name-padding;
        }
        #course-name {
          @include InputText();
          width: 100%;
          height: 100%;
          border-radius: $modal-screen-course-name-radius;
          border: $modal-screen-course-name-border;
          background-color: $fullwhite;
          margin-top: $modal-screen-course-name-margin-top;
          margin-bottom: $modal-screen-course-name-margin-bottom;
          padding: $modal-screen-course-name-padding;
        }
        #file-name {
          @include InputText();
          width: 100%;
          height: 100%;
          border-radius: $modal-screen-file-name-radius;
          border: $modal-screen-file-name-border;
          background-color: $fullwhite;
          margin-top: $modal-screen-file-name-margin-top;
          margin-bottom: $modal-screen-file-name-margin-bottom;
          padding: $modal-screen-file-name-padding;
        }
        input::-webkit-input-placeholder {
          font-size: $modal-screen-file-name-placeholder-font-size;
          font-weight: $modal-screen-file-name-placeholder-font-weight;
          color: $brutaly-gray;
        }
        label {
          font-size: $modal-screen-file-name-label-font-size;
          font-weight: $modal-screen-file-name-label-font-weight;
          margin-bottom: $modal-screen-file-name-label-margin-bottom;
          color: $almost-black;
        }
        .browse-box {
          display: flex;
          #browse-name {
            @include InputText();
            width: 100%;
            border-radius: $modal-screen-browse-box-border-radius;
            border: $modal-screen-browse-box-border;
            border-right-width: 0;
            background-color: $fullwhite;
            padding: $modal-screen-browse-box-padding;
          }
          input::-webkit-input-placeholder {
            font-size: $modal-screen-browse-box-font-size;
            font-weight: $modal-screen-browse-box-font-weight;
            color: $brutaly-gray;
          }
          .browse-btn {
            button {
              border-radius: $modal-screen-browse-btn-border-radius;
              min-width: $modal-screen-browse-btn-min-width;
              height: 100%;
            }
          }
        }
        #link-name {
          @include InputText();
          width: 100%;
          height: 100%;
          border-radius: $modal-screen-link-name-radius;
          border: $modal-screen-link-name-border;
          background-color: $fullwhite;
          margin-top: $modal-screen-link-name-margin-top;
          margin-bottom: $modal-screen-link-name-margin-bottom;
          padding: $modal-screen-link-name-padding;
        }
        input::-webkit-input-placeholder {
          font-size: $modal-screen-link-name-placeholder-font-size;
          font-weight: $modal-screen-link-name-placeholder-font-weight;
          color: $brutaly-gray;
        }
        #browse-name {
          @include InputText();
          width: 100%;
          height: 100%;
          border-radius: $modal-screen-browse-name-border-border-radius;
          border: $modal-screen-browse-name-border;
          background-color: $fullwhite;
          padding: $modal-screen-browse-name-padding;
        }
        .form-title {
          p {
            font-size: $modal-screen-browse-name-font-size;
            font-weight: $modal-screen-browse-name-font-weight;
            color: $almost-black;
          }
        }
        .form-description {
          width: 100%;
          margin-top: $modal-screen-form-description-margin-top;
          margin-bottom: $modal-screen-form-description-margin-bottom;
          p {
            font-size: $modal-screen-form-description-font-size;
            font-weight: $modal-screen-form-description-font-weight;
            line-height: $modal-screen-form-description-line-height;
            letter-spacing: $modal-screen-form-description-letter-spacing;
            color: $brutaly-gray;
          }
        }
        .form-input {
          #participant-email {
            width: 100%;
            height: 100%;
            border-radius: $modal-screen-input-lesson-input-radius;
            border: $modal-screen-input-lesson-input-border;
            background-color: $fullwhite;
            margin-top: $modal-screen-input-lesson-input-margin-top;
            margin-bottom: $modal-screen-input-lesson-input-margin-bottom;
            &:focus-within {
              border: solid 1px $brutaly-blue;
              color: $brutaly-blue;
            }
            .textarea-wrapper {
              border: 0;
              border-radius: 10px;
              textarea {
                border-radius: 10px;
                &:focus::-webkit-input-placeholder {
                  color: $brutaly-blue;
                }
                border: 0;
              }
            }
          }
          textarea::-webkit-input-placeholder {
            font-size: $modal-screen-input-lesson-placeholder-font-size;
            font-weight: $modal-screen-input-lesson-placeholder-font-weight;
            color: $almost-black;
          }
          #add-course-name {
            width: 100%;
            height: $modal-screen-add-course-name-height;
            border-radius: $modal-screen-add-course-name-radius;
            border: $modal-screen-add-course-name-border;
            background-color: $fullwhite;
            margin-top: $modal-screen-add-course-name-margin-top;
            display: flex;
            padding: $modal-screen-add-course-name-padding;
            @include InputTextGrey();
          }
        }
      }
      .form-button-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: $modal-screen-form-button-container-height;
        .form-action-btn {
          button {
            min-width: $modal-screen-form-button-container-min-width;
          }
        }
      }
    }
  }
}

#add-course-participant {
  .mini-box-content {
    display: flex;
  }
}
