

.logo-box {
    .logo {
        span {
            display: none;
        }
        display: inline-block;
        background-position: center;
        background-repeat: no-repeat;
        width: 70px;
        height: 70px;
        background-image: url(/img/smartedu_book_white.svg);
        background-size: 50px 50px;
    }   
}

.enlarged {
    .logo-box {
        .logo {
            width: 70px !important;
            height: 70px !important;
            background-image: url(/img/smartedu_book_white.svg) !important;
            background-size: 50px 50px !important;
        }
    }
}

#login_logo {
    h3 {
        display: none;
    }

    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    width: 170px;
    height: 150px;
    background-image: url(/img/smartedu_logo_stand.svg);
    background-size: 160px 140px;

}


@media (min-width: 1029px) { 

    .button-menu-mobile {
        display: none !important;
    }

    .logo-box {
        .logo {
            width: 240px;
            height: 70px;
            background-image: url(/img/smartedu_logo_white.svg);
            background-size: 180px 180px;
        }
    }

}

.content-page {
    position: relative;
}

footer {
    position: relative!important;
    left: 0 !important;
}

@media (min-width: 1029px) { 
    footer {
        left: 240px !important;
    }
}

#su_stream_controls {
    position: absolute;
    font-size: 20px;
    color: white;
    width: 100%;
    top: 50%;
    margin-top: -20px;

}

#stream_toggles_dual {
    display: none;
    width: 100%;
    position: absolute;
    top: 50%;
    margin-top: -20px;
}

#stream_toggles_simple {
    display: none;
    width: 100%;
    position: absolute;
    top: 10px;
}

#rec_handler {
    display: none;
    width: 100%;
    position: absolute;
    bottom: 10px;
}

#room_navigation {
    width: 100%;
    position: absolute;
    top: 10px;
}


.pulsate {
    -webkit-animation: pulsate 1.5s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.3;
}
@-webkit-keyframes pulsate {
    0% { 
        opacity: 0.3;
    }
    50% { 
        opacity: 1.0;
    }
    100% { 
        opacity: 0.3;
    }
}

.hidden {
    display: none;
}

table.footable-loaded,
table.dataTable {
    table-layout: fixed;
}

table td{
    text-overflow: ellipsis;
}

table.dataTable tbody tr.selected {
    color: white;
}


/* Survey */ 

.su-survey {

    .survey-answer {
        .correct-answer-toggle {
            color: #ddd;
        }

        .correct-answer-toggle.checked {
            color: $success;
        }
    }


}

/* Poll */ 

.su-poll {

    .poll-answer {
        .correct-answer-toggle {
            color: #ddd;
        }

        .correct-answer-toggle.checked {
            color: $success;
        }
    }


}

.sm-side-menu-item {
    display: none;
}

@include media-breakpoint-down(sm) {
    .sm-side-menu-item {
        display: list-item;
    }
}


.content-section-header {
    border-bottom: 2px solid $smartuni_blue;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    padding: 15px;
}

.content-list-item {
    padding: 8px 0 6px 0;
    border-bottom: 1px solid #f0f0f0;

    .content-actions {

    }

    .subtitle {
        font-size: 0.8em;
        color: #999;
        padding-left: 24px;
    }
    

    p {
        margin: 0;
        padding: 0;
    }
    
    
}

.content-list-item:hover {
    background-color: #f9f9f9;
}

.content-list-item:hover .content-actions {
    display: block;
}

.content-list {
    clear: both;
}


html {
    height: 100%;
}

.session-body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;

    .session-wrapper {
        display: flex;
        /* flex-direction: row; */
        height: 100%;
    }

    

    .stream-container {
        flex-basis: 0;
        flex-grow: 5;
        box-sizing: border-box;
        height: 100%;
        display: flex;
        flex-direction: column;
        position: relative;

        .type-switcher {
            position: absolute;
            bottom: 10px;
            text-align: center;
            width: 100%;
        }

        .stream-1 {
            flex-basis: 0;
            max-height: 50%;
            flex-grow: 1;
            background-color: black;
            max-width: 100%;
        }

        .stream-2 {
            flex-basis: 0;
            max-height: 50%;
            flex-grow: 1;
            background-color: black;
            border-top: 1px solid #333;
            max-width: 100%;
        }

        .btn-start-simple {
            display: none;
        }

        .btn-start-dual {
            display: inline-block;
        }


        &.stream-simple {

            #su_stream_controls {
                margin-top: -24px;
            }

            .btn-start-simple {
                display: block;
            }
    
            .btn-start-dual {
                display: none;
            }

            .multi-source-item.dual {
                display: none;
            }

            .stream-1 {
                max-height: 100%;
            }

            .stream-2 {
                display: none;
            }
            
        }

    }


    .data-container {
        flex-basis: 0;
        flex-grow: 3;
        box-sizing: border-box;
        height: 100%;

        & > .card-box {
            height: 100%;
            margin: 0 !important;
            padding: 0 !important;
        }
    }

}

.note-list {

    .note-item {
        padding: 10px;
        border: 1px solid #dee2e6;
        border-radius: 3px;
        border-left: 3px solid #3897f0;
        margin-bottom: 10px;
        background-color: #fff;

        .note-actions { 
            float: right;
            a {
                margin-left: 8px;
            }
            display: none;

            .note-save, .note-cancel {
                display: none;
            }
        }

        &:hover {
            .note-actions {
                display: block;
            }
        }

        textarea {
            padding-left: 0;
            border: none;
        }

        &.editable {
            textarea {
                padding-left: 0.9rem;
                border: 1px solid #dee2e6;
            }

            .note-actions {
                .note-save, .note-cancel {
                    display: block;
                }

                .note-edit, .note-delete {
                    display: none;
                }

            }
        }
    }

}

.participant-list {

    .participant-item {
        padding: 10px;
        border: 1px solid #dee2e6;
        border-radius: 3px;
        margin-bottom: 10px;
        background-color: #fff;
        cursor: pointer;

        .volume-bar {
            transition: height 0.5s;
        }

        &.enabled {
            background-color: $success !important;
            .participant-name {
                color: white;
            }


            .meta {
                color: white;
            }
        }

        &.raised-hand {
            background-color: $smartuni_blue;
            .participant-name {
                color: white;
            }

            .meta {
                display: inline;
                color: white;
            }

        }

        .meta {
            display: none;
            text-align: right;
            font-size: 0.9em;
        }

        .participant-name {
            font-size: .9rem;
            margin-top:2px;
            margin-bottom:0px;
        }

        .actions {
            position: relative;
            display: none;
            button {
                position: absolute;
                right: 0;
                top: -3px;
            }
        }

        /*
        &:hover .actions {
            display: block;
        }
        */

        &.active {
            border-left: 3px solid #3897f0;
        }

    }

}



.question-form, .message-form {
    margin-top: 15px;
    flex-basis: 30px;
}

.tab-pane.question-pane.active, .tab-pane.message-pane.active {
    height: 100%;
    display: flex !important;
    flex-direction: column;
}

.question-container, .message-container {
    background-color: #fff;
    border-radius: 3px;
    padding: 15px;
    border: 1px solid #dee2e6;
    overflow: auto;
    flex-grow: 1;
    flex-basis: 0;
    
    .question, .message {

        &.teacher {
            .author {
                color: $smartuni_blue;
            }
            padding-left: 15px;
            border-left: 3px solid $smartuni_blue;
        }

        .author {
            font-size: 14px;
            font-weight: bold;
            display: inline-block;
            margin-bottom: 0px;

            
        }
        
        .time {
            font-size: 12px;
            font-weight: normal;
            color: #999;
            display: inline-block;
            margin-left: 5px;
        }

        &:last-child p {
            margin-bottom: 0;
        }

    }
}


.tab-pane.contents-pane.active {
    height: 100%;
    display: flex !important;
    flex-direction: column;
}

#lesson_tab_contents {
    overflow: auto;
    flex-grow: 1;
    flex-basis: 0;
}