* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
}
html,
body {
  background-color: $main-background-color;
}

h2,
h3,
h4,
h5,
h6,
p,
a,
li,
tr,
td,
th,
textarea,
button,
span,
label,
input,
::-webkit-input-placeholder {
  font-family: "text";
  text-decoration: none;
  list-style: none;
}

h1 {
  font-family: "maintitle";
  color: $highlighted-text;
  font-size: $title-font;
  line-height: $normal-line-height;
  text-align: left;
}

a {
  color: $highlighted-text;
  text-decoration: none;
}

p {
  color: $normal-text-color;
}

.role-dropdown {
  font-family: "text";
}

.float-left {
  float: left;
}
.float-right {
  float: right;
}
.clearfix::after {
  display: block;
  clear: both;
  content: "";
}
.flex {
  display: felx;
}

.ml-30 {
  margin-left: $normal-margin;
}
.mr-30 {
  margin-right: $normal-margin;
}
.mt-30 {
  margin-top: $normal-margin;
}
.ml-15 {
  margin-left: $smaller-margin;
}
.mr-15 {
  margin-right: $smaller-margin;
}
