/* It is the responsible fot the match with design, becase in HTML is everything there, mayb commented out, but it is there! */
#test-course {
  .course-content {
    .stat-button,
    .trash-button,
    .check-button,
    .write-button {
      display: none !important;
    }
  }
  .links,
  .tests,
  .votes {
    .download-button {
      display: none !important;
    }
  }
  .files {
    .mouse-button {
      display: none !important;
    }
  }
  .tests {
    .info-card {
      .info-record:last-child(1) {
        .mouse-button {
          display: none !important;
        }
      }
    }
  }
}

.lesson-student {
  .stat-button,
  .trash-button,
  .check-button,
  .write-button {
    display: none !important;
  }
}
.links,
.tests,
.votes {
  .download-button {
    display: none !important;
  }
}
.files {
  .mouse-button {
    // display: none !important;
  }
}
.lesson-teacher {
  .mouse-button {
    display: none !important;
  }
}
.tests {
  .download-button {
    display: none !important;
  }
  .stat-button,
  .trash-button,
  .check-button,
  .stat-button,
  .trash-button,
  .check-button {
  }
}

.links,
.tests,
.votes {
  .download-button {
    display: none !important;
  }
}
.files {
  .mouse-button {
    // display: none !important;
  }
}
.video-playback {
  .stat-button,
  .trash-button,
  .check-button,
  .write-button {
    display: none !important;
  }
}
.links,
.tests,
.votes {
  .download-button {
    display: none !important;
  }
}
.files {
  .mouse-button {
    // display: none !important;
  }
}

#test-lesson,
#mainpage-settings-lesson-details,
#closed-lesson,
#ongoing-lesson,
#future-lesson {
  .embedded-tab,
  .course-content {
    .stat-button,
    .trash-button,
    .check-button,
    .write-button {
      display: none !important;
    }
  }
  .links,
  .tests,
  .votes {
    .download-button {
      display: none !important;
    }
  }
  .files {
    .mouse-button {
      // display: none !important;
    }
  }
}

/* ordering the and hiding tabs */
.lesson-student {
  .tab-control {
    #tab-participants-container {
      display: none;
    }
    #tab-record-container {
      display: none;
    }
    #tab-messages-container {
      border-radius: $lesson-controlpanel-radius 0 0 0;
      order: 1;
    }
    #tab-write-note-container {
      order: 2;
    }
    #tab-help-container {
      order: 3;
    }
    #tab-book-container {
      border-radius: 0 $lesson-controlpanel-radius 0 0;
      order: 4;
    }
  }
}

.lesson-teacher {
  .control-wrapper {
    .tab-control {
      #tab-write-note-container {
        display: none;
      }
      #tab-record-container {
        display: none;
      }
      #tab-participants-container {
        border-radius: $lesson-controlpanel-radius 0 0 0;
        order: 1;
      }
      #tab-messages-container {
        order: 2;
      }
      #tab-help-container {
        order: 3;
      }
      #tab-book-container {
        border-radius: 0 $lesson-controlpanel-radius 0 0;
        order: 4;
      }
    }
  }
}

.video-playback {
  .control-wrapper {
    .tab-control {
      #tab-write-note-container {
        order: 1;
        border-radius: $lesson-controlpanel-radius 0 0 0;
      }
      #tab-record-container {
        border-radius: 0 $lesson-controlpanel-radius 0 0;
        order: 2;
      }
      #tab-participants-container {
        display: none;
      }
      #tab-messages-container {
        display: none;
      }
      #tab-help-container {
        display: none;
      }
      #tab-book-container {
        display: none;
      }
    }
  }
}

#ongoing-lesson {
  .tab-control {
    #tab-record-container,
    #tab-participants-container {
      display: none;
    }
    #tab-messages-container {
      order: 1;
    }
    #tab-write-note-container {
      order: 2;
    }
    #tab-help-container {
      order: 3;
    }
    #tab-book-container {
      order: 4;
    }
  }
}
#test-lesson,
#future-lesson {
  .tab-control {
    #tab-record-container,
    #tab-messages-container,
    #tab-write-note-container,
    #tab-participants-container {
      display: none;
    }
    #tab-write-note-container {
      order: 2;
    }
  }
}

#closed-lesson {
  .tab-control {
    #tab-messages-container,
    #tab-participants-container,
    #tab-help-container {
      display: none;
    }
    #tab-write-note-container {
      order: 2;
    }
    #tab-book-container {
      order: 3;
    }
  }
}

/* hide the unneccessary buttons on video controller at lesson screen */
.lesson-student {
  .control-container {
    .camera-button {
      display: none;
    }
    .microphone-button {
      display: none;
    }
    .share-button {
      display: none;
    }
    .record-button {
      display: none;
    }
  }
}

.lesson-teacher {
  .control-container {
    .raise-hand-button {
      display: none;
    }
    .fullscreen {
      display: none;
    }
  }
}

.video-playback {
  .control-container {
    .raise-hand-button {
      display: none;
    }
    .camera-button {
      display: none;
    }
    .microphone-button {
      display: none;
    }
    .share-button {
      display: none;
    }
    .record-button {
      display: none;
    }
  }
}

.questions-content-list {
  .message-footer {
    flex-direction: row-reverse;
    .message-sender {
      display: none !important;
    }
  }
}
