span.icon.write-note:before {
    content: '\f304';
}

span.icon.records:before {
    content: '\f8d9';
}

span.icon.participants:before {
    content: '\f500';
}

span.icon.messages:before {
    content: '\f086';
}

span.icon.help:before {
    content: '\f128';
}

span.icon.book:before {
    content: '\f02d';
}

span.icon.arrow-open:before {
    content: '\f063';
}
span.icon.arrow-close:before {
    content: '\f062';
}
span.icon.hamburger:before {
    content: '\f142';
}
span.icon.pause:before {
    content: '\f04c';
}
span.icon.volume:before {
    content: '\f028';
}
span.icon.bell:before {
    content: '\f0f3';
}
span.icon.raisehand:before {
    content: '\f256';
}
span.icon.record:before {
    content: '\f8d9';
}
span.icon.info:before {
    content: '\f05a';
}
span.icon.door:before {
    content: '\f52b';
}
/* icons on contact tab */
span.icon.microphone:before {
    content: '\f130';
}
span.icon.microphone.on:before {
    content: '\f130';
}
span.icon.microphone.off:before {
    content: '\f131';
}
span.icon.student:before {
    content: '\f19d';
}
span.icon.teacher:before {
    content: '\f51c';
}

/* incon on message and contanct */
span.icon.time:before {
    content: '\f017';
}

/* icons on the book tab*/
span.icon.check:before {
    content: '\f00c';
}
span.icon.stat:before {
    content: '\f080';
    // ezt az ikont nem találom
}
span.icon.write:before {
    content: '\f304';
}
span.icon.trash:before {
    content: '\f1f8';
}
span.icon.download:before {
    content: '\f019';
}
span.icon.copy:before {
    content: '\f0c5';
}
span.icon.plus:before {
    content: '\f067';
}
span.icon.paperplane:before {
    content: '\f1d8';
}
span.icon.link:before {
    content: '\f0c1';
}
span.icon.externallink:before {
    content: "\f35d"; }
/* file icons */
span.icon.excel:before {
    content: '\f1c3';
}
span.icon.word:before {
    content: '\f1c2';
}
span.icon.pdf:before {
    content: '\f1c1';
}
span.icon.zip:before {
    content: '\f1c6';
}
span.icon.video:before {
    content: '\f1c8';
}
span.icon.audio:before {
    content: '\f1c7';
}
span.icon.ppt:before {
    content: '\f1c4';
}
span.icon.code:before {
    content: '\f3b8';
}
span.icon.exithor:before {
    content: '\f2f5';
}
span.icon.timeempty:before {
    content: '\f017'; //az üres és a teli ikonnak ugyanaz az azonosítója :(
}
span.icon.furder:before {
    content: '\f061';
}
span.icon.back-arrow:before {
    content: '\f060';
}
span.icon.hourglass-end:before {
    content: '\f253';
}
span.icon.lock-open:before {
    content: '\f3c1';
}
span.icon.lock:before {
    content: '\f023';
}
span.icon.info:before {
    content: '\f05a';
}
span.icon.mouse:before {
    content: '\f8cc';
}
span.icon.file:before {
    content: '\f573';
}
span.icon.play:before {
    content: '\f04b';
}
span.icon.save:before {
    content: '\f0c7';
}
span.icon.signin:before {
    content: '\f2f6';
}
span.icon.X-icon:before {
    content: '\f00d';
}
span.icon.check-mark:before {
    content: '\f00c';
}
span.icon.arrow-down:before {
    content: '\f107';
}
span.icon.plus-mark:before {
    content: '\f067';
}
span.icon.trash:before {
    content: '\f1f8';
}
span.icon.eye:before {
    content: '\f06e';
}
span.icon.list:before {
    content: '\f03a';
}
span.icon.upload:before {
    content: '\f093';
}
span.icon.mail-letter:before {
    content: '\f0e0';
}
span.icon.pointer:before {
    content: '\f25a';
}
