/***************/
/* MAIN Colors */
/***************/

/* white */
$fullwhite: #ffffff;

/* black */
$almost-black: #041d3a;

/* gray colors  */
$light-gray: #f5f7f8;
$softly-gray: #ebedf1;
$brutaly-gray: #adb9c3;

/* blue colors */
$light-blue: #f5fcff;
$softly-blue: #ddf1ff;
$brutaly-blue: #19a0ff;

/* red colors */
$light-red: #fdf3f4;
$softly-red: #fce8e9;
$brutaly-red: #f95e65;

/* green colors */
$light-green: #f4f9f8;
$softly-green: #d8faf4;
$brutaly-green: #2ac8a7;

/* yellow colors */
$light-yellow: #fffdf8;
$softly-yellow: #fff3d5;
$brutaly-yellow: #ffc740;

/* purple colors */
$light-purple: #fff7fe;
$softly-purple: #fae4f8;
$brutaly-purple: #d166d7;

/* border color */
$border-color: #ecf6ff;

/* video playback background */
$transparent-white: rgba(255, 255, 255, 0.8);
$a-new-color-again: rgba(4, 29, 58, 0.75);

/****************************************/
/* Margin and font dimension dimensions */
/****************************************/

/* 60px = 3.75rem   reduced 20% 48px   = 3rem */
/* 45px = 2.8rem    reduced 20% 36px   = 2.25rem */
/* 40px = 2.5rem    reduced 20% 32px   = 2rem */
/* 36px = 2.25rem   reduced 20% 28.8px = 1.8rem */
/* 33px = 2.06rem   reduced 20% 26.4px = 3rem */
/* 30px = 1.88rem   reduced 20% 24px   = 1.65rem */
/* 25px = 1.56rem   reduced 20% 20px   = 1.25rem */
/* 20px = 1.25rem   reduced 20% 16px   = 1rem */
/* 18px = 1.125rem  reduced 20% 14.4px = 0.9rem */
/* 16px = 1rem      reduced 20% 12.8px = 0.8rem*/
/* 15px = 0.94rem   reduced 20% 12px   = 0.75rem */
/* 12px = 0.75rem   reduced 20% 9.6px  = 0.6rem */
/* 10px = 0.65rem   reduced 20% 8px    = 0.5rem */
/* 9px  = 0.585rem  reduced 20% 7.2px  = 0.45rem */
/* 8px  = 0.52rem   reduced 20% 6.4px  = 0.4rem */
/* 5px  = 0.326rem  reduced 20% 4px    = 0.25rem*/

$large-margin: 3rem;
$large-padding: 3rem;

$not-too-large-margin: 2.25em;

$medium-padding: 2em;

$normal-margin: 1.65rem;
$normal-padding: 1.65rem;

$medium-margin: 1.25rem;
$medium-padding: 1.25rem;

$small-margin: 1rem;
$small-padding: 1rem;

$small2-margin: 0.9rem;
$small2-padding: 0.9rem;

$smaller-margin: 0.75rem;
$smaller-padding: 0.75rem;

$bit-smaller-margin: 0.6rem;
$bit-smaller-padding: 0.6rem;

$tiny-margin: 0.5rem;
$tiny-padding: 0.5rem;

$micro-margin: 0.4rem;
$micro-padding: 0.4rem;

$icon-space-small: 0.25rem;
$counter-icon-size: 0.4rem;
$counter-font-size: 0.45rem;
$icon-space-normal: 0.5rem;
$icon-space-medium: 0.75rem;
$icon-space-large: 1.25rem;
$icon-space-huge: 1.65rem;

/************************/
/* Icon and logo sizes  */
/************************/
$icon-size-micro: 10px;
$icon-size-tinyer: 15px;
$icon-size-tiny: 18px;
$icon-size-smaller: 20px;
$icon-size-small2: 25px;
$icon-size-small: 33px;
$icon-size-medium: 36px;
$icon-size-larger: 40px;

/***************/
/* Font sizes  */
/***************/
$title-font: 1.65rem;
$huge-font: 1.25rem;
$large-font: 22px;
$normal-font: 1rem;
$small-font: 0.9rem;
$tiny-font: 0.8rem;
$micro-font: 0.45rem;

$bold-font-weight: 600;
$normal-font-weight: 500;

$small-line-height: 1.33;
$normal-line-height: 1.5;
$large-line-height: 1.67;

/*********************/
/* Radiuses dimensions */
/*********************/
$small-radius: 6px;
$large-radius: 8px;

/*********************/
/*      Shadows      */
/*********************/
$shadow-1: 0 5px 20px 0 rgba(17, 41, 88, 0.05);
$shadow-2: 0 5px 20px 0 rgba(4, 29, 58, 0.05);
$shadow-3: 0 5px 20px 0 rgba(173, 185, 195, 0.25);

/*********************/
/* border dimension  */
/*********************/
$border-1: 1px;
$border-2: 2px;

/*********************/
/* table dimension  */
/*********************/
$table-cell-padding: $smaller-padding;
$table-cell-min-width: 120px;

/*********************/
/* Button dimensions */
/*********************/
$wide-button-width: 224px;
$huge-button-height: 80px;
$large-button-height: 60px;
$medium-button-height: 50px;

/*********************/
/* decor dimensions */
/*********************/
$normal-decor-width: 8px;
$small-decor-width: 4px;
$header-button-decor-height: 4px;

/*********************/
/* modal dimensions */
/*********************/
$modal-screen-width: 800px;

/*********************/
/* form dimensions */
/*********************/
$form-five-row: 8em;

/*********************/
/* scrollbar dimensions */
/*********************/
$global-scrollbar-width: 6px;
$global-scrollbar-height: 116px;
$global-scrollbar-padding: 20px;

/********************************************************************/
/********************************************************************/
/********************************************************************/
/********************************************************************/
/* All transition */
$transition-setting: all 0.3s ease-in-out;

/* select arrow position */
$select-arrow-position: 99%;

/**************************/
/******* Main headers *****/
/**************************/
/* Main header */
$main-header-height: 80px;
$main-header-padding-left-right: $large-margin;
$main-header-padding-left-right: $large-margin;
$main-header-font-size: $normal-font;
$main-header-font-weight: $bold-font-weight;
$main-header-menu-font-weight: $normal-font-weight;
$main-header-user-icon-space: $icon-space-normal;
$main-header-smartedu-logo-space: $icon-space-normal;
$main-header-smartedu-logo-size: $icon-size-small;
$main-header-smartedu-text-size: $small-font;
$main-header-menu-text-size: $normal-font;
$main-header-smartedu-logo-margin-right: $normal-margin;
$main-header-space-between-panels: $normal-margin;

/* mobil header */
$main-mobile-header-height: $main-header-height;
$main-mobile-header-margin-left: $normal-margin;
$main-mobile-header-smartedu-logo-size: $main-header-smartedu-logo-size;
$main-mobile-header-menu-margin-right: $normal-margin;
$main-mobile-header-menu-message-icon-size: $icon-size-micro;
$main-mobile-header-menu-font-size: $small-font;
$main-mobile-header-menu-margin-bottom: $small-margin;
$main-mobile-header-menu-user-margin-top-bottom: $normal-margin;
$main-mobile-header-menu-user-font-size: $main-header-menu-text-size;
$main-mobile-header-icon-space: $icon-space-normal;
$main-mobile-header-icon-size: $icon-size-tiny;
$main-mobile-header-logout-button-width: $wide-button-width;
$main-mobile-header-logout-button-margin-top-bottom: $small-margin;

/* secondary header styles */
$scondary-header-wrapper-radius: $small-radius;
$scondary-header-wrapper-marginbottom: $normal-margin;
$scondary-header-wrapper-decor-width: $normal-decor-width;
$scondary-header-wrapper-radius: $large-radius;
$secondary-header-padding: $bit-smaller-padding;
$scondary-header-left-container-margin: $normal-margin;
$scondary-header-left-container-icon-margin: $icon-space-huge;

/* back button */
$secondery-header-back-button-font-size: $small-font;
$secondery-header-back-button-font-weight: $bold-font-weight;
$secondery-header-back-button-icon-size: $icon-size-tiny;

$secondery-header-lesson-name-font-size: $normal-font;
$secondery-header-lesson-name-font-weight: $bold-font-weight;

$secondery-header-left-container-font-size: $normal-font;
$secondery-header-left-container-font-weight: $bold-font-weight;
$secondery-header-left-container-icon-size: $icon-size-smaller;

/* editor header */
$editor-header-radius: $small-radius;
$editor-header-padding: $normal-padding;
$editor-header-shadow: $shadow-1;

$editor-header-title-margin-bottom: $small-margin;
$editor-header-title-font-size: $normal-font;
$editor-header-title-font-weight: $bold-font-weight;

$editor-header-input-label-margin-right: $normal-margin;
$editor-header-input-label-font-size: $normal-font;
$editor-header-input-label-font-weight: $bold-font-weight;

$editor-header-input-margin-top: $tiny-margin;
$editor-header-input-padding: $smaller-padding;
$editor-header-input-radius: $small-radius;
$editor-header-input-border: $border-1 solid $brutaly-gray;
$editor-header-input-placeholder-font-size: $small-font;
$editor-header-input-placeholder-font-weight: $normal-font-weight;

$editor-exit-button-reltive-right: 30px;

$editor-header-input-space-between: $large-margin;

/**********************************/
/******* scrollable contents *****/
/*********************************/
$scrollable-content-srollbar-padding-right: $small-padding;
$scrollable-content-srollbar-margin-right: $normal-margin;
$scrollable-content-info-card-margin: $small-margin;

$scrollable-content-info-lesson-title-font-size: $normal-font;
$scrollable-content-info-lesson-title-font-weight: $bold-font-weight;
$scrollable-content-info-lesson-title-icon-size: $icon-size-tinyer;
$scrollable-content-info-lesson-title-icon-margin-right: $icon-space-normal;

/* scrollable boxes */
$content-item-decor-width: $normal-decor-width;
$content-item-decor-border-radius: 100px;

/*********************/
/******* modals *****/
/********************/
$modal-z-index: 500;
$modal-backdrop-filter: blur(15px);
$modal-screen-z-index: 9000;
$modal-screen-width: $modal-screen-width;
$modal-screen-radius: $small-radius;
$modal-screen-shadow: $shadow-2;
$modal-screen-header-height: 80px;
$modal-screen-header-radius: $small-radius $small-radius 0 0;

$modal-screen-title-font-size: $large-font;
$modal-screen-title-font-weight: $bold-font-weight;

$modal-screen-close-button-relative-right: 30px;
$modal-screen-box-content-padding: $large-padding;

$modal-screen-respondent-box-margin-bottom: $small-margin;
$modal-screen-respondent-box-font-size: $normal-font;
$modal-screen-respondent-box-font-weight: $normal-font-weight;
$modal-screen-respondent-box-line-height: $normal-line-height;

$modal-screen-respondent-box-icon-size: $icon-size-smaller;
$modal-screen-respondent-box-icon-margin-right: $icon-space-normal;

$modal-screen-max-points-font-size: $normal-font;
$modal-screen-max-achived-points-font-size: $normal-font;
$modal-screen-max-uncompleted-font-size: $normal-font;

$modal-screen-max-points-font-weight: $bold-font-weight;
$modal-screen-max-achived-font-weight: $bold-font-weight;
$modal-screen-max-uncompleted-font-weight: $bold-font-weight;

$modal-screen-max-points-line-height: $normal-line-height;
$modal-screen-max-achived-line-height: $normal-line-height;
$modal-screen-max-uncompleted-line-height: $normal-line-height;

$modal-screen-vote-result-font-size: $normal-font;
$modal-screen-vote-result-font-weight: $bold-font-weight;
$modal-screen-vote-result-line-height: $normal-line-height;

$modal-screen-vote-result-no-answer-font-size: $normal-font;
$modal-screen-vote-result-no-answer-font-weight: $bold-font-weight;
$modal-screen-vote-result-no-answer-line-height: $normal-line-height;
$modal-screen-vote-result-no-answer-icon-size: $icon-size-tiny;
$modal-screen-vote-result-no-answer-icon-margin-right: $icon-space-normal;

$modal-screen-close-btn-min-width: $wide-button-width;

$modal-screen-dual-box-wraper-margin-bottom: $normal-margin;
$modal-screen-choice-wrapper-width: 310px;
$modal-screen-choice-wrapper-height: 260px;
$modal-screen-choice-wrapper-radius: $small-radius;
$modal-screen-choice-wrapper-border: $border-1 solid $softly-blue;
$modal-screen-choice-wrapper-margin-right: $large-margin;

$modal-screen-choice-title-margin-top: $medium-padding;
$modal-screen-choice-title-margin-bottom: $smaller-margin;

$modal-screen-choice-title-font-size: $normal-font;
$modal-screen-choice-title-font-weight: $normal-font-weight;

$modal-screen-choice-descrition-width: 280px;
$modal-screen-choice-descrition-margin-left-right: $smaller-margin;

$modal-screen-choice-descrition-height: 79px;
$modal-screen-choice-descrition-font-size: $small-font;
$modal-screen-choice-descrition-font-weight: $normal-font-weight;
$modal-screen-choice-descrition-letter-spacing: 0.54px;
$modal-screen-choice-descrition-line-height: $normal-line-height;

$modal-screen-choice-button-height: $large-button-height;
$modal-screen-choice-button-border: $border-1 solid $border-color;

$modal-screen-choice-button-font-size: $normal-font;
$modal-screen-choice-button-font-weight: $normal-font-weight;
$modal-screen-choice-button-letter-spacing: 0.6px;
$modal-screen-choice-button-icon-size: $icon-size-tinyer;
$modal-screen-choice-button-margin-left: $tiny-margin;
$modal-screen-choice-button-margin-right: 0px;

$modal-screen-choice-link-font-border: $border-1 solid $border-color;
$modal-screen-choice-link-font-height: 60px;
$modal-screen-choice-link-font-weight: $normal-font-weight;
$modal-screen-choice-link-font-size: $normal-font;
$modal-screen-choice-link-letter-spacing: 0.6px;

$modal-screen-input-label-font-size: $normal-font;
$modal-screen-input-label-font-weight: $bold-font-weight;

$modal-screen-input-lesson-name-radius: $small-radius;
$modal-screen-input-lesson-name-border: $border-1 solid $brutaly-gray;
$modal-screen-input-lesson-name-margin-top: $tiny-margin;
$modal-screen-input-lesson-name-margin-bottom: $normal-margin;
$modal-screen-input-lesson-name-padding: $smaller-padding;

$modal-screen-input-lesson-name-font-size: $small-font;
$modal-screen-input-lesson-name-font-weight: $normal-font-weight;

$modal-screen-input-lesson-input-radius: $small-radius;
$modal-screen-input-lesson-input-border: $border-1 solid $brutaly-gray;
$modal-screen-input-lesson-input-margin-top: $tiny-margin;
$modal-screen-input-lesson-input-margin-bottom: $normal-margin;

$modal-screen-input-lesson-placeholder-font-size: $small-font;
$modal-screen-input-lesson-placeholder-font-weight: $normal-font-weight;

$modal-screen-half-size-input-wrapper-margin-right: $normal-margin;
$modal-screen-half-size-input-label-font-size: $normal-font;
$modal-screen-half-size-input-label-font-weight: $bold-font-weight;
$modal-screen-half-size-input-label-margin-bottom: $tiny-margin;

$modal-screen-half-size-input-lesson-date-radius: $small-radius;
$modal-screen-half-size-input-lesson-date-border: $border-1 solid $brutaly-gray;
$modal-screen-half-size-input-lesson-date-margin-top: $tiny-margin;
$modal-screen-half-size-input-lesson-date-margin-bottom: $normal-margin;
$modal-screen-half-size-input-lesson-date-padding: $smaller-padding;

$modal-screen-half-size-input-placeholder-font-size: $small-font;
$modal-screen-half-size-input-placeholder-font-weight: $normal-font-weight;

$modal-screen-half-size-input-lesson-time-radius: $small-radius;
$modal-screen-half-size-input-lesson-time-border: $border-1 solid $brutaly-gray;
$modal-screen-half-size-input-lesson-time-margin-top: $tiny-margin;
$modal-screen-half-size-input-lesson-time-margin-bottom: $normal-margin;
$modal-screen-half-size-input-lesson-time-padding: $smaller-padding;

$modal-screen-edit-link-name-radius: $small-radius;
$modal-screen-edit-link-name-border: $border-1 solid $brutaly-gray;
$modal-screen-edit-link-name-margin-top: $tiny-margin;
$modal-screen-edit-link-name-margin-bottom: $normal-margin;
$modal-screen-edit-link-name-padding: $smaller-padding;

$modal-screen-edit-browse-name-radius: $small-radius;
$modal-screen-edit-browse-name-border: $border-1 solid $brutaly-gray;
$modal-screen-edit-browse-name-padding: $smaller-padding;

$modal-screen-edited-file-name-radius: $small-radius;
$modal-screen-edited-file-name-border: $border-1 solid $brutaly-gray;
$modal-screen-edited-file-name-margin-top: $tiny-margin;
$modal-screen-edited-file-name-margin-bottom: $normal-margin;
$modal-screen-edited-file-name-padding: $smaller-padding;

$modal-screen-course-name-radius: $small-radius;
$modal-screen-course-name-border: $border-1 solid $brutaly-gray;
$modal-screen-course-name-margin-top: $tiny-margin;
$modal-screen-course-name-margin-bottom: $normal-margin;
$modal-screen-course-name-padding: $smaller-padding;

$modal-screen-file-name-radius: $small-radius;
$modal-screen-file-name-border: $border-1 solid $brutaly-gray;
$modal-screen-file-name-margin-top: $tiny-margin;
$modal-screen-file-name-margin-bottom: $normal-margin;
$modal-screen-file-name-padding: $smaller-padding;

$modal-screen-file-name-placeholder-font-size: $small-font;
$modal-screen-file-name-placeholder-font-weight: $normal-font-weight;

$modal-screen-file-name-label-font-size: $normal-font;
$modal-screen-file-name-label-font-weight: $bold-font-weight;
$modal-screen-file-name-label-margin-bottom: $tiny-margin;

$modal-screen-browse-box-border-radius: $small-radius 0px 0px $small-radius;
$modal-screen-browse-box-border: $border-1 solid $brutaly-gray;
$modal-screen-browse-box-padding: $smaller-padding;
$modal-screen-browse-box-font-size: $small-font;
$modal-screen-browse-box-font-weight: $normal-font-weight;

$modal-screen-browse-btn-border-radius: 0px $small-radius $small-radius 0px;
$modal-screen-browse-btn-min-width: $wide-button-width;

$modal-screen-link-name-radius: $small-radius;
$modal-screen-link-name-border: $border-1 solid $brutaly-gray;
$modal-screen-link-name-margin-top: $tiny-margin;
$modal-screen-link-name-margin-bottom: $normal-margin;
$modal-screen-link-name-padding: $smaller-padding;

$modal-screen-link-name-placeholder-font-size: $small-font;
$modal-screen-link-name-placeholder-font-weight: $normal-font-weight;

$modal-screen-browse-name-border-border-radius: $small-radius;
$modal-screen-browse-name-border: $border-1 solid $brutaly-gray;
$modal-screen-browse-name-padding: $smaller-padding;
$modal-screen-browse-name-font-size: $normal-font;
$modal-screen-browse-name-font-weight: $bold-font-weight;

$modal-screen-form-description-margin-top: $smaller-margin;
$modal-screen-form-description-margin-bottom: $normal-margin;
$modal-screen-form-description-font-size: $normal-font;
$modal-screen-form-description-font-weight: $normal-font-weight;
$modal-screen-form-description-line-height: $normal-line-height;
$modal-screen-form-description-letter-spacing: 0.6px;

$modal-screen-participant-email-height: 120px;
$modal-screen-participant-email-radius: $small-radius;
$modal-screen-participant-email-border: $border-1 solid $brutaly-gray;
$modal-screen-participant-email-margin-top: $tiny-margin;
$modal-screen-participant-email-padding: $smaller-padding;

$modal-screen-add-course-name-height: 60px;
$modal-screen-add-course-name-radius: $small-radius;
$modal-screen-add-course-name-border: $border-1 solid $brutaly-gray;
$modal-screen-add-course-name-margin-top: $tiny-margin;
$modal-screen-add-course-name-padding: $smaller-padding;

$modal-screen-form-button-container-height: $large-button-height;
$modal-screen-form-button-container-min-width: $wide-button-width;

/*******************************/
/******* button dimensions *****/
/*******************************/

/* button dimensions */
$small-link-button-padding: $bit-smaller-padding $medium-padding
  $bit-smaller-padding $smaller-padding;
$small-link-header-button-padding: $micro-padding $medium-padding $micro-padding
  $smaller-padding;
$small-link-button-space-left-right: $normal-margin;
$small-link-button-radius: $small-radius;
$small-link-button-height: $medium-button-height;
$small-link-button-icon-size: $icon-size-tiny;
$small-link-button-icon-margin-right: $icon-space-normal;

$small-link-icon-button-size: $icon-size-medium;
$small-link-icon-button-font-size: $small-font;

$icon-button-size: $icon-size-medium;
$icon-button-font-size: $small-font;
$icon-button-font-weight: $normal-font-weight;
$icon-button-icon-size: $icon-size-tiny;

$small-button-padding: $bit-smaller-padding $smaller-padding
  $bit-smaller-padding $micro-padding;
$small-button-radius: $small-radius;

$small-icon-button-padding: $micro-padding $bit-smaller-padding $micro-padding
  $bit-smaller-padding;
$small-icon-button-radius: $small-radius;

$icon-link-button-size: $icon-size-larger;
$icon-link-button-font-size: $small-font;
$icon-link-button-font-weight: $bold-font-weight;
$icon-link-button-icon-size: $icon-size-tiny;
$icon-link-button-icon-margin-right: $icon-space-normal;

$header-button-font-size: $small-font;

$small-button-font-size: $small-font;
$small-button-font-weight: $normal-font-weight;
$small-button-icon-size: $icon-size-tiny;
$small-button-icon-margin-right: $icon-space-normal;
$small-button-text-first-icon-margin-left: $small-button-icon-margin-right;

$video-play-button-margin-right: $tiny-margin;
$video-play-button-icon-size: $smaller-margin;
$video-play-button-font-size: $normal-font;

$lesson-phase-button-shadow: $shadow-1;
$lesson-phase-button-border: $border-1 solid $border-color;
$lesson-phase-button-radius: $large-radius;
$lesson-phase-button-padding-top-bottom: $normal-padding;
$lesson-phase-button-padding-font-size: $normal-font;
$lesson-phase-button-padding-font-weight: $bold-font-weight;
$lesson-phase-button-icon-size: $icon-size-tinyer;
$lesson-phase-button-icon-margin-right: $icon-space-medium;
$lesson-phase-button-height: $huge-button-height;

$modal-exit-button-size: $icon-size-medium;
$modal-exit-font-size: $normal-font;
$modal-exit-font-weight: $normal-font-weight;
$modal-exit-relative-right: 30px;
$modal-exit-icon-size: $icon-size-tiny;

$screen-button-tab-height: 80px;
$screen-button-tab-font-size: $normal-font;
$screen-button-tab-font-weight: $normal-font-weight;
$screen-button-tab-active-decor-height: $header-button-decor-height;
$screen-button-tab-active-radius: $header-button-decor-height
  $header-button-decor-height 0 0;

/**************************************/
/* lesson screen video content window */
/**************************************/
$main-background-color: $light-gray;
$spacebetween-video-videocontrol: $large-margin;
$spacebetween-control-button-text: $tiny-font;
$bottomspace-video-videocontrol: $medium-padding;
$bottomspace-buttons-between: $normal-margin;
$lesson-screen-margin: $normal-margin;

/* Main title */
$lesson-teacher-maintitle-dektop-marginbottom: $normal-margin;
$lesson-teacher-maintitle-tablet-margin: $normal-margin;

/* hamburger menu button */
$hamburger-button-color: $brutaly-blue;
$hamburger-button-bgcolor: $softly-blue;
$hamburger-button-padding: $small-padding $small2-padding $small-padding
  $small2-padding;
$hamburger-button-radius: $small-radius;
$hamburger-button-border: $border-1 solid $border-color;
$hamburger-button-fontsize: $small-font;
$hamburger-button-lineheight: $small-line-height;
$hamburger-button-fontweight: $normal-font-weight;

$hamburger-button-phone-padding: $micro-padding $small2-padding $micro-padding
  $small2-padding;
$hamburger-button-phone-radius: $small-radius;
$hamburger-button-phone-border: $border-1 solid $border-color;
$hamburger-button-phone-fontsize: $small-font;
$hamburger-button-phone-lineheight: $small-line-height;
$hamburger-button-phone-fontweight: $normal-font-weight;

/* hamburger menu message mark tablet */
$hamburger-button-counter-color: $brutaly-red;
$hamburger-button-counter-phone-size: 22px;
$hamburger-button-counter-phone-border: 2px;

/* hamburger menu message mark phone */
$hamburger-button-counter-color: $brutaly-red;
$hamburger-button-counter-size: 30px;
$hamburger-button-counter-border: 3px;

/* round button */
$lesson-teacher-round-button: $small-font;

/* video area*/
$lesson-spacebetween-vidoecontent-control: $normal-margin;
$video-background-color: $softly-gray;
$lesson-video-device-message-margin: $normal-margin;
$lesson-video-width: 100%;
$lesson-video-border-radius: $small-radius;
$lesson-video-minwidth: 350px;
$lesson-recordinfo-bgcolor: $softly-red;
$lesson-recordinfo-padding: $micro-padding $small2-padding $micro-padding
  $small2-padding;
$lesson-recordinfo-radius: $small-radius;
$lesson-recordinfo-color: $brutaly-red;
$lesson-recordicon-marginright: $smaller-margin;
$video-stream-messages-padding: $micro-padding $small2-padding $micro-padding
  $small2-padding;
$video-stream-messages-margintop: $small-margin;
$video-stream-messages-borderradius: $small-radius;

/* small camera image at top on screen share */
$lesson-small-camera-top: 20px;
$lesson-small-camera-right: 20px;
$lesson-small-camera-maxwidth: 320px;
$lesson-small-camera-maxheight: 240px;

/* video record info */
$video-record-info-top: 30px;
$video-record-info-left: 30px;

/* video stream message */
$video-record-info-right: 30px;
$video-record-info-left: 30px;
$video-record-info-bottom: 30px;

/* global text-color */
$normal-text-color: $almost-black;
$highlighted-text: $brutaly-blue;

/* main window's round buttons */
$video-button-spacebetween: $large-margin;
$inactive-button-bgcolor: $fullwhite;
$video-button-size: 80px;
$inactive-button-hoverbgcolor: $softly-blue;
$inactive-button-textcolor: $brutaly-gray;
$active-button-bgcolor: $softly-blue;
$active-button-textcolor: $brutaly-blue;
$record-button-bgcolor-on: $softly-red;
$record-button-bgcolor-on-hover: $softly-red;
$record-button-textcolor-on: $brutaly-red;
$video-button-shadow: $shadow-3;

/* lesson side/control panel */
$lesson-controlpanel-width: 30%;
$lesson-controlpanel-maxwidth: 600px;
$lesson-controlpanel-minwidth: 550px;
$lesson-controlpanel-radius: $small-radius;
$lesson-controlpanel-shadow: $shadow-1;
$lesson-contolpanel-hoverbgborder: $border-2 solid $light-gray;
$lesson-contolpanel-hoverbgcolor: $softly-blue;

/* tabs of the contorl panel */
$lesson-tab-control-height: 80px;

$lesson-tab-border: $border-1 solid $softly-blue;
$lesson-tab-bgcolor: $fullwhite;
$lesson-inactive-tab-bgcolor: $fullwhite;
$lesson-active-tab-border: $border-2 solid $softly-blue;
$lesson-inactive-tab-color: $brutaly-gray;
$lesson-active-tab-color: $brutaly-blue;
$lesson-active-tab-bgcolor: $softly-blue;
$lesson-tab-newmessage-mark-size: $icon-size-tinyer;
$lesson-tab-newmessage-border: $border-2 solid $fullwhite;
$lesson-message-counter-color: $brutaly-red;
$lesson-message-counter-border: $border-2 solid $fullwhite;
$lesson-tab-spacearound: $normal-margin;
$lesson-tab-right-padding: $small-padding;

/* first tab the contacts */
$contact-color: $almost-black;
$contact-icon-color: $brutaly-blue;

/* contacts tab */
$contact-user-icon: $brutaly-blue;
$spacebetween-contacts: $normal-margin;
$spacebetween-user-icon-name: $icon-size-smaller;
$contact-status-icon-width: $icon-size-medium;
$contact-status-icon-height: $icon-size-medium;
$contact-status-icon-border-radius: $small-radius;

$user-micorphone-on-bgcolor: $light-gray;
$user-micorphone-on-color: $brutaly-blue;
$user-micorphone-off-bgcolor: $softly-red;
$user-micorphone-off-color: $brutaly-red;

$user-raised-hand-info-marginleft: $small-margin;
$user-raised-hand-info-padding: $micro-padding $small2-padding $micro-padding
  $small2-padding;
$user-raised-hand-info-mobile-padding: $micro-padding;
$user-raised-hand-info-bgcolor: $softly-blue;
$user-raised-hand-info-color: $brutaly-blue;
$user-raised-hand-info-radius: $small-radius;
$user-raised-hand-info-iconsmarginright: $micro-margin;

$contatcs-id-icon-size: $icon-size-smaller;
$contatcs-id-line-height: 27px;

$contact-action-icon-size: $icon-size-tinyer;
$contact-action-line-height: 20px;

/* second tab messages */
$text-wrapper-padding-right: $tiny-padding;

$message-form-textarea-font-size: $small-font;
$message-form-textarea-font-weight: $normal-font-weight;

$message-border-radius: $small-radius;
$message-shadow: $shadow-1;
$message-border: $border-1 solid $softly-blue;
$message-bg-color: $fullwhite;
$message-time-color: $brutaly-blue;
$message-sender-color: $brutaly-gray;
$message-outgoing-bgcolor: $brutaly-blue;
$message-outgoing-color: $fullwhite;

$message-form-shadow: $shadow-1;
$message-form-border: $border-1 solid $softly-blue;
$message-form-bg-color: $fullwhite;
$message-form-radius: $small-radius;
$message-form-color: $almost-black;

$message-button-color: $brutaly-blue;
$message-button-bgcolor: $softly-blue;

$message-button-hovercolor: $softly-blue;
$message-button-hoverbgcolor: $brutaly-blue;

$message-form-padding-inside: $tiny-padding;
$message-form-height: $form-five-row;

$message-form-button-height: $large-button-height;
$message-form-button-font-size: $small-font;
$message-form-button-icon-margin-right: $smaller-margin;

$message-item-margin-bottom: $normal-margin;
$message-body-padding: $smaller-padding;

$message-body-font-size: $small-font;
$message-body-font-weight: $normal-font-weight;
$message-body-line-height: $large-line-height;

$message-footer-padding-top: $tiny-padding;
$message-footer-height: 50px;

/* book tab */
$book-content-spacebetween: $not-too-large-margin;

$book-dekor-width: $small-decor-width;
$book-dekor-radius: $book-dekor-width/2;

$book-info-testsicon-color: $brutaly-blue;
$book-info-votesicon-color: $brutaly-yellow;
$book-info-filesicon-color: $brutaly-green;
$book-info-linksicon-color: $brutaly-purple;

$book-info-icon-marginright: $icon-space-large;

$book-info-record-specabetween: $normal-margin;
$book-info-record-last_specabetween: $small-margin;

$book-info-header-font-size: $normal-font;
$book-info-header-icon-size: $icon-size-small2;
$book-info-header-font-weight: $normal-font-weight;
$book-info-header-line-height: $normal-line-height;
$book-info-header-color: $almost-black;
$book-info-header-marginbottom: $small-margin;

$book-info-title-color: $almost-black;

$book-info-action-iconsize: $icon-size-larger;
$book-info-action-iconradius: $small-radius;

$book-upload-button-color: $brutaly-blue;
$book-upload-button-bgcolor: $softly-blue;
$book-upload-button-width: 100%;
$book-upload-button-height: $large-button-height;
$book-upload-button-radius: $small-radius;
$book-upload-button-border: $border-1 solid $border-color;
$book-upload-button-fontsize: $small-font;
$book-upload-button-lineheight: $small-line-height;
$book-upload-button-fontweight: $normal-font-weight;

$book-blue-info-bgcolor: $softly-blue;
$book-blue-info-color: $brutaly-blue;

$book-green-info-bgcolor: $softly-green;
$book-green-info-color: $brutaly-green;

$book-yellow-info-bgcolor: $softly-yellow;
$book-yellow-info-color: $brutaly-yellow;

$book-purple-info-bgcolor: $softly-purple;
$book-purple-info-color: $brutaly-purple;

$book-red-info-bgcolor: $softly-red;
$book-red-info-color: $brutaly-red;

$lesson-material-info-scpace-between-icon-title: $icon-space-medium;
$lesson-material-info-icon-bgcolor: $softly-blue;
$lesson-material-info-icon-color: $brutaly-blue;
$lesson-material-info-icon-padding: $micro-padding $small2-padding
  $micro-padding $small2-padding;
$lesson-material-info-icon-margin-left: $normal-margin;
$lesson-material-info-test-done-margin-right: $smaller-margin;
$lesson-material-info-icon-radius: $small-radius;

$lesson-content-font-size: $icon-size-tinyer;
$lesson-content-font-weight: $normal-font-weight;
$lesson-content-line-height: $normal-line-height;

$lesson-test-done-font-size: $icon-size-tinyer;
$lesson-test-done-font-weight: $normal-font-weight;
$lesson-test-done-line-height: $normal-line-height;

$lesson-content-icon-margin-right: $icon-space-normal;
$lesson-test-done-icon-margin-right: $icon-space-normal;

$lesson-info-action-icon-margin-right: $smaller-margin;

/* questions tab */
$questions-content-item-margin-bottom: $normal-margin;
$questions-content-message-body-padding: $smaller-padding;
$questions-content-message-text-size: $small-font;
$questions-content-message-font-weight: $normal-font-weight;
$questions-content-message-line-height: $large-line-height;

$questions-content-message-footer-height: 50px;
$questions-content-message-footer-padding-top: $tiny-padding;

/* records tab */
$record-content-margin-bottom: $normal-margin;
$record-thumbnail-margin-right: $small-margin;
$record-thumbnail-radius: $small-radius;

$record-length-position-top: 10px;
$record-length-position-left: 10px;
$record-length-background-color: $transparent-white;
$record-length-radius: $small-radius;
$record-length-z-index: 10;
$record-length-padding: $micro-padding $smaller-padding $micro-padding
  $smaller-padding;

$record-lesson-id-margin-bottom: $smaller-margin;
$record-lesson-id-font-size: $normal-font;
$record-lesson-id-font-weight: $bold-font-weight;
$record-lesson-id-line-height: $normal-line-height;

$record-number-of-record-font-size: $normal-font;
$record-number-of-record-font-weight: $bold-font-weight;
$record-number-of-record-line-height: $normal-line-height;

$record-content-embedded-margin-bottom: $normal-margin;
$record-content-embedded-margin-bottom: $normal-margin;
$record-content-embedded-min-width: 250px;

$record-content-embedded-number-of-record-margin-bottom: $smaller-margin;

/* scrollbar properties */
$scrollbar-width: $global-scrollbar-width;
$scrollbar-height: $global-scrollbar-height;
$scrollbar-color: $softly-blue;
$scrollbar-padding: $global-scrollbar-padding;

/*Main page*/
$mainpage-background-color: $light-gray;
$mainpage-container-border-radius: $small-radius;
$mainpage-panel-bgcolor: $fullwhite;

/* header of the page */
$mainpage-setting-user-icon-color: $brutaly-blue;
$mainpage-setting-exit-color: $brutaly-blue;
$mainpage-setting-exit-bgcolor: $softly-blue;

/*Mainpage left panel header*/
$content-header-title-fontsize: $normal-font;
$content-header-date-fontsize: $small-font;
$content-header-lineheight: 1.5;
$content-header-title-fontweight: $bold-font-weight;
$content-header-date-fontweight: $normal-font-weight;
$content-header-date-height: 25px;

/* Mainpage left panel */

$content-header-margin-bottom: $small-margin;
$book-info-header-margin-bottom: $normal-margin $normal-margin 0px
  $normal-margin;
$content-header-margin-around: $normal-margin $normal-margin 0px $normal-margin;
$content-header-date-color: $brutaly-gray;

$info-time-schedule-marginright: $micro-margin;
$info-time-schedule-color: $brutaly-blue;

$info-lesson-container-margin: $normal-margin;
$info-lesson-details-margin: $micro-margin;
$info-lesson-detail-textcolor: $a-new-color-again;

$info-card-margin-top: $small-margin;
$info-card-margin-bottom: $small-margin;
$info-card-margin-left: $small-margin;
$info-card-margin-right: $normal-margin;

$info-card-header-font-weight: $normal-font-weight;
$info-card-header-font-size: $normal-font;
$info-card-header-line-height: $normal-line-height;

$info-info-record-font-size: $normal-font;
$info-info-record-font-weight: $bold-font-weight;

$info-info-time-schedule-font-size: $normal-font;
$info-info-time-schedule-line-height: $normal-line-height;

$info-info-time-schedule-icon-size: $icon-size-tiny;
$info-info-time-schedule-line-height: $normal-line-height;
$info-info-time-schedule-font-weight: $bold-font-weight;

$content-item-border-radius: $small-radius;

/* Mainpage left panel scroll bar */
$mainpage-scrollbar-width: 8px;
$mainpage-scrollbar-height: 336px;
$mainpage-scrollbar-color: $brutaly-blue;
$mainpage-scrollbar-padding: 30px;
$mainpage-scrollbar-border-radius: 100px;
$mainpage-scrollbar-bgcolor: $light-blue;

/* Mainpage right panel*/
$user-icon-color: $brutaly-blue;
$rightpanel-info-card-margin-top: $small-margin;
$rightpanel-info-card-margin-bottom: $small-margin;
$rightpanel-info-card-margin-left: $small-margin;
$rightpanel-info-card-margin-right: $normal-margin;

$content-item-margin-bottom: $small-margin;

$furder-btn-width: $icon-size-larger;
$furder-btn-height: $icon-size-larger;
$furder-icon-margin-left: $small-margin;

/*Info card coloures*/
$info-card-bgcolor-blue: $light-blue;
$info-card-bgcolor-red: $light-red;
$info-card-bgcolor-green: $light-green;
$info-card-bgcolor-purple: $light-purple;
$info-card-bgcolor-yellow: $light-yellow;

$info-lesson-blue: $brutaly-blue;
$info-lesson-bgblue: $light-blue;
$info-lesson-btn-blue: $softly-blue;
$lesson-info-btn-bgcolor-blue: $softly-blue;

$info-lesson-purple: $brutaly-purple;
$info-lesson-bgpurple: $light-purple;
$info-lesson-btn-purple: $softly-purple;
$lesson-info-btn-bgcolor-purple: $softly-purple;

$info-lesson-green: $brutaly-green;
$info-lesson-bggreen: $light-green;
$info-lesson-btn-green: $softly-green;
$lesson-info-btn-bgcolor-green: $softly-green;

$info-lesson-yellow: $brutaly-yellow;
$info-lesson-bgyellow: $light-yellow;
$info-lesson-btn-yellow: $softly-yellow;

$info-lesson-red: $brutaly-red;
$info-lesson-bgred: $light-red;
$lesson-info-btn-bgcolor-red: $softly-red;

$info-lesson-more-radius: $small-radius;

/*Text color*/
$user-text-color: $brutaly-blue;

/*Secondary header*/
$secondary-header-height: 74px;
$secondary-header-back-btn-bgcolor: $softly-blue;
$secondary-header-color: $brutaly-blue;
$secondary-header-bgcolor: $light-blue;
$secondary-header-radius: $small-radius;

/*lesson-symbol variables*/
$red-symbol-textcolor: $brutaly-red;
$red-symbol-bgcolor: $softly-red;

$blue-symbol-textcolor: $brutaly-blue;
$blue-symbol-bgcolor: $softly-blue;

$green-symbol-textcolor: $brutaly-green;
$green-symbol-bgcolor: $softly-green;

$symbol-box-height: $not-too-large-margin;
$symbol-box-border-radius: $small-radius;
$symbol-box-padding: $small-padding;
$symbol-box-margin-right: $normal-margin;

/*Write-note tab*/
$note-time-color: $brutaly-blue;
$note-tool-color: $brutaly-gray;

/* student test */
$test-container-padding-top: $normal-padding;
$test-container-padding-left: $large-padding;
$test-container-padding-right: $large-padding;
$test-container-padding-bottom: $large-padding;

$test-container-radius: $small-radius;
$test-container-test-title-margin-bottom: $small-margin;
$test-container-test-title-container: 30px;

$close-button-position: 30px;

/* video record tab */
$video-thumbnail-size: 60%;
$video-recors-info-size: 100%-$video-thumbnail-size;

/* administration and instition page */
$administration-content-padding: $normal-padding;
$administration-content-shadow: $shadow-1;
$administration-content-radius: $small-radius;
$administration-input-bottom-padding: $normal-padding;
$administration-input-raius: $small-radius;
$administration-input-padding: $smaller-padding;
$administration-input-border: $border-1 solid $brutaly-gray;
$administration-input-margin-right: $normal-margin;
$administration-input-margin-left: $normal-margin;
$administration-input-margin-top: $normal-margin;
$administration-label-margin-bottom: $tiny-margin;
$administration-button-min-width: $wide-button-width;
$administration-button-margin-top: $large-margin;
$administration-last-form-margin-bottom: $large-margin;

$administration-institution-name-font-size: $normal-font;
$administration-institution-name-font-weight: $normal-font-weight;
$administration-institution-name-letter-spacing: 0.6px;

$administration-input-label-font-size: $normal-font;
$administration-input-label-font-weight: $bold-font-weight;
$administration-input-label-bottom-margin: $tiny-margin;
$administration-input-placeholder-font-size: $small-font;
$administration-input-placeholder-font-weight: $normal-font-weight;

/* tests */
$tests-box-shadow: $shadow-1;
$tests-margin-top: $normal-margin;
$tests-radius: $small-radius;
$tests-padding: $normal-padding;
$tests-margin-bottom: $smaller-margin;
$tests-icon-size: $icon-size-small;
$tests-border: $border-1 solid $brutaly-gray;
$tests-margin-right: $smaller-margin;
$tests-question-margin-right: $smaller-margin;
$tests-question-input-padding: $smaller-padding;

$tests-answer-margin-top: $small-margin;
$tests-answer-margin-right: $normal-margin;
$tests-answer-margin-bottom: $smaller-margin;
$tests-answer-icon-space: $icon-space-normal;
$tests-answer-spacebetween: $smaller-margin;

$tests-switch-width: 60px;
$test-switch-height: 34px;

$test-answer-button-margin-top: $not-too-large-margin;
$test-answer-button-margin-bottom: $small-margin;
$test-answer-button-icon-space: $icon-space-normal;

$test-answer-new-question-btn-top: $tiny-margin;

$tests-question-text-font-size: $normal-font;
$tests-question-text-font-weight: $bold-font-weight;

$tests-answer-options-font-size: $normal-font;
$tests-answer-options-font-weight: $normal-font-weight;

$tests-answer-result-checkbox-size: $icon-size-small;
$tests-answer-result-icon-size: $icon-size-tiny;
$tests-answer-result-radius: $small-radius;
$tests-answer-result-border: $border-1 solid $brutaly-gray;
$tests-answer-result-margin-right: $smaller-margin;
$tests-answer-result-font-size: $normal-font;
$tests-answer-result-font-weight: $normal-font-weight;

$tests-answer-finish-button-width: $wide-button-width;

$tests-answer-result-margin-bottom: $small-margin;

$tests-vote-content-padding: $normal-padding;
$tests-vote-content-margin-top-bottom: $normal-margin;
$tests-vote-content-radius: $small-radius;
$tests-vote-content-shadow: $shadow-1;
$tests-vote-content-title-margin-bottom: $normal-margin;

$tests-vote-content-result-margin-top-bottom: $small-margin;

$tests-add-new-answer-btn-margin-top: $normal-margin;
$tests-add-new-answer-btn-font-size: $normal-font;

/* video playback screen */
$video-playback-control-padding: $small-padding $normal-padding $small-padding
  $normal-padding;
$video-playback-control-bgcolor: $transparent-white;
$video-playback-control-pause-button-margins: $normal-margin;
$video-playback-control-volume-button-margin: $normal-margin;

/* main pages settings */
$mainpage-panel-wrapper-space-around: $large-margin;
$mainpage-panel-space-around: $normal-margin;
$mainpage-panel-scrollbar-space-right: $smaller-margin;
$mainpage-panel-wrapper-space-left: $mainpage-panel-wrapper-space-around -
  $mainpage-panel-scrollbar-space-right;

/* inputs form */
$input-label-font-size: $normal-font;
$input-font-size: $small-font;
$input-font-weight: $normal-font-weight;
$input-taxt-padding: $smaller-padding;
$input-text-around-padding: $smaller-padding;

/* statistics */
$statistics-margin-top: $normal-margin;
$statistics-padding: $normal-padding;
$statistics-border: 6px;
$statistics-shadow: $shadow-1;

/* lesson-information */
$lesson-information-margin-bttom: $normal-margin;
$lesson-information-databox-min-width: 160px;
$lesson-information-databox-padding: $medium-padding $micro-margin;
$lesson-information-lesson-description-padding: $normal-padding;
$lesson-information-databox-radius: $large-radius;
$lesson-information-databox-border: $border-1 solid $border-color;
$lesson-information-databox-max-height: 80px;
$lesson-information-databox-font-size: $small-font;
$lesson-information-databox-icon-margin-right: $micro-margin;
$lesson-information-databox-font-weight: $normal-font-weight;
$lesson-information-databox-line-height: $normal-line-height;
$lesson-main-wrapper-margin-bottom: $normal-margin;

/* header-with-3buttons */
$content-header-buttons-height: 25px;
$content-header-buttons-font-size: $small-font;
$content-header-buttons-font-weight: $bold-font-weight;
$content-header-buttons-icon-size: $icon-size-tinyer;
$content-header-buttons-icon-margin-right: $icon-space-small;

/* tab buttons */
$tab-button-font-size: $huge-font;
$tab-button-line-height: $small-line-height;
$tab-button-message-counter-icon-size: $counter-icon-size;
$tab-button-message-counter-font-size: $counter-font-size;

/* write note tab*/
$write-note-margin-bottom: $normal-margin;
$write-note-body-padding: $smaller-padding;

$message-note-body-font-size: $small-font;
$message-note-body-font-weight: $normal-font-weight;
$message-note-body-line-height: $large-line-height;

$message-note-footer-padding-top: $tiny-padding;
$message-note-footer-height: 50px;

$message-note-record-margin-right: $tiny-margin;

$message-note-edit-note-font-size: $tiny-font;
$message-note-edit-note-font-weight: $normal-font-weight;

$message-note-edit-note-icon-margin-right: $icon-space-small;

$message-save-note-font-size: $tiny-font;
$message-save-note-font-weight: $normal-font-weight;
$message-save-note-icon-margin-right: $icon-space-small;

$message-note-time-icon-margin-right: $icon-space-small;

$message-note-action-area-margin-top: $normal-margin;

/* table */
$table-border-spacing: 0 $table-cell-padding;
$table-font-size: $small-font;
$table-font-weight: $normal-font-weight;
$table-line-height: $normal-line-height;
$table-min-width: $table-cell-min-width;
$table-padding: $smaller-padding;
$table-border: $border-1 solid $border-color;
$table-last-border-radius: 0px $small-radius 0px $small-radius;
$table-first-border-radius: $small-radius 0px 0px $small-radius;

/* coures container */
$course-participants-container-margin-right: $normal-margin;
$course-participants-container-margin-bottom: $normal-margin;

$course-course-creator-font-size: $normal-font;
$course-course-creator-font-weight: $normal-font-weight;
$course-course-creator-line-height: $normal-line-height;

$course-course-creator-icon-size: $icon-size-small2;
$course-course-creator-icon-margin-right: $icon-space-normal;

$course-students-of-course-font-size: $normal-font;
$course-students-of-course-font-weight: $normal-font-weight;
$course-students-of-course-line-height: $normal-line-height;
$course-students-of-course-margin-top: $normal-margin;

$course-students-of-course-icon-size: $icon-size-small2;
$course-students-of-course-icon-margin-right: $icon-space-normal;

$course-course-lessons-container-margin-right: $normal-margin;
$course-course-lessons-container-margin-bottom: $normal-margin;

/* course-list  teacher_mainpage.html and student_mainpage.html */
$course-list-info-lesson-title-font-size: $normal-font;
$course-list-info-lesson-title-font-weight: $bold-font-weight;

$course-list-user-container-font-size: $normal-font;
$course-list-user-container-font-weight: $bold-font-weight;
$course-list-user-container-line-height: $normal-line-height;

$course-list-user-container-icon-size: $icon-size-smaller;
$course-list-user-container-icon-margin-right: $icon-space-normal;

/* test lesson information */
$test-lesson-information-lesson-name-font-size: $small-font;
$test-lesson-information-lesson-name-padding: $small-padding;

/* student settings */
$student-settings-mail-by-user-font-size: $small-font;
$student-settings-mail-by-user-text-margin: $smaller-margin;
$student-settings-mail-by-user-margin: $large-margin;
