<% layout('../layouts/default') -%>

<div class="single-panel-wrapper">
    <div class="institution-content">
      <div class="content-header-wrapper header-with-2buttons">
        <div class="content-header">
          <div class="content-header-text">
            <div class="content-header-title">
              <p>Intézmények</p>
            </div>
            <div class="content-header-date">
              <p>Itt találhatja a felvett intézményeket</p>
            </div>
          </div>
        </div>
        <div class="header-action-container">
          <div class="small-link-button green-button">
            <a href="/admin/customers/add"
              ><span class="fa icon plus-mark"></span>Intézmény
              létrehozása</a
            >
          </div>
        </div>
      </div>
      <div class="scrollable-content">
        <div class="scrolled-content">
          <table class="user-datas">
            <thead>
              <tr class="table-header">
                <th class="thead" id="first-column">Név</th>
                <th class="thead">Típus</th>
                <th class="thead">Altípus</th>
                <th class="thead">Létrehozás</th>
                <th class="thead"></th>
              </tr>
            </thead>
            <tbody>
                <% if (customers) { %>
                    <% customers.forEach(customer => { %>
                        <tr class="table-row" id="customer-<%=customer.id%>">
                            <td class="institution-name">
                            <%=customer.name%>
                            </td>
                            <td class="type"><%=customer.type%></td>
                            <td class="subtype"><%=customer.subtype%></td>
                            <td class="creation-date"><%=moment(customer.created).format('L LT')%></td>
                            <td class="table-buttons">
                            <a href="/admin/setcustomer/<%=customer.id%>" >
                                <button class="icon-button green-button mr-15" title="Kiválasztás">
                                    <span class="fa icon pointer"></span>
                                </button>
                            </a>
                            <a href="/admin/customers/<%=customer.id%>/edit" >
                                <button class="icon-button blue-button mr-15" title="Szerkesztés">
                                    <span class="fa icon write"></span>
                                </button>
                            </a>
                            <button class="icon-button red-button open-modal" title="Törlés" data-target="#customer-delete-modal" data-url-param="<%=customer.id%>">
                                <span class="fa icon trash"></span>
                            </button>
                            </td>
                        </tr>
                    <% }) %> 
                  <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Deletion modal -->
    <div class="modal-cover"></div>
    <div class="screen-container modal-screen" id="customer-delete-modal">
      <div class="mini-box">
        <div class="mini-box-header">
          <p>Intézmény törlése</p>
          <button class="modal-exit-btn close-modal close-modal">
            <span class="fa icon X-icon"></span>
          </button>
        </div>

        <div class="mini-box-content">
          <p>A Törlés gombra kattintva az intézmény összes adata törlésre kerül.</p>
          <br/>
          <p>Ez a művelet nem visszafordítható.</p>
          <div class="form-button-container">
            <div class="form-action-btn">
              <a class="small-button gray-button close-modal">
                <span class="fa icon X-icon"></span>Mégse
              </a>
            </div>
            <div class="form-action-btn">
              <button class="small-button red-button modal-url-button" onclick="deleteEntity('admin/customers', 'customer', this, '<%=currentCustomer.id%>')">
                <span class="fa icon trash"></span>Törlés
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>