<% layout('../layouts/default') %> 

<div class="single-panel-wrapper">
    <form class="institution-data-form" action="/admin/customers/<%=customer.id%>/edit" method="POST">
        <div class="content-header-wrapper simple-header">
          <div class="content-header">
            <div class="content-header-text">
              <div class="content-header-title">
                <p>Intézmény szerkesztése</p>
              </div>
            </div>
          </div>
        </div>
    
        <div class="user-data-settings">
          <div class="institution-name">
            <label for="institution-name">Név</label>
            <input
              type="text"
              name="name"
              id="institution-name"
              placeholder="Intézmény neve"
              value="<%= customer.name %>"
              required
            />
          </div>
        </div>
        <div class="user-data-settings">
          <div class="institution-type-container">
            <label for="institution-type">Típus</label>
            <input
              type="text"
              name="type"
              id="institution-type"
              placeholder="Intézmény"
              value="<%= customer.type %>"
              required
            />
          </div>
          <div class="institution-subtype-container">
            <label for="institution-subtype">Altípus</label>
            <input
              type="text"
              name="subtype"
              id="institution-subtype"
              placeholder="Gimnázium"
              value="<%= customer.subtype %>"
              required
            />
          </div>
        </div>
        <button class="small-button green-button create-btn">
          <span class="fa icon check-mark"></span>Mentés
        </button>
      </form>
</div>