/* structure of the second header */
/* default color is bule */
.scondary-header-wrapper {
  display: flex;
  width: 100%;
  background-color: $info-lesson-bgblue;

  border-radius: $scondary-header-wrapper-radius;

  margin-bottom: $scondary-header-wrapper-marginbottom;

  .decor {
    width: $scondary-header-wrapper-decor-width;
    align-self: stretch;
    border-radius: $scondary-header-wrapper-radius;
    background-color: $info-lesson-blue;
  }

  .secondary-header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: $secondary-header-padding;
    border-radius: $scondary-header-wrapper-radius;

    .back-btn,
    .left-button {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $softly-blue;
      color: $info-lesson-blue;
      a {
        font-size: $secondery-header-back-button-font-size;
        font-weight: $secondery-header-back-button-font-weight;
        //line-height: $normal-line-height;
        span.icon:before {
          font-size: $secondery-header-back-button-icon-size;
        }
      }
      a,
      span,
      span.icon:before {
        color: $info-lesson-blue;
      }
      &:hover {
        background-color: $brutaly-blue;
        color: $softly-blue;
        a,
        span,
        span.icon:before {
          color: $softly-blue;
        }
      }
    }

    .lesson-name {
      p {
        font-size: $secondery-header-lesson-name-font-size;
        font-weight: $secondery-header-lesson-name-font-weight;
        //line-height: $normal-line-height;
        color: $info-lesson-blue;
      }
    }
    .left-container {
      display: flex;

      margin-right: $scondary-header-left-container-margin;
      p {
        //line-height: $normal-line-height;
        font-size: $secondery-header-left-container-font-size;
        font-weight: $secondery-header-left-container-font-weight;
        color: $info-lesson-blue;
      }
      span.icon:before {
        display: block;
        font-size: $secondery-header-left-container-icon-size;
        font-stretch: normal;
        font-style: normal;
        //line-height: 1.35;

        margin-right: $scondary-header-left-container-icon-margin;
        color: $info-lesson-blue;
      }
      a,
      span,
      span.icon:before {
        color: $brutaly-blue;
      }
    }
  }
}
/* coloring of header */
/* default color is bule */
.scondary-header-wrapper.red-header {
  background-color: $info-lesson-bgred;

  .decor {
    background-color: $info-lesson-red;
  }

  .secondary-header-content {
    .back-btn,
    .left-button {
      background-color: $softly-red;
      color: $brutaly-red;
      a,
      span,
      span.icon:before {
        color: $info-lesson-red;
      }

      &:hover {
        background-color: $brutaly-red;
        color: $softly-red;
        a,
        span,
        span.icon:before {
          color: $softly-red;
        }
      }
    }

    .lesson-name {
      p {
        color: $info-lesson-red;
      }
    }

    .left-container {
      color: $brutaly-red;

      p {
        color: $info-lesson-red;
      }
      span.icon:before {
        color: $info-lesson-red;
      }
      a,
      span,
      span.icon:before {
        color: $info-lesson-red;
      }
    }
  }
}
.scondary-header-wrapper.blue-header {
  background-color: $info-lesson-bgblue;

  .decor {
    background-color: $info-lesson-blue;
  }

  .secondary-header-content {
    .back-btn,
    .left-button {
      background-color: $softly-blue;
      color: $info-lesson-blue;
      a,
      span,
      span.icon:before {
        color: $info-lesson-blue;
      }
      &:hover {
        background-color: $brutaly-blue;
        color: $softly-blue;
        a,
        span,
        span.icon:before {
          color: $softly-blue;
        }
      }
    }
    .lesson-name {
      p {
        color: $info-lesson-blue;
      }
    }

    .left-container {
      p {
        color: $info-lesson-blue;
      }
      span.icon:before {
        color: $info-lesson-blue;
      }
    }
  }
}
.scondary-header-wrapper.green-header {
  background-color: $info-lesson-bggreen;

  .decor {
    background-color: $info-lesson-green;
  }

  .secondary-header-content {
    .back-btn,
    .left-button {
      background-color: $softly-green;
      color: $brutaly-green;
      a,
      span,
      span.icon:before {
        color: $info-lesson-green;
      }

      &:hover {
        background-color: $brutaly-green;
        color: $softly-green;
        a,
        span,
        span.icon:before {
          color: $softly-green;
        }
      }
    }

    .lesson-name {
      p {
        color: $info-lesson-green;
      }
    }

    .left-container {
      p {
        color: $info-lesson-green;
      }
      span.icon:before {
        color: $info-lesson-green;
      }
    }
  }
}
