header {
  display: flex;
  flex-direction: column;
  .desktop-header {
    display: flex;
    height: $main-header-height;
    width: 100%;
    padding-left: $main-header-padding-left-right;
    padding-right: $main-header-padding-left-right;
    background-color: $fullwhite;
    justify-content: space-between;
    align-items: center;

    .header-content {
      .user-container {
        display: flex;
        align-items: center;
        .user {
          p {
            display: block;
            line-height: $normal-line-height;
            font-size: $main-header-font-size;
            font-weight: $main-header-font-weight;
          }
          span.icon:before {
            font-size: $main-header-font-size;
            line-height: 1.35;
          }
        }
      }
    }

    #SmartEdu-logo {
      margin-right: $main-header-smartedu-logo-margin-right;
    }
    #profile {
      margin-left: $main-header-space-between-panels;
    }

    .header-content {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .header-logo {
        width: 100%;
        display: flex;
        align-items: center;
        //margin-top: 25px;
        //margin-bottom: 25px;
        img {
          width: $main-header-smartedu-logo-size;
          display: block;
          margin-right: $main-header-smartedu-logo-space;
        }
        p {
          display: block;
          font-size: $main-header-smartedu-text-size;
          font-weight: bold;
        }
        .customer-title {
          color: $lesson-material-info-icon-color;
          margin-left: $normal-margin;
        }
      }

      .user-container {
        display: flex;
        align-items: center;
        .user {
          span.icon:before {
            display: inline;
            font-size: $main-header-menu-text-size;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.35;
            margin-right: $main-header-user-icon-space;
            color: $mainpage-setting-user-icon-color;
          }
        }
      }
    }
  }

  .header-theerbutton {
    display: flex;
    justify-content: space-between;
    width: 100%;
    display: flex;
    height: $main-header-height;
    padding-left: $main-header-padding-left-right;
    padding-right: $main-header-padding-left-right;
    background-color: $fullwhite;
    align-items: center;
    .header-content-administration {
      .user-container {
        display: flex;
        align-items: center;
        .user {
          p {
            display: block;
            line-height: $normal-line-height;
            font-size: $main-header-font-size;
            font-weight: $main-header-font-weight;
          }
          span.icon:before {
            font-size: $main-header-font-size;
            line-height: 1.35;
            margin-right: $main-header-user-icon-space;
          }
        }
      }
    }

    .header-tabs {
      display: flex;
      align-items: center;
      .screen-tab {
        margin-right: $main-header-padding-left-right;
        .screen-button {
          @include tabButton();
          font-size: $main-header-font-size;
          font-weight: $main-header-menu-font-weight;
          letter-spacing: 0.6px;
          text-align: center;
        }
      }
      .screen-tab:nth-last-of-type(1) {
        margin-right: 0px;
      }
    }

    .header-content-administration {
      display: flex;
      align-items: center;
      .header-logo {
        display: flex;
        align-items: center;
        img {
          width: $main-header-smartedu-logo-size;
          display: block;
          margin-right: $main-header-smartedu-logo-space;
        }
        p {
          display: block;
          font-size: $main-header-smartedu-text-size;
          font-weight: bold;
        }
        .customer-title {
          color: $lesson-material-info-icon-color;
          margin-left: $normal-margin;
        }
      }
      .user-container {
        display: flex;
        align-items: center;
        .user {
          span.icon:before {
            display: inline;
            font-size: $main-header-menu-text-size;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.35;
            margin-right: $main-header-user-icon-space;
            color: $mainpage-setting-user-icon-color;
          }
        }
      }
    }
  }

  .mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $fullwhite;
    width: 100%;
    .header-logo {
      width: 100%;
      margin-left: $main-mobile-header-margin-left;
      display: flex;
      align-items: center;
      height: $main-mobile-header-height;
      img {
        width: $main-mobile-header-smartedu-logo-size;
        display: block;
        margin-right: $main-header-user-icon-space;
      }
      p {
        display: block;
        font-size: $main-header-smartedu-text-size;
        font-weight: bold;
      }
    }
    .hb-header-button-phone {
      margin-right: $main-mobile-header-menu-margin-right;
      position: relative;
      .hb-header-menu-button {
        @include DEButton(
          $hamburger-button-bgcolor,
          $hamburger-button-color,
          $hamburger-button-phone-padding,
          $hamburger-button-phone-radius,
          $hamburger-button-phone-border,
          $hamburger-button-phone-fontsize,
          $hamburger-button-phone-lineheight,
          $hamburger-button-phone-fontweight
        );
        .icon:before {
          margin: 0px;
        }
      }

      .message-counter {
        position: absolute;
        right: -$hamburger-button-counter-phone-size/2;
        top: -$hamburger-button-counter-phone-size/2;
        display: none;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        border-radius: 50%;
        border: $hamburger-button-counter-phone-border solid$fullwhite;
        background-color: $hamburger-button-counter-color;
        height: $hamburger-button-counter-phone-size;
        width: $hamburger-button-counter-phone-size;
        span.icon {
          color: $fullwhite;
          font-size: $main-mobile-header-menu-message-icon-size;
        }
      }
      .message-counter.show {
        display: flex;
      }
    }
  }

  .header-mobile-menu {
    width: 100%;
  }

  .header-mobile-menu:not(.show) {
    display: none;
  }

  .header-mobile-menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .user {
      margin-top: $main-mobile-header-menu-user-margin-top-bottom;
      margin-bottom: $main-mobile-header-menu-user-margin-top-bottom;
      p {
        font-size: $main-mobile-header-menu-user-font-size;
        span.icon:before {
          margin-right: $main-mobile-header-icon-space;
          color: $brutaly-blue;
          font-size: $main-mobile-header-icon-size;
        }
      }
    }

    .screen-tab-mobile {
      padding: 0px;
      .screen-button {
        margin-bottom: 20px;
        cursor: pointer;
        border: none;
        outline: none;
        background-color: transparent;
        font-size: $main-mobile-header-menu-margin-bottom;
        font-weight: $normal-font-weight;
        letter-spacing: 0.6px;
        text-align: center;
      }
    }
    .screen-tab:nth-last-of-type(1) {
      margin-right: 0px;
    }
    .screen-tab-mobile.active {
      button {
        color: $mainpage-setting-user-icon-color;
      }
    }
    .logout-btn {
      margin-top: $main-mobile-header-logout-button-margin-top-bottom;
      margin-bottom: $main-mobile-header-logout-button-margin-top-bottom;
      min-width: $main-mobile-header-logout-button-width;
    }
  }

  .header-mobile-menu:not(.show) {
    display: none;
  }
}
