<% layout('../layouts/default') -%>

<!--This is the header of the content-->
<div class="scondary-header-wrapper blue-header">
    <div class="decor"></div>
    <div class="secondary-header-content">
        <div class="back-btn small-link-button header-button">
            <a href="/dashboard"> <span class="fa icon back-arrow"></span>Vissza </a>
        </div>
        <div class="lesson-name">
            <p><%=course.name%></p>
        </div>
        <div class="lesson-name">
            <p><span class="fa icon teacher mr-1"></span> Tanár Neve</p><!--TODO: Display teacher name!-->
        </div>
    </div>
</div>

<!-- Wrapping around the two panels-->
<div id="coursecreation" class="double-panel-wrapper">
    <!--Left panel container-->
    <div class="panel left">
        <!-- list of the courses -->
        <div class="course-lessons-container">
            <!--Header of the content-->
            <div class="content-header-wrapper header-with-3buttons">
                <div class="content-header">
                    <div class="content-header-text">
                        <div class="content-header-title">
                            <p>Tanórák</p>
                        </div>
                        <div class="content-header-date">
                            <p><%=moment().format('L')%> napi órák</p>
                        </div>
                    </div>
                </div>
                <div class="content-header-symbols">
                    <div class="closed-lesson symbol-box red">
                      <p><span class="fa icon lock"></span>Lezárt</p>
                    </div>
                    <div class="ongoing-lesson symbol-box blue">
                      <p><span class="fa icon hourglass-end"></span>Folyamatban</p>
                    </div>
                    <div class="future-lesson symbol-box green">
                      <p><span class="fa icon lock-open"></span>Jövőbeni óra</p>
                    </div>
                  </div>
            </div>

            <div class="scrollable-content">
                <div class="scrolled-content">
                    <ul class="lesson-detail-list">

                        <% lessons.forEach(lesson => { %>
                        <li id="lesson-<%=lesson.id%>" class="content-item lessons <%=lesson.color%>">
                            <div class="course-details">
                                <div class="decor"></div>
                                <div class="info-card">
                                    <div class="info-record">
                                        <div class="info-lesson-title">
                                            <p>
                                              <% if (lesson.status == LESSON_STATUS.READY) { %>
                                                <span class="fa icon lock-open"></span>
                                              <% } else if (lesson.status == LESSON_STATUS.IN_PROGRESS) { %>
                                                <span class="fa icon hourglass-end"></span>
                                              <% } else { %> 
                                                <span class="fa icon lock"></span>
                                              <% } %>
                                              <%=lesson.name%>
                                            </p>
                                        </div>
                                        <div class="lesson-details-container">
                                            <div class="lesson-details">
                                                <p>
                                                    <span class="fa icon time"></span>
                                                    <%=moment(lesson.start_time).format('L')%>&nbsp&nbsp//&nbsp&nbsp<%=moment(lesson.start_time).format('LT')%> - <%=moment(lesson.end_time).format('LT')%>
                                                </p>
                                            </div>
                                            <button class="icon-button <%=lesson.color%>-button ml-30">
                                                <span class="fa icon info"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <% }); %>

                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!--Right panal container-->
    <div class="panel right">
        <div class="content-header-wrapper simple-header">
            <div class="content-header">
                <div class="content-header-text">
                    <div class="content-header-title">
                        <p>Kurzus tartalmak</p>
                    </div>
                    <div class="content-header-note">
                        <p>Itt találod a kurzushoz illetve órákhoz rendelt tartalmakat</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="scrollable-content">
            <div class="scrolled-content">
              <ul class="course-content-list">

                <!-- Surveys -->
                <% if (contents.surveys && contents.surveys.length > 0) { %>
                <li class="content-item course-content tests blue">
                  <div class="decor"></div>
                  <div class="info-card">
                    <p class="info-header">Tesztek</p>

                    <% contents.surveys.forEach(survey => {%>
                      <div class="info-record">
                        <div class="info-title-wrapper">
                          <div class="info-title">
                            <p><span class="fa icon copy"></span><%=survey.name%></p>
                          </div>
                        </div>
  
                        <div class="info-action">
                            <!--TODO: Only show, when suvey is subitted! -->
                            <!--
                                <div class="test-done show">
                                <p>
                                <span class="fa icon info"></span
                                ><span class="text-done">kitöltötted</span>
                                </p>
                            </div>
                            -->
                            <!-- TODO: Use grey button if user already submitted -->
                            <button class="icon-button check-button green-button icon-size-40 info-action-icon">
                                <span class="fa icon check"></span>
                            </button>
                        </div>
                      </div>
                    <% }) %>
                  </div>
                </li>
                <% } %>

                <!-- Polls -->
                <% if (contents.polls && contents.polls.length > 0) { %>
                <li class="content-item course-content votes yellow">
                  <div class="decor"></div>
                  <div class="info-card">
                    <p class="info-header">Szavazás</p>

                    <% contents.polls.forEach(poll => {%>
                    <div class="info-record">
                      <div class="info-title-wrapper">
                        <div class="info-title">
                          <p>
                            <span class="fa icon stat"></span><%=poll.title%>
                          </p>
                        </div>
                      </div>

                      <div class="info-action">
                        <button
                          class="icon-button mouse-button blue-button icon-size-40 info-action-icon"
                        >
                          <span class="fa icon mouse"></span></button
                        ><button
                          class="icon-button check-button green-button icon-size-40 info-action-icon"
                        >
                          <span class="fa icon check"></span>
                        </button>
                        <button
                          class="icon-button stat-button yellow-button icon-size-40 info-action-icon"
                        >
                          <span class="fa icon stat"></span>
                        </button>
                      </div>
                    </div>
                    <% }) %>

                  </div>
                </li>
                <% } %>

                <!-- Attachments -->
                <% if (contents.attachments && contents.attachments.length > 0) { %>
                  <li class="content-item course-content files green">
                    <div class="decor"></div>
                    <div class="info-card">
                      <p class="info-header">Fájlok</p>
  
                      <% contents.attachments.forEach(attachment => {%>
                      <div id="attachment-<%=attachment.id%>" class="info-record">
                        <div class="info-title-wrapper">
                          <div class="info-title">
                            <p>
                              <span class="fa icon excel"></span><%=attachment.filename%>
                            </p>
                          </div>
                          <% if (attachment.uploader_id == current_user.id) { %>
                          <div class="lesson-content show">
                            <p>saját</p>
                          </div>
                          <% } %>
                        </div>
  
                        <div class="info-action">
                          <button class="icon-button download-button green-button icon-size-40 info-action-icon" onclick="window.location = '/courses/<%=course.id%>/attachments/<%=attachment.id%>'">
                            <span class="fa icon download"></span>
                          </button>
                          <% if (attachment.uploader_id == current_user.id) { %>
                            <button class="icon-button trash-button red-button icon-size-40 info-action-icon" onclick="deleteEntityNoModal('/courses/<%=course.id%>/attachments/<%=attachment.id%>','#attachment-<%=attachment.id%>')">
                              <span class="fa icon trash"></span>
                            </button>
                          <% } %>
                        </div>
                      </div>
                      <% }) %>
  
                    </div>
                  </li>
                  <% } %>

                <!-- Links -->
                <% if (contents.links && contents.links.length > 0) { %>
                <li class="content-item course-content links purple">
                  <div class="decor"></div>
                  <div class="info-card">
                    <p class="info-header">Linkek</p>

                    <% contents.links.forEach(link => {%>
                    <div id="link-<%=link.id%>" class="info-record">
                      <div class="info-title-wrapper">
                        <div class="info-title">
                          <a>
                            <span class="fa icon link"></span><%=link.title%>
                          </a>
                        </div>
                      </div>

                      <!-- record info area -->
                      <div class="info-action">
                        <div class="small-link-icon-button blue-button icon-size-40 info-action-icon">
                          <a href="<%=link.url%>" target="_blank">
                            <span class="fa icon externallink">
                          </span></a>
                        </div>
                        <% if (link.uploader_id == current_user.id) { %>
                        <button class="icon-button write-button purple-button icon-size-40 info-action-icon open-modal" data-target="#edit-link-modal" data-fill-modal-with="/links/<%=link.id%>/edit">
                            <span class="fa icon write" />
                        </button>
                        <button class="icon-button trash-button red-button icon-size-40 info-action-icon" onclick="deleteEntityNoModal('/links/<%=link.id%>','#link-<%=link.id%>')">
                            <span class="fa icon trash" />
                        </button>
                        <% } %>
                      </div>
                    </div>
                    <% }) %>

                  </div>
                </li>
                <% } %>
              </ul>
            </div>
          </div>

        <button type="button" data-target="#upload-material-modal" class="small-button wide-button blue-button open-modal" id="upload-send"name="uploadSent">
            <span class="fa icon plus"></span>Anyag feltöltése
        </button>
    </div>
</div>

<!--MODALS-->
<!-- modal cover -->
<div class="modal-cover"></div>

<!-- modal window -->
<div class="screen-container modal-screen" id="edit-link-modal">
</div>

<!-- modal window -->
<div class="screen-container modal-screen" id="upload-material-modal">
    <div class="mini-box">
        <div class="mini-box-header">
            <p>Anyag feltöltése</p>
            <button class="modal-exit-btn close-modal close-modal">
                <span class="fa icon X-icon"></span>
            </button>
        </div>
        <div class="mini-box-content">
            <div class="single-box-wrapper">
                <div class="choice-wrapper">
                    <div class="choice-title">
                        <p>Fájl feltöltése</p>
                    </div>
                    <div class="choice-descrition">
                        <p>Fájl feltöltése a kurzushoz. A feltöltött fájlt rajtad kívül csak az órát tartó tanár látja majd.</p>
                    </div>
                    <div class="choice-button">
                      <form hidden id="upload-form" action="/courses/<%=course.id%>/attachments" method="POST" enctype="multipart/form-data">
                        <input type="file" id="file-upload" name="file" onchange="$('#upload-form').submit()">
                      </form>
                      <button type="button" class="small-button blue-button only-bottom-round" onclick="$('#file-upload').click()">
                              Tallózás<span class="fa icon furder"></span>
                      </button>
                    </div>
                </div>
                <div class="choice-wrapper">
                    <div class="choice-title">
                        <p>Link hozzáadása</p>
                    </div>
                    <div class="choice-descrition">
                        <p>Külső oldalra mutató link hozzáadása a kurzushoz, pl. YouTube videók, online anyagok, cikkek, stb.</p>
                    </div>
                    <div class="choice-button">
                        <button class="small-button blue-button only-bottom-round open-modal" data-target="#add-link-modal">
                            Tovább<span class="fa icon furder"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modal window -->
<div class="screen-container modal-screen" id="add-link-modal">
    <div class="mini-box">
        <div class="mini-box-header">
            <p>Link hozzáadása</p>
            <button class="modal-exit-btn close-modal">
                <span class="fa icon X-icon"></span>
            </button>
        </div>
        <div class="mini-box-content">
            <div class="form-wrapper">
                <label for="input-name">Link neve</label>
                <input type="text" name="title" id="edit-link-name" placeholder="Add meg a link nevét" />
            </div>
            <div class="form-wrapper">
                <label for="browse-name">Link URL</label>
                <input type="text" name="url" id="edit-browse-name" placeholder="Add meg a link URL-jét" />
            </div>
            <div style="display: none;">
                <input type="text" name="course_id" value="<%=course.id%>">
            </div>
            <div class="form-button-container">
                <div class="form-action-btn">
                    <button class="small-button gray-button close-modal">
                        <span class="fa icon X-icon"></span>Mégsem
                    </button>
                </div>
                <div class="form-action-btn">
                    <button class="small-button green-button" onclick="createEntity('#add-link-modal', '/links')">
                        <span class="fa icon check-mark"></span>Létrehozás
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
