<% layout('../layouts/default') -%>

<!--This is the header of the content-->
<div class="scondary-header-wrapper blue-header">
    <div class="decor"></div>
    <div class="secondary-header-content">
        <div class="back-btn small-link-button header-button">
            <a href="/dashboard"> <span class="fa icon back-arrow"></span>Vissza </a>
        </div>
        <div class="lesson-name">
            <p><%=course.name%></p>
        </div>
        <button
          class="header-button small-link-button blue-button edit-course-btn open-modal"
          data-target="#course-edit-modal">
            <a><span class="fa icon write"></span>Kurzus szerkesztése</a>
        </button>
    </div>
</div>

<!-- Wrapping around the two panels-->
<div id="coursecreation" class="double-panel-wrapper">
    <!--Left panel container-->
    <div class="panel left two-row">
        <!-- top side of the panel -->
        <div class="panel-top">
            <!-- list of the participants -->
            <div class="course-participants-container">
                <div class="content-header-wrapper header-with-1buttons">
                    <div class="content-header">
                        <div class="content-header-text">
                            <div class="content-header-title">
                                <p>Résztvevők</p>
                            </div>
                            <div class="content-header-date">
                                <p>Itt találja a kurzus résztvevőit</p>
                            </div>
                        </div>
                    </div>

                    <div class="content-header-symbols">
                        <button class="small-button green-button open-modal" data-target="#add-invite-participant-modal">
                            <span class="fa icon plus-mark"></span>Résztvevők hozzáadása
                        </button>
                    </div>
                </div>

                <div class="scrollable-content">
                    <div class="scrolled-content">
                        <% users.forEach(user => { %> 
                            <% if (user.role == USER_ROLE.STUDENT) { %>
                                <div class="students-of-course">
                                    <div class="student-name">
                                        <p><span class="fa icon student"></span><%=user.lastname%> <%=user.firstname%></p>
                                    </div>
                                    <button class="icon-button red-button">
                                        <span class="fa icon X-icon"></span>
                                    </button>
                                </div>
                            <% } else { %>
                                <div class="course-creator">
                                    <p><span class="fa icon teacher"></span><%=user.lastname%> <%=user.firstname%></p>
                                </div>
                            <% } %>
                        <% }); %>
                    </div>
                </div>
            </div>
        </div>

        <!-- top side of the panel -->
        <div class="panel-bottom">
            <!-- list of the courses -->
            <div class="course-lessons-container">
                <!--Header of the content-->
                <div class="content-header-wrapper header-with-1buttons">
                    <div class="content-header">
                        <div class="content-header-text">
                            <div class="content-header-title">
                                <p>Tanórák</p>
                            </div>
                            <div class="content-header-date">
                                <p><%=moment().format('L')%> napi órák</p>
                            </div>
                        </div>
                    </div>

                    <div class="content-header-symbols">
                        <button class="small-button green-button open-modal" data-target="#add-lesson-modal">
                            <span class="fa icon plus-mark"></span>Óra létrehozása
                        </button>
                    </div>
                </div>

                <div class="scrollable-content">
                    <div class="scrolled-content">
                        <% lessons.forEach(lesson => { %>
                        <div id="lesson-<%=lesson.id%>" class="scrolled-content-item">
                            <div class="course-details <%=lesson.color%>">
                                <div class="decor"></div>
                                <div class="info-card">
                                    <div class="info-record">
                                        <div class="info-lesson-title">                                        <p>
                                            <% if (lesson.status == LESSON_STATUS.READY) { %>
                                              <span class="fa icon lock-open"></span>
                                            <% } else if (lesson.status == LESSON_STATUS.IN_PROGRESS) { %>
                                              <span class="fa icon hourglass-end"></span>
                                            <% } else { %> 
                                              <span class="fa icon lock"></span>
                                            <% } %>
                                            <%=lesson.name%>
                                          </p>
                                        </div>
                                        <div class="lesson-details-container">
                                            <div class="lesson-details">
                                                <p>
                                                    <span class="fa icon time"></span>
                                                    <%=moment(lesson.start_time).format('L')%>&nbsp&nbsp//&nbsp&nbsp<%=moment(lesson.start_time).format('LT')%> - <%=moment(lesson.end_time).format('LT')%>
                                                </p>
                                            </div>
                                            <button class="icon-button <%=lesson.color%>-button ml-30" onclick="window.location='/lessons/<%=lesson.id%>'">
                                                <span class="fa icon info"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="icon-button red-button icon-size-74 ml-30 open-modal" data-target="#lesson-delete-modal" data-url-param="<%=lesson.id%>">
                                <span class="fa icon trash"></span>
                            </button>
                        </div>
                        <% }); %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Right panal container-->
    <div class="panel right">
        <div class="content-header-wrapper simple-header">
            <div class="content-header">
                <div class="content-header-text">
                    <div class="content-header-title">
                        <p>Kurzus tartalmak</p>
                    </div>
                    <div class="content-header-note">
                        <p>Itt találod a kurzushoz illetve órákhoz rendelt tartalmakat</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="scrollable-content">
            <div class="scrolled-content">
              <ul class="course-content-list">

                <!-- Surveys -->
                <% if (contents.surveys && contents.surveys.length > 0) { %>
                <li class="content-item course-content tests blue">
                  <div class="decor"></div>
                  <div class="info-card">
                    <p class="info-header">Tesztek</p>

                    <% contents.surveys.forEach(survey => {%>
                      <div class="info-record">
                        <div class="info-title-wrapper">
                          <div class="info-title">
                            <p><span class="fa icon copy"></span><%=survey.name%></p>
                          </div>
                        </div>
  
                        <div class="info-action">
                            <button class="icon-button check-button green-button icon-size-40 info-action-icon">
                                <span class="fa icon check"></span>
                            </button>
                            <button class="icon-button stat-button yellow-button icon-size-40 info-action-icon">
                                <span class="fa icon stat"></span>
                            </button>
                            <button class="icon-button write-button purple-button icon-size-40 info-action-icon" onclick="location.href = `/surveys/<%=survey.id%>/edit`">
                                <span class="fa icon write"></span>
                            </button>
                            <button class="icon-button trash-button red-button icon-size-40 info-action-icon">
                                <span class="fa icon trash"></span>
                            </button>
                        </div>
                      </div>
                    <% }) %>
                  </div>
                </li>
                <% } %>

                <!-- Polls -->
                <% if (contents.polls && contents.polls.length > 0) { %>
                <li class="content-item course-content votes yellow">
                  <div class="decor"></div>
                  <div class="info-card">
                    <p class="info-header">Szavazás</p>

                    <% contents.polls.forEach(poll => {%>
                    <div class="info-record">
                      <div class="info-title-wrapper">
                        <div class="info-title">
                          <p>
                            <span class="fa icon stat"></span><%=poll.title%>
                          </p>
                        </div>
                      </div>

                      <div class="info-action">
                        <button
                          class="icon-button mouse-button blue-button icon-size-40 info-action-icon"
                        >
                          <span class="fa icon mouse"></span></button
                        ><button
                          class="icon-button check-button green-button icon-size-40 info-action-icon"
                        >
                          <span class="fa icon check"></span>
                        </button>
                        <button
                          class="icon-button stat-button yellow-button icon-size-40 info-action-icon"
                        >
                          <span class="fa icon stat"></span>
                        </button>
                        <button
                          class="icon-button download-button green-button icon-size-40 info-action-icon"
                        >
                          <span class="fa icon download"></span>
                        </button>
                        <button
                          class="icon-button write-button purple-button icon-size-40 info-action-icon"
                        >
                          <span class="fa icon write"></span>
                        </button>
                        <button
                          class="icon-button trash-button red-button icon-size-40 info-action-icon"
                        >
                          <span class="fa icon trash"></span>
                        </button>
                      </div>
                    </div>
                    <% }) %>

                  </div>
                </li>
                <% } %>

                <!-- Attachments -->
                <% if (contents.attachments && contents.attachments.length > 0) { %>
                <li class="content-item course-content files green">
                  <div class="decor"></div>
                  <div class="info-card">
                    <p class="info-header">Fájlok</p>

                    <% contents.attachments.forEach(attachment => {%>
                    <div id="attachment-<%=attachment.id%>" class="info-record">
                      <div class="info-title-wrapper">
                        <div class="info-title">
                          <p>
                            <span class="fa icon excel"></span><%=attachment.filename%>
                          </p>
                        </div>
                        <% if (attachment.uploader_id == current_user.id) { %>
                        <div class="lesson-content show">
                          <p>saját</p>
                        </div>
                        <% } %>
                      </div>

                      <div class="info-action">
                        <button class="icon-button download-button green-button icon-size-40 info-action-icon" onclick="window.location = '/courses/<%=course.id%>/attachments/<%=attachment.id%>'">
                          <span class="fa icon download"></span>
                        </button>
                        <button class="icon-button trash-button red-button icon-size-40 info-action-icon" onclick="deleteEntityNoModal('/courses/<%=course.id%>/attachments/<%=attachment.id%>','#attachment-<%=attachment.id%>')">
                          <span class="fa icon trash"></span>
                        </button>
                      </div>
                    </div>
                    <% }) %>

                  </div>
                </li>
                <% } %>

                <!-- Links -->
                <% if (contents.links && contents.links.length > 0) { %>
                <li class="content-item course-content links purple">
                  <div class="decor"></div>
                  <div class="info-card">
                    <p class="info-header">Linkek</p>

                    <% contents.links.forEach(link => {%>
                    <div id="link-<%=link.id%>" class="info-record">
                      <div class="info-title-wrapper">
                        <div class="info-title">
                          <a>
                            <span class="fa icon link"></span><%=link.title%>
                          </a>
                        </div>
                      </div>

                      <!-- record info area -->
                      <div class="info-action">
                        <div class="small-link-icon-button blue-button icon-size-40 info-action-icon">
                          <a href="<%=link.url%>" target="_blank">
                            <span class="fa icon externallink">
                          </span></a>
                        </div>
                        <button class="icon-button write-button purple-button icon-size-40 info-action-icon open-modal" data-target="#edit-link-modal" data-fill-modal-with="/links/<%=link.id%>/edit">
                            <span class="fa icon write" />
                        </button>
                        <button class="icon-button trash-button red-button icon-size-40 info-action-icon" onclick="deleteEntityNoModal('/links/<%=link.id%>','#link-<%=link.id%>')">
                            <span class="fa icon trash" />
                        </button>
                      </div>
                    </div>
                    <% }) %>

                  </div>
                </li>
                <% } %>

              </ul>
            </div>
          </div>

        <button type="button" data-target="#upload-material-modal" class="small-button wide-button blue-button open-modal" id="upload-send"name="uploadSent">
            <span class="fa icon plus"></span>Anyag feltöltése
        </button>
    </div>
</div>

<!--MODALS-->
<!-- modal cover -->
<div class="modal-cover"></div>

<!-- modal window -->
<div class="screen-container modal-screen" id="edit-link-modal">
</div>

<!-- modal window -->
<div class="screen-container modal-screen" id="upload-material-modal">
    <div class="mini-box">
        <div class="mini-box-header">
            <p>Anyag feltöltése</p>
            <button class="modal-exit-btn close-modal close-modal">
                <span class="fa icon X-icon"></span>
            </button>
        </div>
        <div class="mini-box-content">
            <div class="dual-box-wraper">

                <div class="choice-wrapper">
                    <div class="choice-title">
                        <p>Teszt létrehozása</p>
                    </div>
                    <div class="choice-descrition">
                        <p>Feleletválasztós teszt létrehozása. A kérdésekre a beállítástól függően lehet egy, vagy több helyes válasz.</p>
                    </div>
                    <div class="small-link-button text-first only-bottom-round choice-link">
                        <a href="/surveys/create?course_id=<%=course.id%>">
                            Tovább<span class="fa icon furder"></span>
                        </a>
                    </div>
                </div>

                <div class="choice-wrapper">
                    <div class="choice-title">
                        <p>Szavazás létrehozása</p>
                    </div>
                    <div class="choice-descrition">
                        <p>Egyszerű szavazás létrehozása. Beállítástól függően a résztvevők egy, vagy több opciót is választhatnak.</p>
                    </div>
                    <div class="small-link-button text-first only-bottom-round choice-link">
                        <a href="/polls/create">
                            Tovább<span class="fa icon furder"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="dual-box-wraper">

                <div class="choice-wrapper">
                    <div class="choice-title">
                        <p>Fájl feltöltése</p>
                    </div>
                    <div class="choice-descrition">
                        <p>Fájl feltöltése a kurzushoz. A feltöltött fájlt az összes résztvevő letöltheti majd a kurzus oldalról.</p>
                    </div>
                    <div class="choice-button">
                        <form hidden id="upload-form" action="/courses/<%=course.id%>/attachments" method="POST" enctype="multipart/form-data">
                            <input type="file" id="file-upload" name="file" onchange="$('#upload-form').submit()">
                        </form>
                        <button type="button" class="small-button blue-button only-bottom-round" onclick="$('#file-upload').click()">
                                Tallózás<span class="fa icon furder"></span>
                        </button>
                    </div>
                </div>
                
                <div class="choice-wrapper">
                    <div class="choice-title">
                        <p>Link hozzáadása</p>
                    </div>
                    <div class="choice-descrition">
                        <p>Külső oldalra mutató link hozzáadása a kurzushoz, pl. YouTube videók, online anyagok, cikkek, stb.</p>
                    </div>
                    <div class="choice-button">
                        <button class="small-button blue-button only-bottom-round open-modal" data-target="#add-link-modal">
                            Tovább<span class="fa icon furder"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modal window -->
<div class="screen-container modal-screen" id="add-lesson-modal">
    <div class="mini-box">
        <div class="mini-box-header">
            <p>Óra hozzáadása</p>
            <button class="modal-exit-btn close-modal close-modal">
                <span class="fa icon X-icon"></span>
            </button>
        </div>
        <div class="mini-box-content">
            <div class="form-wrapper">
                <div class="input-wrapper">
                    <label for="lesson-name">Óra neve</label>
                    <input type="text" name="name" id="lesson-name" placeholder="Add meg az óra nevét" />
                </div>
                <div class="input-wrapper">
                    <label for="lesson-input">Óra leírása</label>
                    <div class="tab-action-form" id="lesson-input">
                        <div class="textarea-wrapper">
                            <textarea name="description"></textarea>
                        </div>
                    </div>
                </div>
                <div class="half-size-input-wrapper">
                    <div class="half-box">
                        <label for="lesson-date">Óra dátuma</label>
                        <input type="date" id="lesson-date" name="start_date" placeholder="Válassz ki egy dátumot" />
                    </div>
                    <div class="half-box">
                        <label for="lesson-time">Óra kezdete</label>
                        <input type="time" id="lesson-time" name="start_time" placeholder="Adj meg egy időpontot" />
                    </div>
                </div>
            </div>
            <div class="form-button-container">
                <div class="form-action-btn">
                    <button class="small-button gray-button close-modal">
                        <span class="fa icon X-icon"></span>Mégsem
                    </button>
                </div>
                <div class="form-action-btn">
                    <button class="small-button green-button" onclick="createEntity('#add-lesson-modal', '/lessons?course_id=<%=course.id%>')">
                        <span class="fa icon check-mark"></span>Létrehozás
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modal window -->
<div class="screen-container modal-screen" id="add-invite-participant-modal">
    <div class="mini-box">
        <div class="mini-box-header">
            <p>Kurzus résztvevő hozzáadása</p>
            <button class="modal-exit-btn close-modal close-modal">
                <span class="fa icon X-icon"></span>
            </button>
        </div>
        <div class="mini-box-content">
            <div class="dual-box-wraper">
                <div class="choice-wrapper">
                    <div class="choice-title">
                        <p>Résztvevő hozzadása</p>
                    </div>
                    <div class="choice-descrition">
                        <p>Keressen rá az intézményhez már felvett felhasználókra és adja hozzá a kurzushoz.</p>
                    </div>
                    <div class="choice-button">
                        <button class="small-button blue-button only-bottom-round open-modal" data-target="#add-participant-modal">
                            Tovább<span class="fa icon furder"></span>
                        </button>
                    </div>
                </div>

                <div class="choice-wrapper">
                    <div class="choice-title">
                        <p>Résztvevő meghívása</p>
                    </div>
                    <div class="choice-descrition">
                        <p>Adja meg azon felhasználók e-mail címeit, akiket meg akar hívni a kurzusra.</p>
                    </div>
                    <div class="choice-button">
                        <button class="small-button blue-button only-bottom-round open-modal" data-target="#invite-participant-modal">
                            Tovább<span class="fa icon furder"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modal window -->
<div class="screen-container modal-screen" id="add-link-modal">
    <div class="mini-box">
        <div class="mini-box-header">
            <p>Link hozzáadása</p>
            <button class="modal-exit-btn close-modal">
                <span class="fa icon X-icon"></span>
            </button>
        </div>
        <div class="mini-box-content">
            <div class="form-wrapper">
                <label for="input-name">Link neve</label>
                <input type="text" name="title" id="edit-link-name" placeholder="Add meg a link nevét" />
            </div>
            <div class="form-wrapper">
                <label for="browse-name">Link URL</label>
                <input type="text" name="url" id="edit-browse-name" placeholder="Add meg a link URL-jét" />
            </div>
            <div style="display: none;">
                <input type="text" name="course_id" value="<%=course.id%>">
            </div>
            <div class="form-button-container">
                <div class="form-action-btn">
                    <button class="small-button gray-button close-modal">
                        <span class="fa icon X-icon"></span>Mégsem
                    </button>
                </div>
                <div class="form-action-btn">
                    <button class="small-button green-button" onclick="createEntity('#add-link-modal', '/links')">
                        <span class="fa icon check-mark"></span>Létrehozás
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modal window -->
<div class="screen-container modal-screen" id="add-participant-modal">
    <div class="mini-box">
        <div class="mini-box-header">
            <p>Kurzus résztvevő hozzáadása</p>
            <button class="modal-exit-btn close-modal">
                <span class="fa icon X-icon"></span>
            </button>
        </div>
        <div class="mini-box-content">
            <div class="form-wrapper">
                <div class="form-title">
                    <p>Résztvevő hozzáadása</p>
                </div>
                <div class="form-description">
                    <p>
                        Keressen rá az intézményhez már felvett felhasználókra és adja hozzá őket a kurzushoz. A keresés
                        eredményében csak azok a felhasználók fognak megjelenni, akik még nem résztvevői a kurzusnak.
                    </p>
                </div>
                <div class="form-input">
                    <input
                        type="text"
                        name="add-course-name"
                        id="add-course-name"
                        placeholder="Résztvevő neve vagy kódja"
                    />
                </div>
            </div>
            <div class="form-button-container">
                <div class="form-action-btn">
                    <button class="small-button gray-button close-modal">
                        <span class="fa icon X-icon"></span>Mégsem
                    </button>
                </div>
                <div class="form-action-btn">
                    <button class="small-button green-button">
                        <span class="fa icon check-mark"></span>Létrehozás
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modal window -->
<div class="screen-container modal-screen" id="invite-participant-modal">
    <div class="mini-box">
        <div class="mini-box-header">
            <p>Kurzus résztvevő meghívása</p>
            <button class="modal-exit-btn close-modal">
                <span class="fa icon X-icon"></span>
            </button>
        </div>
        <div class="mini-box-content">
            <form action="/courses/<%=course.id %>/users/invite" method="POST">
                <div class="form-wrapper">
                    <div class="form-title">
                        <p>Résztvevő meghívása</p>
                    </div>
                    <div class="form-description">
                        <p>
                            Adja meg azon felhasználók email címeit sorközzel elválasztva, akiket meg akar hívni a kurzusra. Az email címekre
                            meghívót küldünk ki, melyben a linkre kattintva a felhasználó regisztrál a SmartEdu rendszerbe
                            és automatikusan a kurzus résztvevője lesz.
                        </p>
                    </div>
                    <div class="form-input">
                        <div class="tab-action-form" id="participant-email">
                            <div class="textarea-wrapper">
                                <textarea name="emails" placeholder="Résztvevő e-mail címe"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-button-container">
                    <div class="form-action-btn">
                        <div class="small-button gray-button close-modal">
                            <span class="fa icon X-icon"></span><span>Mégsem</span>
                        </div>
                    </div>
                    <div class="form-action-btn">
                        <button class="small-button green-button">
                            <span class="fa icon check-mark"></span>Létrehozás
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- modal window -->
<div class="screen-container modal-screen" id="lesson-delete-modal">
  <div class="mini-box">
    <div class="mini-box-header">
      <p>Óra törlése</p>
      <button class="modal-exit-btn close-modal close-modal">
        <span class="fa icon X-icon"></span>
      </button>
    </div>

    <div class="mini-box-content">
      <p>A Törlés gombra kattintva az órához összes adat törlésre kerül.</p>
      <br/>
      <p>Ez a művelet nem visszafordítható.</p>
      <div class="form-button-container">
        <div class="form-action-btn">
          <a class="small-button gray-button close-modal">
            <span class="fa icon X-icon"></span>Mégse
          </a>
        </div>
        <div class="form-action-btn">
          <button class="small-button red-button modal-url-button" onclick="deleteEntity('lessons', 'lesson', this)">
            <span class="fa icon trash"></span>Törlés
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- modal window -->
<div class="screen-container modal-screen" id="course-edit-modal">
  <div class="mini-box">
    <div class="mini-box-header">
      <p>Kurzus szerkesztése</p>
      <button class="modal-exit-btn close-modal">
          <span class="fa icon X-icon"></span>
      </button>
    </div>    
    <form action="/courses/<%=course.id %>" method="POST">
      <div class="mini-box-content">
        <div class="form-wrapper">
          <label for="course-name">Kurzus név</label>
          <input 
            type="text"
            name="name"
            id="course-name"
            value="<%=course.name%>"
            placeholder= "Adja meg a kurzus nevét"
            required
          />
        </div>
        <div class="form-button-container">
          <div class="form-action-btn">
            <a class="small-button gray-button close-modal">
              <span class="fa icon X-icon"></span>Mégse
            </a>
          </div>
          <div class="form-action-btn">
            <button class="small-button green-button">
              <span class="fa icon check-mark"></span>Mentés
            </button>
          </div>
        </div>
      </div>
    </form>   
  </div>
</div>

