<header>
  <div class="header-theerbutton" style="display: flex; justify-content: center;">
    <div class="header-content-administration" id="Tolkien-logo">
      <div class="header-logo">
        <img src="/img/wikipedia.svg" alt="Tolkien logo" />
        <h1>RandomTolkien</h1>
      </div>
    </div>
    
    <div class="header-tabs">
    </div>
  </div>
</header>
