/* custom rules for desktop */
@media screen and (max-width: 1900px) {
  .lesson-page {
    .lesson-controlpanel {
      .course-content-tab {
        .content-area {
          .course-content-list {
            .content-item {
              .info-card {
                .info-title-wrapper {
                  margin-right: auto;
                  .info-title {
                    align-self: flex-start;
                  }
                  .info-action {
                    align-self: flex-end;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

/* desktop nézet itt van kapcsolgatva a 2 féle menü */
@media screen {
  .lesson-page {
    .lesson-title.tablet {
      display: none;
    }
    .lesson-title.desktop {
      display: flex;
    }
  }
  .control-container.desktop {
    display: flex;
  }
  .control-container.tablet {
    display: none;
  }
}

/* táblagép nézet */
@media only screen and (max-device-width: 1366px) {
  .lesson-page {
    padding: 0px;
    .lesson-title.tablet {
      display: flex;
      .hb-menu.tablet {
        display: flex;
      }
      .hb-menu.phone {
        display: none;
      }
    }
    .panel-wrapper {
      .lesson-mainpanel {
        margin: 0px;
        .lesson-title.desktop {
          display: none;
        }
        .video-control-container {
          .video-container {
            border-radius: 0px;
            .video-playback-player,
            .lesson-video,
            .video-stream-desktopshare {
              video {
                border-radius: 0px;
              }
            }
            .video-stream-messages {
              left: $video-record-info-left;
            }
          }
          .control-container.desktop {
            display: none;
          }
        }
      }

      .lesson-controlpanel {
        border-radius: 0px;
        min-width: auto;
        max-width: auto;
        width: 700px;
        .control-wrapper {
          .tab-control {
            .tab-item {
              border-radius: 0px;
            }
          }
        }
        .content-wrapper {
          .participant-tab {
            .content-area {
              .participants-tab-content {
                .contact-item {
                  .contact-info {
                    .contact-action {
                      padding: $user-raised-hand-info-mobile-padding;
                      p {
                        span.icon:before {
                          margin: 0;
                        }
                        span.contact-action-text {
                          display: none;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          .records-tab-content {
            .content-area {
              .records-content-list {
                .record-content {
                  flex-direction: column;
                  .thumbnail {
                    width: 100%;
                    margin: 0;
                    margin-bottom: $smaller-margin;
                    img {
                      width: 100%;
                      max-width: none;
                      max-height: none;
                      margin: 0;
                    }
                  }
                  .record-info {
                    width: 100%;
                    display: flex;
                    flex-direction: column;

                    .lesson-id {
                      width: 100%;
                      margin-bottom: $smaller-margin;
                      p {
                        font-size: $normal-font;
                        font-weight: $bold-font-weight;
                        line-height: $normal-line-height;
                        color: $info-lesson-blue;
                      }
                    }
                    .number-of-record {
                      width: 100%;
                      p {
                        font-size: $normal-font;
                        font-weight: $bold-font-weight;
                        line-height: $normal-line-height;
                        color: $almost-black;
                      }
                    }
                    .play-button {
                      margin-top: 20px;
                      width: 100%;
                    }
                  }
                }
              }
            }
          }
          .course-content-tab {
            .content-area {
              .course-content-list {
                .course-content {
                  .info-card {
                    .info-record {
                      flex-direction: column;
                      .info-action {
                        margin-right: auto;
                        margin-left: 0px;
                        .test-done {
                          padding: 5px;
                          width: 40px;
                          p {
                            span.icon:before {
                              margin: 0;
                            }
                            span.text-done {
                              display: none;
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .control-wrapper {
      .control-container.tablet {
        display: flex;
      }
    }
  }
  .action-area-wrapper {
    .action-area {
      .tab-action-form {
        .textarea-wrapper {
          textarea {
            height: 5em;
          }
        }
      }
    }
  }
}

/* phone nézet */
@media only screen and (max-width: 641px) {
  .panel-wrapper {
    overflow-x: hidden;
  }
  .mobile-collapse.close,
  .lesson-main-informations {
    display: none;
  }
  .mobile-collapse.open {
    display: block;
  }

  .lesson-page {
    .lesson-controlpanel {
      display: none !important;
    }
    .lesson-mainpanel.hide {
      display: none !important;
    }
  }
  .lesson-mainpanel.hide ~ .lesson-controlpanel {
    display: flex !important;
    min-width: 100%;
    max-width: 100%;
  }
  .lesson-title.tablet {
    h1.main-title {
      font-weight: $bold-font-weight;
      font-size: 24px;
      line-height: 1.46;
      letter-spacing: normal;
    }
    .hb-menu.tablet {
      display: none !important;
    }
    .hb-menu.phone {
      display: flex !important;
    }
  }

  .control-container {
    .button-container,
    .button-container.off {
      background-color: $fullwhite;
    }
    .button-container.on {
      //background-color: $brutaly-gray;
    }
    .button-container,
    .button-container.on,
    .button-container.off {
      border-radius: 50%;
      margin-right: 22.5px;
      margin-left: 22.5px;
      .round-button {
        width: 70px !important;
        height: 70px !important;
      }
      .button-label-container {
        display: none;
      }
    }
  }
  .control-container.tablet {
    display: none !important;
  }
  .control-container.desktop {
    z-index: 120;
    display: flex !important;
    .share-button {
      display: none;
    }
    .record-button {
      display: none;
    }

    .button-container:last-child,
    .button-container.on:last-child,
    .button-container.off:last-child {
      margin-right: 0;
    }
    .button-container:first-child,
    .button-container.on:first-child,
    .button-container.off:first-child {
      margin-left: 0;
    }
    .share-button {
      display: none;
    }
    .record-button {
      display: none;
    }
  }

  .records-content-list {
    display: flex;

    flex-direction: row;
    .record-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 25%;
      flex-wrap: wrap;
      margin-bottom: $normal-margin;
      margin-right: 0px;
      min-width: 250px;
      .thumbnail {
        width: 100%;
        margin-right: 20px;
        position: relative;

        img {
          width: 100%;
          border-radius: 6px;
          display: block;
        }
        .record-length {
          position: absolute;
          top: 10px;
          left: 10px;
          background-color: rgba(255, 255, 255, 0.75);
          border-radius: 6px;
          z-index: 10;
          p {
            padding: $icon-space-small $smaller-padding $icon-space-small
              $smaller-padding;
          }
        }
      }
      .record-info {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 10px;

        .lesson-id {
          width: 100%;
          margin-bottom: $smaller-margin;
          p {
            font-size: $normal-font;
            font-weight: $bold-font-weight;
            line-height: $normal-line-height;
            color: $info-lesson-blue;
          }
        }
        .number-of-record {
          width: 100%;
          margin-bottom: $smaller-margin;
          p {
            font-size: $normal-font;
            font-weight: $bold-font-weight;
            line-height: $normal-line-height;
            color: $almost-black;
          }
        }
        .play-button {
          width: 100%;
        }
      }
    }
  }

  .message-tab-content {
    .message-item {
      width: 100%;
    }
  }

  .action-area-wrapper {
    padding: 0 !important;
    .note-export {
      height: 100%;
      margin: $small-margin;
    }
    .action-area {
      padding: 0px !important;
      margin: 0px !important;
      .tab-action-form {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        box-shadow: $message-form-shadow;
        width: 100%;
        .textarea-wrapper {
          border: $message-form-border;
          border-radius: 0px;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          textarea {
            height: 55px;
          }
        }
        button {
          height: 55px;
          width: 55px;
          border-radius: 0px;
          position: relative;
          top: -0px;
          span.btn-text {
            display: none;
          }
          span.icon {
            margin-right: 0px;
          }
        }
      }
    }
  }
}
