/*Global*/
@media screen and (max-device-width: 1366px) {
  .mainpage-settings {
    height: auto;
    overflow-y: visible;
    .screen-wrapper {
      @include scrollbarVert();
      width: auto;
      padding-right: $mainpage-panel-wrapper-space-left;
      margin-right: $mainpage-panel-scrollbar-space-right;
      .double-panel-wrapper {
        height: auto;
        overflow: initial;
        .left.panel,
        .right.panel {
          max-height: 100% !important;
          height: auto;
        }
      }
    }
    .double-panel-wrapper {
      flex-direction: column;
      .left {
        width: 100% !important;
        max-height: 100%;
        margin-right: 0px;
        .scrollable-content {
          padding: 0px;
          max-height: 100%;
        }
      }
      .right {
        .scrollable-content {
          padding: 0px;
          max-height: 100%;
        }
        width: 100%;
        margin-left: 0px;
        margin-top: $large-margin;
        .content-wrapper {
          .tab-content {
            max-height: 100%;
          }
        }
      }
    }
  }
}

@media screen and (max-device-width: 650px) {
  .screen-wrapper {
    padding: 15px !important;
    margin: 0px !important;
  }
}

/*Teacher-mainpage*/
@media screen and (max-width: 1500px) {
  #teacher-mainpage-settings {
    #mainpagetab {
      .panel.left {
        .timetable {
          .scrollable-content {
            .scrolled-content {
              .content-list {
                .lessons {
                  .info-card {
                    .info-record {
                      flex-direction: column;
                      .info-lesson-title {
                      }
                      .info-time-schedule {
                        margin-left: auto;
                        margin-top: 10px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      .right {
        .scrollable-content {
          .scrolled-content {
            .content-list {
              .content-item {
                .content-item-container {
                  .info-card {
                    .info-record {
                      flex-direction: column;
                      .info-lesson-title {
                        margin-right: auto;
                        margin-top: 5px;
                      }
                      .user-container {
                        margin-left: auto;
                        margin-bottom: 5px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1350px) {
  #teacher-mainpage-settings {
    #mainpagetab {
      .timetable {
        .scrollable-content {
          .scrolled-content {
            .content-list {
              .lessons {
                .info-card {
                  .info-lesson-details {
                    flex-direction: column;
                    .info-lesson-container {
                      margin-right: auto;
                      margin-left: auto;
                    }
                    .small-link-button {
                      margin-right: auto;
                      margin-left: auto;
                      margin-top: 10px;
                    }
                  }
                  .info-record {
                    .info-lesson-title {
                      text-align: center;
                      margin-right: auto;
                      margin-left: auto;
                    }
                    .info-time-schedule {
                      margin-right: auto;
                      margin-left: auto;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  #teacher-mainpage-settings {
    #mainpagetab {
      .timetable {
        .scrollable-content {
          .scrolled-content {
            .content-list {
              .lessons {
                .info-card {
                  .info-lesson-details {
                    flex-direction: column;
                    .info-lesson-container {
                      margin-right: auto;
                      flex-direction: column;
                      .info-lesson-detail {
                        margin-right: auto;
                        margin-left: auto;
                        margin-top: 10px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      .course {
      }
    }
  }
  .content-header {
    flex-direction: column;
    .content-header-leftbox {
      margin-right: auto;
    }
    .small-link-button {
      margin-left: auto;
    }
    .scrollable-content {
      .scrolled-content {
        .content-list {
          .content-item {
            .content-item-container {
              .info-card {
                .info-record {
                  flex-direction: column;
                  .info-lesson-title {
                    //margin-right: auto;
                    margin-left: auto;
                  }
                  .user-container {
                    flex-direction: column;
                    //margin-left: auto;
                    margin-right: auto;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

/*Closed, ongoing, future tablet, phone*/
@media screen and (max-device-width: 1650px) {
  #closed-lesson,
  #future-lesson,
  #ongoing-lesson {
    .lesson-date {
      p {
        text-align: center;
      }
    }
  }
}
@media screen and (max-device-width: 1366px) {
  #clossed-lesson-information,
  #future-lesson-information,
  #ongoing-lesson-information {
    .double-panel-wrapper {
      flex-direction: column;
      .left {
        width: 100%;
        //max-height: 800px; //táblagép nézeten nem volt jó, kilógott a gomb a divből
        margin-right: 0px;
        .lesson-informations {
          .data-box {
            min-width: 250px;
          }
        }
      }
      .right {
        min-height: 500px;
        max-height: 800px;
        width: 100%;
        margin-left: 0px;
        margin-top: $large-margin;
      }
    }
  }
}
@media screen and (max-device-width: 950px) {
  .mainpage-settings {
    .screen-wrapper {
      .double-panel-wrapper {
        .left {
          max-height: 100%;
          .lesson-informations {
            flex-direction: column;
            .data-box {
              margin-bottom: $normal-margin;
              width: 100%;
            }
            .data-box:nth-last-of-type(1) {
              margin-bottom: 0px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-device-width: 750px) {
  .mainpage-settings.phone {
    .tab {
      padding: $smaller-padding;
    }
    .double-panel-wrapper {
      .left {
        margin-right: 0px;
        margin-left: 0px;
        .lesson-details-panel {
          margin-top: 30px;
          .lesson-phase {
            p {
              text-align: center;
            }
          }
        }
      }
      .right {
        margin-right: 0px;
        margin-left: 0px;
      }
    }
  }
}

/* Lesson-information*/
@media screen and (min-width: 650px) {
  .mainpage-settings.phone {
    .mobile-header {
      display: none;
    }
    .header-mobile-menu {
      display: none;
    }
  }
}
@media screen and (max-width: 650px) {
  .mainpage-settings.phone {
    .mobile-header {
      display: flex;
    }
    .header {
      display: none;
    }
  }
  .lesson-main-wrapper {
    .lesson-description {
      max-height: none !important;
    }
  }
}

/*Student mainpage lesson details desktop*/
@media screen and (max-width: 1800px) {
  .header-with-3buttons {
    flex-direction: column;
    .content-header-text {
      margin-right: auto;
    }
    .content-header-symbols {
      margin-right: auto;
      margin-bottom: $smaller-margin;
    }
  }
}
@media screen and (max-width: 1400px) {
  .content-header-symbols {
    flex-wrap: wrap;
    .symbol-box {
      //margin-top: 15px;
    }
  }
  .info-record {
    flex-wrap: wrap;
    .info-lesson-title {
      margin-right: $smaller-padding;
    }
  }
}

/*Student mainpage lesson details tablet,phone*/
@media screen and (min-device-width: 1366px) {
  .content-header-symbols {
    flex-wrap: wrap;
    .symbol-box {
      //margin-top: 15px;
    }
  }
}
@media screen and (min-device-width: 950px) and (max-device-width: 1366px) {
  #mainpage-settings-lesson-details {
    .header-with-3buttons {
      flex-direction: row;
      .content-header-symbols {
        margin-left: auto;
        margin-right: 20px;
      }
    }
  }
}
@media screen and (max-device-width: 950px) {
  #mainpage-settings-lesson-details {
    .header-with-3buttons {
      flex-direction: column;
      .content-header-symbols {
        margin-left: 0px;
        margin-right: auto;
      }
    }
  }
}
@media screen and (max-device-width: 720px) {
  #mainpage-settings-lesson-details {
    #mainpagetab {
      padding: 30px;
      .double-panel-wrapper {
        .left {
          padding: 0px;
          max-height: 100%;
          background-color: #f5f7f8;
          .scrollable-content {
            padding-right: 0px;
            .scrolled-content {
              margin-right: 0px;
              .info-record {
                flex-direction: column;
                .info-lesson-title {
                  margin-right: auto;
                }
                .lesson-details-container {
                  flex-direction: column;
                  width: 100%;
                  .icon-link-button {
                    width: 100%;
                    margin-left: 0px;
                    margin-top: 30px;
                  }
                  .lesson-details {
                    margin-right: auto;
                    margin-left: 0px;
                  }
                }
              }
            }
          }
        }
        .right {
          padding: 0px;
          max-height: 100%;
          margin-top: 0px;
          background-color: $light-gray;
          .scrollable-content {
            padding-right: 0px;
            margin-top: 15px;
            .scrolled-content {
              margin-right: 0px;
            }
          }
          .content-wrapper {
            .tab-content {
              background-color: #f5f7f8;
              max-height: 100%;
              padding: 0px;
            }
          }
        }
      }
    }
  }
  .header-with-3buttons {
    flex-direction: column;
    .content-header-symbols {
      flex-wrap: wrap;
      margin-right: 20px;
      .symbol-box {
        //margin-bottom: $tiny-margin;
      }
      .symbol-box:nth-last-of-type(1) {
        margin-bottom: 0px;
      }
    }
  }
}

/*Student mainpage desktop*/
@media screen and (min-width: 1367px) and (max-width: 1600px) {
  #student-mainpage-settings {
    #mainpagetab {
      .timetable {
        .info-lesson-details {
          .info-lesson-container {
            flex-direction: column;
            .info-lesson-detail {
              margin-bottom: $tiny-margin;
            }
            .info-lesson-detail:nth-last-of-type(1) {
              margin-bottom: 0px;
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1367px) and (max-width: 1500px) {
  #student-mainpage-settings {
    .info-record {
      flex-direction: column;
      .info-lesson-title {
        margin-right: auto;
        margin-left: 0;
      }
      .user-container,
      .info-time-schedule {
        margin-left: auto;
        margin-right: 0;
      }
    }
  }
}
@media screen and (max-width: 1366px) {
  #student-mainpage-settings {
    .info-record {
      flex-direction: column;
      .info-lesson-title {
        margin-right: auto;
        margin-left: 0;
      }
      .user-container,
      .info-time-schedule {
        margin-left: auto;
        margin-right: 0;
      }
    }
    .info-lesson-details {
      .info-lesson-container {
        flex-direction: column;
      }
    }
  }
}

/*Student mainpage tablet, phone*/
@media screen and (min-device-width: 1367px) and (max-device-width: 1600px) {
  #student-mainpage-settings {
    #mainpagetab {
      .timetable {
        .info-lesson-details {
          .info-lesson-container {
            flex-direction: column;
            .info-lesson-detail {
              margin-bottom: $tiny-margin;
            }
            .info-lesson-detail:nth-last-of-type(1) {
              margin-bottom: 0px;
            }
          }
        }
      }
    }
  }
}
@media screen and (min-device-width: 1367px) and (max-device-width: 1500px) {
  #student-mainpage-settings {
    .info-record {
      flex-direction: column;
      .info-lesson-title {
        margin-right: auto;
        margin-left: 0;
      }
      .user-container,
      .info-time-schedule {
        margin-left: auto;
        margin-right: 0;
      }
    }
  }
}
@media screen and (max-device-width: 1366px) {
  #student-mainpage-settings {
    .screen-wrapper {
      .double-panel-wrapper {
        flex-direction: column;
        .left {
          width: 100%;
          margin-right: 0px;
          max-height: 800px;
          .timetable {
            .info-card {
              .info-lesson-details {
                .info-lesson-container {
                  flex-direction: row;
                  .info-lesson-detail {
                    margin-bottom: 0px;
                  }
                }
              }
            }
          }
        }
        .right {
          max-height: 800px;
          width: 100%;
          margin-left: 0px;
          margin-top: $large-margin;
        }
      }
    }
  }
}
@media screen and (max-device-width: 850px) {
  #student-mainpage-settings {
    #mainpagetab {
      .timetable {
        .info-card {
          .info-lesson-details {
            .info-lesson-container {
              flex-direction: column;
              .info-lesson-detail {
                margin-bottom: $tiny-margin;
              }
              .info-lesson-detail:nth-last-of-type(1) {
                margin-bottom: 0px;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-device-width: 750px) {
  #student-mainpage-settings {
    #mainpagetab {
      .left {
        .info-card {
          .info-record {
            flex-direction: column;
            .info-lesson-title {
              margin-right: auto;
            }
            .info-time-schedule {
              margin-left: auto;
              margin-top: 15px;
            }
          }
        }
      }
      .right {
        .info-record {
          flex-direction: column;
          .info-lesson-title {
            margin-left: auto;
            margin-right: auto;
          }
          .user-container {
            margin-top: 15px;
            margin-left: auto;
            margin-right: auto;
          }
        }
      }
    }
  }
}
@media screen and (max-device-width: 600px) {
  #student-mainpage-settings {
    #mainpagetab {
      padding: 0px;
      .left {
        background-color: #f5f7f8;

        .info-card {
          .info-record {
            .info-lesson-title {
              margin-right: auto;
            }
            .info-time-schedule {
              margin-right: auto;
              margin-left: 0px;
            }
          }
          .info-lesson-details {
            flex-direction: column;
            .info-lesson-container {
              margin-right: auto;
              .info-lesson-detail {
                margin-right: auto;
              }
            }
            .small-link-button {
              text-align: center;
              width: 100%;
              margin-top: 15px;
            }
          }
        }
      }
      .right {
        background-color: #f5f7f8;
        .info-record {
          .info-lesson-title {
            margin-right: auto;
            margin-left: 0px;
          }
          .user-container {
            width: 100%;
            flex-direction: column;
            margin-left: 0px;
            margin-right: auto;
            .user {
              margin-right: auto;
              margin-left: 0px;
            }
            .icon-button {
              width: 100%;
              margin-top: 30px;
              margin-left: 0px;
            }
          }
        }
      }
    }
  }
}

/*Vote, Student-tests, Student-tests-v2*/
@media screen and (max-width: 1390px) {
  .mainpage-settings {
    .screen-wrapper {
      .finish-btn {
        margin-top: 15px;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .mainpage-settings {
    .screen-wrapper {
      .finish-btn {
        width: 100%;
      }
      .editor-title-container {
        align-items: flex-start;
        .test-title {
          margin-top: 45px;
        }
      }
    }
  }
}

/*Teacher, student settings*/
@media screen and (max-width: 1100px) {
  .user-data-settings {
    flex-direction: column;
    margin-top: 0px;
    margin-bottom: 0px;
    .input-wrapper {
      margin-top: 15px;
    }
  }
  .password-change {
    flex-direction: column;
    .password-change-container {
      margin-left: 0px !important;
      margin-right: 0px !important;
      margin-top: 15px;
    }
  }
  .save-btn {
    .save-btn-box {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

/*Course-creation; test-course*/
@media screen and (max-width: 1600px) {
  #coursecreation,
  #test-course {
    .course-lessons-container {
      .info-record {
        flex-direction: column;
        .info-lesson-title {
          margin-right: auto;
        }
        .lesson-details-container {
          margin-right: auto;
        }
      }
    }
  }
}
