@media screen and (max-width: 950px) {
  header {
    .desktop-header {
      height: 100%;
      padding-top: 25px;
      .header-content {
        height: 100%;
        flex-direction: column;
        .header-logo {
          width: auto;
          margin: 0px;
        }
      }
      #profile {
        flex-direction: column-reverse;
        height: 100%;
        justify-content: space-between;
        #settings {
          height: 80px;
        }
      }
    }
  }
}

@media screen and (max-width: 650px) {
  header {
    .mobile-header {
      display: flex;
    }
    .desktop-header {
      display: none;
    }
  }
}

@media screen and (min-width: 650px) {
  header {
    .mobile-header {
      display: none;
    }
    .header-mobile-menu {
      display: none;
    }
  }
}

@media screen and (max-width: 750px) {
  #closed-lesson,
  #mainpage-settings-lesson-details,
  #future-lesson,
  #ongoing-lesson {
    .scondary-header-wrapper {
      height: 100%;
      .secondary-header-content {
        flex-direction: column;
        .small-link-button {
          width: 100%;
          order: 3;
          margin-top: 35px;
          text-align: center;
          margin-left: 0px;
          margin-right: 0px;
        }
        .lesson-name {
          margin-right: auto;
          margin-left: auto;
          margin-bottom: $tiny-margin;
          text-align: center;
        }
        .left-container {
          margin-right: auto;
          margin-left: auto;
          margin-top: 10px;
        }
      }
    }
    .single-panle-wrapper,
    .double-panle-wrapper {
      .lessons-info {
        margin-right: 0px;
        margin-left: 0px;
        .lesson-main-informations-box {
          margin-top: 30px;
          .lesson-phase {
            p {
              text-align: center;
            }
          }
        }
      }
      .course-content {
        margin-right: 0px;
        margin-left: 0px;
      }
    }
  }
}
