@mixin flexContentCenter($bg-color, $width, $height) {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bg-color;
  width: $width;
  height: $height;
}

@mixin tabButton() {
  display: flex;
  justify-content: center;
  align-items: center;
  //border: none;
  //outline: none;
  background-color: transparent;
  cursor: pointer;
}

@mixin roundButton($widthAndHeight, $bgcolor, $color) {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: $widthAndHeight;
  height: $widthAndHeight;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: $bgcolor;
  background-color: transparent;
  color: $color;
}

@mixin buttonIcon($faIcon) {
  content: $faIcon;
  font-size: $huge-font;
  line-height: 111px;
  letter-spacing: 0.78px;
}

@mixin SEButton(
  $bgcolor,
  $color,
  $width,
  $height,
  $radius,
  $border,
  $fontsize,
  $lineheight,
  $fontweight
) {
  background-color: $bgcolor;
  color: $color;
  width: $width;
  height: $height;
  border-radius: $radius;
  outline: none;
  border: $border;
  font-size: $fontsize;
  line-height: $lineheight;
  font-weight: $fontweight;
  cursor: pointer;
  span:before {
    margin: $icon-space-small;
  }
  &:hover {
    background-color: $color;
    color: $bgcolor;
  }
}

@mixin DEButton(
  $bgcolor,
  $color,
  $padding,
  $radius,
  $border,
  $fontsize,
  $lineheight,
  $fontweight
) {
  background-color: $bgcolor;
  color: $color;
  padding: $padding;
  border-radius: $radius;
  outline: none;
  border: $border;
  font-size: $fontsize;
  line-height: $lineheight;
  font-weight: $fontweight;
  cursor: pointer;
  span:before {
    margin: $icon-space-small;
  }
  &:hover {
    background-color: $color;
    color: $bgcolor;
  }
}

@mixin scrollbarVert(
  $width: $scrollbar-width,
  $height: $scrollbar-width,
  $color: $scrollbar-color
) {
  overflow-y: auto;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: $width;
    height: $height;
  }

  &::-webkit-scrollbar-track {
    border-radius: $width/2;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: $scrollbar-color;
  }
  &::-webkit-scrollbar-thumb:window-inactive {
    background-color: $scrollbar-color;
  }
}
@mixin scrollbarBoth(
  $width: $scrollbar-width,
  $height: $scrollbar-width,
  $color: $scrollbar-color
) {
  overflow-y: auto;
  overflow-x: auto;
  &::-webkit-scrollbar {
    width: $width;
    height: $height;
  }

  &::-webkit-scrollbar-track {
    border-radius: $width/2;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: $scrollbar-color;
  }
  &::-webkit-scrollbar-thumb:window-inactive {
    background-color: $scrollbar-color;
  }
}

@mixin Textarea() {
  resize: none;
  outline: none;
  font-size: $small-font;
  font-weight: $normal-font-weight;
  line-height: $normal-line-height;
  letter-spacing: 0.54px;
  text-align: left;
  color: $almost-black;
  &:focus::-webkit-input-placeholder {
    color: $brutaly-blue;
  }
  &:focus {
    border: solid 1px $brutaly-blue;
    color: $brutaly-blue;
  }
}
@mixin InputText() {
  resize: none;
  outline: none;
  font-size: $small-font;
  font-weight: $normal-font-weight;
  line-height: $normal-line-height;
  letter-spacing: 0.54px;
  text-align: left;
  color: $almost-black;
  &:focus::-webkit-input-placeholder {
    color: $brutaly-blue;
  }
  &:focus {
    border: solid 1px $brutaly-blue;
    color: $brutaly-blue;
  }
}
@mixin InputTextGrey() {
  resize: none;
  outline: none;
  font-size: $small-font;
  font-weight: $normal-font-weight;
  line-height: $normal-line-height;
  letter-spacing: 0.54px;
  text-align: left;
  color: $brutaly-gray;
  &:focus::-webkit-input-placeholder {
    color: $brutaly-blue;
  }
  &:focus {
    border: solid 1px $brutaly-blue;
    color: $brutaly-blue;
  }
}
