<div class="mini-box">
    <div class="mini-box-header">
        <p>Linkek</p>
        <button class="modal-exit-btn close-modal" onclick="closeModals($('.modal-cover')[0], $('.modal-screen').toArray())">
            <span class="fa icon X-icon"></span>
        </button>
    </div>
    <div class="mini-box-content">

        <% links.forEach(link => { %>
            <div class="form-wrapper">
                <input disabled type="text" value="<%=link.url%>"/>
            </div>
        <% }) %>

        <div class="form-button-container">
            <div class="form-action-btn">
                <button class="small-button gray-button close-modal" onclick="closeModals($('.modal-cover')[0], $('.modal-screen').toArray())">
                    <span class="fa icon X-icon"></span>Vissza
                </button>
            </div>
        </div>
    </div>
</div>