<% layout('../layouts/default') -%>
<div class="single-panel-wrapper">
    <div class="institution-content">
        <div class="content-header-wrapper header-with-2buttons">
            <div class="content-header">
                <div class="content-header-text">
                    <div class="content-header-title">
                        <p>Válaszok</p>
                    </div>
                    <div class="content-header-date">
                        <p>
                            Itt láthatod az összes beküldött választ. Csak akkor frissül, ha kézzel frissítgeted
                            ¯\_(ツ)_/¯
                        </p>
                    </div>
                </div>
            </div>
            <div class="header-action-container">
                <div class="content-header-symbols">
                    <button class="small-button red-button" onclick="reset()"><span class="fa icon trash"></span>Összes törlése</button>
                </div>
            </div>
        </div>
        <div class="scrollable-content">
            <div class="scrolled-content">
                <table class="user-datas">
                    <thead>
                        <tr class="table-header">
                            <th class="thead" id="first-column">Sorszám</th>
                            <th class="thead">Név</th>
                            <th class="thead">Lépések</th>
                            <th class="thead">Beküldés</th>
                            <th class="thead"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% let i = 0; %>
                        <% submits.forEach(submit => { %>
                            <%i = i+1%>
                            <tr class="table-row">
                                <td class="institution-name"><%=i%></td>
                                <td class="type"><%=submit.name%></td>
                                <td class="subtype"><%=submit.links.length%></td>
                                <td class="creation-date"><%=moment(submit.created).format('MMMM Do HH:mm:ss')%></td>
                                <td class="table-buttons">
                                    <button class="small-button bule-button mr-15 open-modal" onclick="showLinks('<%=submit.id%>')" data-target="#links-modal">
                                        <span class="fa icon eye"></span> Részletek
                                    </button>
                                </td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- modal cover -->
<div class="modal-cover"></div>

<div class="screen-container modal-screen" id="links-modal">
</div>