<% layout('../layouts/default') -%>

<div id="survey-container" class="single-panel-wrapper">

    <div class="editor-title-container">
        <div class="test-title">
            <p>Sikeres beküldés !</p>
        </div>
    </div>
</div>
