<% layout('../layouts/default') -%>

<div id="survey-container" class="single-panel-wrapper">

    <div class="editor-title-container">
        <div class="test-title">
            <p>Sok szerencsét!</p>
        </div>
        <div class="test-information-container">
            <div class="test-name-box">
                <label for="test-name">Neved</label>
                <input type="text" name="name" id="test-name" placeholder="Add meg a neved!" />
            </div>
        </div>
        <br>
        <p>Csaba fq légyszi ne hekkeld szét köszce</p>
    </div>

    <div class="question-parameters">
        <div id="question-container" class="scrollable-content"></div>

        <div class="add-new-question-btn" style="display: flex; justify-content: center">
            <div class="add-new-answer-btn">
                <button class="small-button bg-transp text-first" onclick="addLink()">
                    <span class="fa icon plus-mark"></span> Új link
                </button>
            </div>
        </div>

        <div class="footer-buttons" style="display: flex; justify-content: center">
            <div class="create-btn">
                <button class="small-button wide-button green-button ml-30" onclick="saveSubmit()">
                    <span class="fa icon check-mark"></span>Beküldés
                </button>
            </div>
        </div>
    </div>
</div>

<div hidden id="question-template">
    <div class="new-question-parameters">
        <div class="question-box">
            <div class="question-content">
                <div class="answer-box">
                    <input class="question answer" type="text" name="question" placeholder="Link szövege" />
                </div>
            </div>
        </div>
    </div>
</div>
