<% layout('../layouts/default') -%> 

<body class="mainpage-settings settings-screen" id="student-mainpage-settings">

<!--This is the settings tab content-->
<main class="screen-wrapper" id="settingstab">
    <div class="single-panel-wrapper">
      <!--This is the settings tab content-->

      <form class="user-data-form password-change-form" action="/settings" method="POST"> <!-- Azért van 2 class mert ez a form 2 másik form egybe vonva-->
        <div class="content-header-wrapper simple-header">
          <div class="content-header">
            <div class="content-header-text">
              <div class="content-header-title">
                <p>Felhasználói adatok</p>
              </div>
              <div class="content-header-note">
                <p>Itt találhatod az alap adataidat</p>
              </div>
            </div>
          </div>
        </div>
        <div class="user-data-settings">
          <div class="user-email input-wrapper">
            <label for="user-email">E-mail cím</label>
            <% if(current_user.role !== 'admin'){ %>
                <input
                  disabled
                  type="text"
                  name="user-email"
                  id="user-email"
                  placeholder="E-mail cím"
                  value=<%=current_user.email%>
                />
        <% } else{ %>  
                <input
                  type="text"
                  name="user-email"
                  id="user-email"
                  placeholder="E-mail cím"
                  value=<%=current_user.email%>
                />
        <% } %>

            
          </div>
          <div class="user-type input-wrapper">
            <label for="user-type">Szerepkör</label>

            <% if(current_user.role !== 'admin'){ %>
                <select id="user-type" name="user-type" class="role-dropdown" disabled>
                  <option value="<%= current_user.role %>" selected><%= translateRoleEngToHun(current_user.role) %></option>
                </select>
          <% } else{ %>  
                <select id="user-type" name="user-type" class="role-dropdown">
                  <option value="teacher">Tanár</option>
                  <option value="student">Diák</option>
                  <option value="agent">Ágens</option>
                  <option value="admin" selected>Admin</option>
                  <option value="guest">Vendég</option>
                </select>
          <% } %>
          </div>
        </div>
    

        <div class="user-data-settings">
          <div class="user-secondname-container input-wrapper">
            <label for="user-secondname">Vezetéknév</label>
            <input
              type="text"
              name="user-secondname"
              id="user-secondname"
              placeholder="Vezetékneve"
              value=<%=current_user.lastname%>
            />
          </div>
          <div class="user-firstname-container input-wrapper">
            <label for="user-firstname">Keresztnév</label>
            <input
              type="text"
              name="user-firstname"
              id="user-firstname"
              placeholder="Keresztneve"
              value=<%=current_user.firstname%>
            />
          </div>
        </div>
        <div class="content-header-wrapper simple-header">
          <div class="content-header">
            <div class="content-header-text">
              <div class="content-header-title">
                <p>Jelszó módosítás</p>
              </div>
              <div class="content-header-note">
                <p>Itt tudod módosítani a jelszavadat</p>
              </div>
            </div>
          </div>
        </div>

        <div class="password-change">
          <div class="password-change-container">
            <label for="current-pw">Jelenlegi jelszó</label>
            <input type="password" id="current-pw" name="current-pw" />
          </div>
          <div class="password-change-container">
            <label for="new-pw-1">Új jelszó</label>
            <input type="password" id="new-pw-1" name="new-pw-1" />
          </div>
          <div class="password-change-container">
            <label for="new-pw-2">Új jelszó megerősítés</label>
            <input type="password" id="new-pw-2" name="new-pw-2" />
          </div>
        </div>
        <div class="save-btn">
          <button class="save-btn-box">
            <p><span class="fa icon check-mark"></span>Mentés</p>
          </button>
        </div>
      </form>

      
    </div>
  </main>

</body>
