<% layout('../layouts/default') -%>

<!-- This is the secondary header -->
<div class="scondary-header-wrapper">
    <div class="decor"></div>
    <div class="secondary-header-content">
      <div class="back-btn small-link-button header-button">
        <a href="/courses/<%=course.id%>"
          ><span class="fa icon back-arrow"></span>Vissza</a
        >
      </div>
      <div class="lesson-name">
        <p><%=lesson.name%></p>
      </div>

      <button
        class="small-button blue-button open-modal header-button"
        data-target="#lesson-edit"
      >
        <span class="fa icon write"></span>Óra adatainak szerkesztése
      </button>
    </div>
  </div>

  <!-- This is the wrapper of the two panles -->
  <div class="double-panel-wrapper">
    <!--Left container-->
    <div class="left panel">
      <div class="content-header-wrapper simple-header">
        <div class="content-header">
          <div class="content-header-text">
            <div class="content-header-title">
              <p>Óra infó</p>
            </div>
            <div class="content-header-date">
              <p>Itt találja az információkat az óráról</p>
            </div>
          </div>
        </div>
      </div>

      <!-- collapse button for mobile view for open -->
      <button
        class="mobile-collapse open text-first small-button blue-button bg-transp"
        data-target=".lesson-main-wrapper"
        data-action="open"
      >
        Megnyitás
        <span class="fa icon arrow-open"></span>
      </button>

      <div class="lesson-details-panel">
        <div class="lesson-main-wrapper">
          <div class="lesson-informations">
            <div class="user-name data-box">
              <p><span class="fa icon teacher"></span><%=user.lastname%> <%=user.firstname%></p>
            </div>
            <div class="lesson-date data-box">
              <p><span class="fa icon time"></span><%=moment(lesson.start_time).format('LLL')%></p>
            </div>
            <div class="lesson-status data-box">
              <p><span class="fa icon hourglass-end"></span><%=convertLessonStatus(lesson.status)%></p>
            </div>
          </div>
          <div class="lesson-description">
            <div class="lesson-description-scrollable">
              <p>
                <%=lesson.description%>
              </p>
            </div>
          </div>
        </div>

        <!-- collapse button for mobile view for close -->
        <button
          class="mobile-collapse close text-first small-button blue-button bg-transp"
          data-target=".lesson-main-wrapper"
          data-action="close"
        >
          Bezárás
          <span class="fa icon arrow-close"></span>
        </button>

        <% switch(lesson.status) { 
            case LESSON_STATUS.READY: %>
                <div class="small-link-button blue-button wide-link-button lesson-phase">
                    <a href=""><span class="fa icon play"></span>Óra indítása</a>
                </div>
                <% break; 
            case LESSON_STATUS.IN_PROGRESS: %>
                <div class="small-link-button blue-button wide-link-button lesson-phase">
                    <a href=""><span class="fa icon play"></span>Folyamatban</a>
                </div>
                <% break;
            case LESSON_STATUS.FINISHED: %>
                <div class="small-link-button red-button wide-link-button lesson-phase">
                    <a href=""><span class="fa icon lock"></span>Lezárt</a>
                </div>
                <% break
            case LESSON_STATUS.DELETED: %>
                <div class="small-link-button red-button wide-link-button lesson-phase">
                    <a href=""><span class="fa icon trash"></span>Törölt</a>
                </div>
                <% break; 
         } %>
      </div>
    </div>

    <div class="right panel embedded-tab">
      <div class="lesson-controlpanel show">
        <div class="control-wrapper">
          <ul class="tab-control">
            <li
              class="tab-item"
              data-target="#write-note"
              id="tab-write-note-container"
            >
              <button class="tab-button write-note" id="tab-write-notes">
                <span class="fa icon"></span>
              </button>
            </li>
            <li
              class="tab-item"
              data-target="#records"
              id="tab-record-container"
            >
              <button class="tab-button records" id="tab-records">
                <span class="fa icon"></span>
              </button>
            </li>
            <li
              class="tab-item"
              data-target="#participants"
              id="tab-participants-container"
            >
              <button class="tab-button participants" id="tab-participants">
                <span class="fa icon"></span>
              </button>
            </li>
            <li
              class="tab-item"
              data-target="#messages"
              id="tab-messages-container"
            >
              <button class="tab-button messages" id="tab-messages">
                <span class="message-counter show">5</span>
                <span class="fa icon"></span>
              </button>
            </li>
            <li
              class="tab-item"
              data-target="#help"
              id="tab-help-container"
            >
              <button class="tab-button help" id="tab-help">
                <span class="fa icon"></span>
              </button>
            </li>
            <li
              class="tab-item"
              data-target="#book"
              id="tab-book-container"
            >
              <button class="tab-button book" id="tab-book">
                <span class="fa icon"></span>
              </button>
            </li>
          </ul>
        </div>

        <!-- top action area -->
        <div class="action-area-wrapper top">
          <!-- Here are the top action contorls of wrtie note tab -->
          <div class="action-area" id="write-note-action">
            <form class="note-export-form">
              <button
                type="button"
                class="note-export"
                id="export-send"
                name="note-export"
              >
                <span class="fa icon file"></span>
                Jegyzet kiexportálása
              </button>
            </form>
          </div>
        </div>

        <!-- wrapper of all tabs -->
        <div class="content-wrapper">
          <!--Write-note tab-->
          <div class="tab-content write-note-tab-content" id="write-note">
            <!-- This is the content -->
            <div class="content-area">
              <ul class="write-note-content-list">
                <!-- This is a note -->
                <li class="note-content content-item incoming-note">
                  <div class="note-body">
                    <p>Mikor volt az első világháború?</p>
                  </div>
                  <div class="note-footer">
                    <div class="note-time">
                      <p><span class="fa icon time"></span> 00:11:29</p>
                    </div>
                    <div class="note-sender" id="edit-note">
                      <button>
                        <span class="fa icon write"></span> Szerksztés
                      </button>
                    </div>
                  </div>
                </li>

                <!-- This is a note -->
                <li class="note-content content-item incoming-note">
                  <div class="note-body">
                    <p>Mikor volt az első világháború?</p>
                  </div>
                  <div class="note-footer">
                    <div class="note-time">
                      <p><span class="fa icon time"></span> 00:11:29</p>
                    </div>
                    <div class="note-sender" id="save-note">
                      <button>
                        <span class="fa icon save"></span> Mentés
                      </button>
                    </div>
                  </div>
                </li>

                <!-- This is a note -->
                <li class="note-content content-item incoming-note">
                  <div class="note-body">
                    <p>Mikor volt az első világháború?</p>
                  </div>
                  <div class="note-footer">
                    <div class="note-time">
                      <p><span class="fa icon time"></span> 00:11:29</p>
                    </div>
                    <div class="note-sender" id="edit-note">
                      <button>
                        <span class="fa icon write"></span> Szerksztés
                      </button>
                    </div>
                  </div>
                </li>

                <!-- This is a note -->
                <li class="note-content content-item incoming-note">
                  <div class="note-body">
                    <p>Mikor volt az első világháború?</p>
                  </div>
                  <div class="note-footer">
                    <div class="note-time">
                      <p><span class="fa icon time"></span> 00:11:29</p>
                    </div>
                    <div class="note-sender" id="save-note">
                      <button>
                        <span class="fa icon save"></span> Mentés
                      </button>
                    </div>
                  </div>
                </li>

                <!-- This is a note -->
                <li class="note-content content-item incoming-note">
                  <div class="note-body">
                    <p>Mikor volt az első világháború?</p>
                  </div>
                  <div class="note-footer">
                    <div class="note-time">
                      <p><span class="fa icon time"></span> 00:11:29</p>
                    </div>
                    <div class="note-sender" id="edit-note">
                      <button>
                        <span class="fa icon write"></span> Szerksztés
                      </button>
                    </div>
                  </div>
                </li>

                <!-- This is a note -->
                <li class="note-content content-item incoming-note">
                  <div class="note-body">
                    <p>Mikor volt az első világháború?</p>
                  </div>
                  <div class="note-footer">
                    <div class="note-time">
                      <p><span class="fa icon time"></span> 00:11:29</p>
                    </div>
                    <div class="note-sender" id="save-note">
                      <button>
                        <span class="fa icon save"></span> Mentés
                      </button>
                    </div>
                  </div>
                </li>
                <!-- This is a note -->
                <li class="note-content content-item incoming-note">
                  <div class="note-body">
                    <p>Mikor volt az első világháború?</p>
                  </div>
                  <div class="note-footer">
                    <div class="note-time">
                      <p><span class="fa icon time"></span> 00:11:29</p>
                    </div>
                    <div class="note-sender" id="edit-note">
                      <button>
                        <span class="fa icon write"></span> Szerksztés
                      </button>
                    </div>
                  </div>
                </li>

                <!-- This is a note -->
                <li class="note-content content-item incoming-note">
                  <div class="note-body">
                    <p>Mikor volt az első világháború?</p>
                  </div>
                  <div class="note-footer">
                    <div class="note-time">
                      <p><span class="fa icon time"></span> 00:11:29</p>
                    </div>
                    <div class="note-sender" id="save-note">
                      <button>
                        <span class="fa icon save"></span> Mentés
                      </button>
                    </div>
                  </div>
                </li>

                <!-- This is a note -->
                <li class="note-content content-item incoming-note">
                  <div class="note-body">
                    <p>Mikor volt az első világháború?</p>
                  </div>
                  <div class="note-footer">
                    <div class="note-time">
                      <p><span class="fa icon time"></span> 00:11:29</p>
                    </div>
                    <div class="note-sender" id="edit-note">
                      <button>
                        <span class="fa icon write"></span> Szerksztés
                      </button>
                    </div>
                  </div>
                </li>

                <!-- This is a note -->
                <li class="note-content content-item incoming-note">
                  <div class="note-body">
                    <p>Mikor volt az első világháború?</p>
                  </div>
                  <div class="note-footer">
                    <div class="note-time">
                      <p><span class="fa icon time"></span> 00:11:29</p>
                    </div>
                    <div class="note-sender" id="save-note">
                      <button>
                        <span class="fa icon save"></span> Mentés
                      </button>
                    </div>
                  </div>
                </li>

                <!-- This is a note -->
                <li class="note-content content-item incoming-note">
                  <div class="note-body">
                    <p>Mikor volt az első világháború?</p>
                  </div>
                  <div class="note-footer">
                    <div class="note-time">
                      <p><span class="fa icon time"></span> 00:11:29</p>
                    </div>
                    <div class="note-sender" id="edit-note">
                      <button>
                        <span class="fa icon write"></span> Szerksztés
                      </button>
                    </div>
                  </div>
                </li>

                <!-- This is a note -->
                <li class="note-content content-item incoming-note">
                  <div class="note-body">
                    <p>Mikor volt az első világháború?</p>
                  </div>
                  <div class="note-footer">
                    <div class="note-time">
                      <p><span class="fa icon time"></span> 00:11:29</p>
                    </div>
                    <div class="note-sender" id="save-note">
                      <button>
                        <span class="fa icon save"></span> Mentés
                      </button>
                    </div>
                  </div>
                </li>
                <!-- This is a note -->
                <li class="note-content content-item incoming-note">
                  <div class="note-body">
                    <p>Mikor volt az első világháború?</p>
                  </div>
                  <div class="note-footer">
                    <div class="note-time">
                      <p><span class="fa icon time"></span> 00:11:29</p>
                    </div>
                    <div class="note-sender" id="edit-note">
                      <button>
                        <span class="fa icon write"></span> Szerksztés
                      </button>
                    </div>
                  </div>
                </li>

                <!-- This is a note -->
                <li class="note-content content-item incoming-note">
                  <div class="note-body">
                    <p>Mikor volt az első világháború?</p>
                  </div>
                  <div class="note-footer">
                    <div class="note-time">
                      <p><span class="fa icon time"></span> 00:11:29</p>
                    </div>
                    <div class="note-sender" id="save-note">
                      <button>
                        <span class="fa icon save"></span> Mentés
                      </button>
                    </div>
                  </div>
                </li>

                <!-- This is a note -->
                <li class="note-content content-item incoming-note">
                  <div class="note-body">
                    <p>Mikor volt az első világháború?</p>
                  </div>
                  <div class="note-footer">
                    <div class="note-time">
                      <p><span class="fa icon time"></span> 00:11:29</p>
                    </div>
                    <div class="note-sender" id="edit-note">
                      <button>
                        <span class="fa icon write"></span> Szerksztés
                      </button>
                    </div>
                  </div>
                </li>

                <!-- This is a note -->
                <li class="note-content content-item incoming-note">
                  <div class="note-body">
                    <p>Mikor volt az első világháború?</p>
                  </div>
                  <div class="note-footer">
                    <div class="note-time">
                      <p><span class="fa icon time"></span> 00:11:29</p>
                    </div>
                    <div class="note-sender" id="save-note">
                      <button>
                        <span class="fa icon save"></span> Mentés
                      </button>
                    </div>
                  </div>
                </li>

                <!-- This is a note -->
                <li class="note-content content-item incoming-note">
                  <div class="note-body">
                    <p>Mikor volt az első világháború?</p>
                  </div>
                  <div class="note-footer">
                    <div class="note-time">
                      <p><span class="fa icon time"></span> 00:11:29</p>
                    </div>
                    <div class="note-sender" id="edit-note">
                      <button>
                        <span class="fa icon write"></span> Szerksztés
                      </button>
                    </div>
                  </div>
                </li>

                <!-- This is a note -->
                <li class="note-content content-item incoming-note">
                  <div class="note-body">
                    <p>Mikor volt az első világháború?</p>
                  </div>
                  <div class="note-footer">
                    <div class="note-time">
                      <p><span class="fa icon time"></span> 00:11:29</p>
                    </div>
                    <div class="note-sender" id="save-note">
                      <button>
                        <span class="fa icon save"></span> Mentés
                      </button>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <!-- Records tab -->
          <div class="tab-content records-tab-content" id="records">
            <div class="content-area">
              <ul class="records-content-list">
                <li class="record-content content-item">
                  <div class="thumbnail">
                    <img src="../media/record.png" alt="Carp" />
                    <div class="record-length"><p>6:32</p></div>
                  </div>
                  <div class="record-info">
                    <div class="lesson-id">
                      <p>NZ-12921 Biológia</p>
                    </div>
                    <div class="number-of-record">
                      <p>1. Felvétel</p>
                    </div>
                    <button class="small-button blue-button">
                      <span class="fa icon play"></span>Lejátszás
                    </button>
                  </div>
                </li>
                <li class="record-content content-item">
                  <div class="thumbnail">
                    <img src="../media/record.png" alt="Carp" />
                    <div class="record-length"><p>6:32</p></div>
                  </div>
                  <div class="record-info">
                    <div class="lesson-id">
                      <p>NZ-12921 Biológia</p>
                    </div>
                    <div class="number-of-record">
                      <p>1. Felvétel</p>
                    </div>
                    <button class="small-button blue-button">
                      <span class="fa icon play"></span>Lejátszás
                    </button>
                  </div>
                </li>
                <li class="record-content content-item">
                  <div class="thumbnail">
                    <img src="../media/record.png" alt="Carp" />
                    <div class="record-length"><p>6:32</p></div>
                  </div>
                  <div class="record-info">
                    <div class="lesson-id">
                      <p>NZ-12921 Biológia</p>
                    </div>
                    <div class="number-of-record">
                      <p>1. Felvétel</p>
                    </div>
                    <button class="small-button blue-button">
                      <span class="fa icon play"></span>Lejátszás
                    </button>
                  </div>
                </li>
                <li class="record-content content-item">
                  <div class="thumbnail">
                    <img src="../media/record.png" alt="Carp" />
                    <div class="record-length"><p>6:32</p></div>
                  </div>
                  <div class="record-info">
                    <div class="lesson-id">
                      <p>NZ-12921 Biológia</p>
                    </div>
                    <div class="number-of-record">
                      <p>1. Felvétel</p>
                    </div>
                    <button class="small-button blue-button">
                      <span class="fa icon play"></span>Lejátszás
                    </button>
                  </div>
                </li>
                <li class="record-content content-item">
                  <div class="thumbnail">
                    <img src="../media/record.png" alt="Carp" />
                    <div class="record-length"><p>6:32</p></div>
                  </div>
                  <div class="record-info">
                    <div class="lesson-id">
                      <p>NZ-12921 Biológia</p>
                    </div>
                    <div class="number-of-record">
                      <p>1. Felvétel</p>
                    </div>
                    <button class="small-button blue-button">
                      <span class="fa icon play"></span>Lejátszás
                    </button>
                  </div>
                </li>
                <li class="record-content content-item">
                  <div class="thumbnail">
                    <img src="../media/record.png" alt="Carp" />
                    <div class="record-length"><p>6:32</p></div>
                  </div>
                  <div class="record-info">
                    <div class="lesson-id">
                      <p>NZ-12921 Biológia</p>
                    </div>
                    <div class="number-of-record">
                      <p>1. Felvétel</p>
                    </div>
                    <button class="small-button blue-button">
                      <span class="fa icon play"></span>Lejátszás
                    </button>
                  </div>
                </li>
                <li class="record-content content-item">
                  <div class="thumbnail">
                    <img src="../media/record.png" alt="Carp" />
                    <div class="record-length"><p>6:32</p></div>
                  </div>
                  <div class="record-info">
                    <div class="lesson-id">
                      <p>NZ-12921 Biológia</p>
                    </div>
                    <div class="number-of-record">
                      <p>1. Felvétel</p>
                    </div>
                    <button class="small-button blue-button">
                      <span class="fa icon play"></span>Lejátszás
                    </button>
                  </div>
                </li>
                <li class="record-content content-item">
                  <div class="thumbnail">
                    <img src="../media/record.png" alt="Carp" />
                    <div class="record-length"><p>6:32</p></div>
                  </div>
                  <div class="record-info">
                    <div class="lesson-id">
                      <p>NZ-12921 Biológia</p>
                    </div>
                    <div class="number-of-record">
                      <p>1. Felvétel</p>
                    </div>
                    <button class="small-button blue-button">
                      <span class="fa icon play"></span>Lejátszás
                    </button>
                  </div>
                </li>
                <li class="record-content content-item">
                  <div class="thumbnail">
                    <img src="../media/record.png" alt="Carp" />
                    <div class="record-length"><p>6:32</p></div>
                  </div>
                  <div class="record-info">
                    <div class="lesson-id">
                      <p>NZ-12921 Biológia</p>
                    </div>
                    <div class="number-of-record">
                      <p>1. Felvétel</p>
                    </div>
                    <button class="small-button blue-button">
                      <span class="fa icon play"></span>Lejátszás
                    </button>
                  </div>
                </li>
                <li class="record-content content-item">
                  <div class="thumbnail">
                    <img src="../media/record.png" alt="Carp" />
                    <div class="record-length"><p>6:32</p></div>
                  </div>
                  <div class="record-info">
                    <div class="lesson-id">
                      <p>NZ-12921 Biológia</p>
                    </div>
                    <div class="number-of-record">
                      <p>1. Felvétel</p>
                    </div>
                    <button class="small-button blue-button">
                      <span class="fa icon play"></span>Lejátszás
                    </button>
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <!-- Participants tab -->
          <div class="tab-content participant-tab" id="participants">
            <div class="content-area">
              <ul class="participants-tab-content">
                <li class="content-item contact-item">
                  <div class="contact-info">
                    <div class="contact-id">
                      <p>
                        <span class="fa icon teacher"></span>Dr. Kiss Áron
                      </p>
                    </div>
                    <div class="contact-action">
                      <p>
                        <span class="fa icon info"></span>
                        <span class="contact-action-text">
                          jelentkezett
                        </span>
                      </p>
                    </div>
                  </div>
                  <button class="contact-status">
                    <span class="fa icon microphone on"></span>
                  </button>
                </li>
                <li class="content-item contact-item hand-raised">
                  <div class="contact-info">
                    <div class="contact-id">
                      <p>
                        <span class="fa icon student"></span>Balogh Ákos
                      </p>
                    </div>
                    <div class="contact-action hand">
                      <p>
                        <span class="fa icon info"></span>
                        <span class="contact-action-text">
                          jelentkezett
                        </span>
                      </p>
                    </div>
                  </div>
                  <button class="contact-status">
                    <span class="fa icon microphone on"></span>
                  </button>
                </li>
                <li class="content-item contact-item">
                  <div class="contact-info">
                    <div class="contact-id">
                      <p>
                        <span class="fa icon student"></span>Balogh Ákos
                      </p>
                    </div>
                    <div class="contact-action hand">
                      <p>
                        <span class="fa icon info"></span>
                        <span class="contact-action-text">
                          jelentkezett
                        </span>
                      </p>
                    </div>
                  </div>
                  <button class="contact-status">
                    <span class="fa icon microphone on"></span>
                  </button>
                </li>
                <li class="content-item contact-item">
                  <div class="contact-info">
                    <div class="contact-id">
                      <p>
                        <span class="fa icon student"></span>Balogh Ákos
                      </p>
                    </div>
                    <div class="contact-action hand">
                      <p>
                        <span class="fa icon info"></span>
                        <span class="contact-action-text">
                          jelentkezett
                        </span>
                      </p>
                    </div>
                  </div>
                  <button class="contact-status">
                    <span class="fa icon microphone off"></span>
                  </button>
                </li>
                <li class="content-item contact-item">
                  <div class="contact-info">
                    <div class="contact-id">
                      <p>
                        <span class="fa icon teacher"></span>Dr. Kiss Áron
                      </p>
                    </div>
                    <div class="contact-action">
                      <p>
                        <span class="fa icon info"></span>
                        <span class="contact-action-text">
                          jelentkezett
                        </span>
                      </p>
                    </div>
                  </div>
                  <button class="contact-status">
                    <span class="fa icon microphone on"></span>
                  </button>
                </li>
                <li class="content-item contact-item hand-raised">
                  <div class="contact-info">
                    <div class="contact-id">
                      <p>
                        <span class="fa icon student"></span>Balogh Ákos
                      </p>
                    </div>
                    <div class="contact-action hand">
                      <p>
                        <span class="fa icon info"></span>
                        <span class="contact-action-text">
                          jelentkezett
                        </span>
                      </p>
                    </div>
                  </div>
                  <button class="contact-status">
                    <span class="fa icon microphone on"></span>
                  </button>
                </li>
                <li class="content-item contact-item">
                  <div class="contact-info">
                    <div class="contact-id">
                      <p>
                        <span class="fa icon student"></span>Balogh Ákos
                      </p>
                    </div>
                    <div class="contact-action hand">
                      <p>
                        <span class="fa icon info"></span>
                        <span class="contact-action-text">
                          jelentkezett
                        </span>
                      </p>
                    </div>
                  </div>
                  <button class="contact-status">
                    <span class="fa icon microphone on"></span>
                  </button>
                </li>
                <li class="content-item contact-item">
                  <div class="contact-info">
                    <div class="contact-id">
                      <p>
                        <span class="fa icon student"></span>Balogh Ákos
                      </p>
                    </div>
                    <div class="contact-action hand">
                      <p>
                        <span class="fa icon info"></span>
                        <span class="contact-action-text">
                          jelentkezett
                        </span>
                      </p>
                    </div>
                  </div>
                  <button class="contact-status">
                    <span class="fa icon microphone off"></span>
                  </button>
                </li>
                <li class="content-item contact-item">
                  <div class="contact-info">
                    <div class="contact-id">
                      <p>
                        <span class="fa icon teacher"></span>Dr. Kiss Áron
                      </p>
                    </div>
                    <div class="contact-action">
                      <p>
                        <span class="fa icon info"></span>
                        <span class="contact-action-text">
                          jelentkezett
                        </span>
                      </p>
                    </div>
                  </div>
                  <button class="contact-status">
                    <span class="fa icon microphone on"></span>
                  </button>
                </li>
                <li class="content-item contact-item hand-raised">
                  <div class="contact-info">
                    <div class="contact-id">
                      <p>
                        <span class="fa icon student"></span>Balogh Ákos
                      </p>
                    </div>
                    <div class="contact-action hand">
                      <p>
                        <span class="fa icon info"></span>
                        <span class="contact-action-text">
                          jelentkezett
                        </span>
                      </p>
                    </div>
                  </div>
                  <button class="contact-status">
                    <span class="fa icon microphone on"></span>
                  </button>
                </li>
                <li class="content-item contact-item">
                  <div class="contact-info">
                    <div class="contact-id">
                      <p>
                        <span class="fa icon student"></span>Balogh Ákos
                      </p>
                    </div>
                    <div class="contact-action hand">
                      <p>
                        <span class="fa icon info"></span>
                        <span class="contact-action-text">
                          jelentkezett
                        </span>
                      </p>
                    </div>
                  </div>
                  <button class="contact-status">
                    <span class="fa icon microphone on"></span>
                  </button>
                </li>
                <li class="content-item contact-item">
                  <div class="contact-info">
                    <div class="contact-id">
                      <p>
                        <span class="fa icon student"></span>Balogh Ákos
                      </p>
                    </div>
                    <div class="contact-action hand">
                      <p>
                        <span class="fa icon info"></span>
                        <span class="contact-action-text">
                          jelentkezett
                        </span>
                      </p>
                    </div>
                  </div>
                  <button class="contact-status">
                    <span class="fa icon microphone off"></span>
                  </button>
                </li>
                <li class="content-item contact-item">
                  <div class="contact-info">
                    <div class="contact-id">
                      <p>
                        <span class="fa icon teacher"></span>Dr. Kiss Áron
                      </p>
                    </div>
                    <div class="contact-action">
                      <p>
                        <span class="fa icon info"></span>
                        <span class="contact-action-text">
                          jelentkezett
                        </span>
                      </p>
                    </div>
                  </div>
                  <button class="contact-status">
                    <span class="fa icon microphone on"></span>
                  </button>
                </li>
                <li class="content-item contact-item hand-raised">
                  <div class="contact-info">
                    <div class="contact-id">
                      <p>
                        <span class="fa icon student"></span>Balogh Ákos
                      </p>
                    </div>
                    <div class="contact-action hand">
                      <p>
                        <span class="fa icon info"></span>
                        <span class="contact-action-text">
                          jelentkezett
                        </span>
                      </p>
                    </div>
                  </div>
                  <button class="contact-status">
                    <span class="fa icon microphone on"></span>
                  </button>
                </li>
                <li class="content-item contact-item">
                  <div class="contact-info">
                    <div class="contact-id">
                      <p>
                        <span class="fa icon student"></span>Balogh Ákos
                      </p>
                    </div>
                    <div class="contact-action hand">
                      <p>
                        <span class="fa icon info"></span>
                        <span class="contact-action-text">
                          jelentkezett
                        </span>
                      </p>
                    </div>
                  </div>
                  <button class="contact-status">
                    <span class="fa icon microphone on"></span>
                  </button>
                </li>
                <li class="content-item contact-item">
                  <div class="contact-info">
                    <div class="contact-id">
                      <p>
                        <span class="fa icon student"></span>Balogh Ákos
                      </p>
                    </div>
                    <div class="contact-action hand">
                      <p>
                        <span class="fa icon info"></span>
                        <span class="contact-action-text">
                          jelentkezett
                        </span>
                      </p>
                    </div>
                  </div>
                  <button class="contact-status">
                    <span class="fa icon microphone off"></span>
                  </button>
                </li>
                <li class="content-item contact-item">
                  <div class="contact-info">
                    <div class="contact-id">
                      <p>
                        <span class="fa icon teacher"></span>Dr. Kiss Áron
                      </p>
                    </div>
                    <div class="contact-action">
                      <p>
                        <span class="fa icon info"></span>
                        <span class="contact-action-text">
                          jelentkezett
                        </span>
                      </p>
                    </div>
                  </div>
                  <button class="contact-status">
                    <span class="fa icon microphone on"></span>
                  </button>
                </li>
                <li class="content-item contact-item hand-raised">
                  <div class="contact-info">
                    <div class="contact-id">
                      <p>
                        <span class="fa icon student"></span>Balogh Ákos
                      </p>
                    </div>
                    <div class="contact-action hand">
                      <p>
                        <span class="fa icon info"></span>
                        <span class="contact-action-text">
                          jelentkezett
                        </span>
                      </p>
                    </div>
                  </div>
                  <button class="contact-status">
                    <span class="fa icon microphone on"></span>
                  </button>
                </li>
                <li class="content-item contact-item">
                  <div class="contact-info">
                    <div class="contact-id">
                      <p>
                        <span class="fa icon student"></span>Balogh Ákos
                      </p>
                    </div>
                    <div class="contact-action hand">
                      <p>
                        <span class="fa icon info"></span>
                        <span class="contact-action-text">
                          jelentkezett
                        </span>
                      </p>
                    </div>
                  </div>
                  <button class="contact-status">
                    <span class="fa icon microphone on"></span>
                  </button>
                </li>
                <li class="content-item contact-item">
                  <div class="contact-info">
                    <div class="contact-id">
                      <p>
                        <span class="fa icon student"></span>Balogh Ákos
                      </p>
                    </div>
                    <div class="contact-action hand">
                      <p>
                        <span class="fa icon info"></span>
                        <span class="contact-action-text">
                          jelentkezett
                        </span>
                      </p>
                    </div>
                  </div>
                  <button class="contact-status">
                    <span class="fa icon microphone off"></span>
                  </button>
                </li>
                <li class="content-item contact-item">
                  <div class="contact-info">
                    <div class="contact-id">
                      <p>
                        <span class="fa icon teacher"></span>Dr. Kiss Áron
                      </p>
                    </div>
                    <div class="contact-action">
                      <p>
                        <span class="fa icon info"></span>
                        <span class="contact-action-text">
                          jelentkezett
                        </span>
                      </p>
                    </div>
                  </div>
                  <button class="contact-status">
                    <span class="fa icon microphone on"></span>
                  </button>
                </li>
                <li class="content-item contact-item hand-raised">
                  <div class="contact-info">
                    <div class="contact-id">
                      <p>
                        <span class="fa icon student"></span>Balogh Ákos
                      </p>
                    </div>
                    <div class="contact-action hand">
                      <p>
                        <span class="fa icon info"></span>
                        <span class="contact-action-text">
                          jelentkezett
                        </span>
                      </p>
                    </div>
                  </div>
                  <button class="contact-status">
                    <span class="fa icon microphone on"></span>
                  </button>
                </li>
                <li class="content-item contact-item">
                  <div class="contact-info">
                    <div class="contact-id">
                      <p>
                        <span class="fa icon student"></span>Balogh Ákos
                      </p>
                    </div>
                    <div class="contact-action hand">
                      <p>
                        <span class="fa icon info"></span>
                        <span class="contact-action-text">
                          jelentkezett
                        </span>
                      </p>
                    </div>
                  </div>
                  <button class="contact-status">
                    <span class="fa icon microphone on"></span>
                  </button>
                </li>
                <li class="content-item contact-item">
                  <div class="contact-info">
                    <div class="contact-id">
                      <p>
                        <span class="fa icon student"></span>Balogh Ákos
                      </p>
                    </div>
                    <div class="contact-action hand">
                      <p>
                        <span class="fa icon info"></span>
                        <span class="contact-action-text">
                          jelentkezett
                        </span>
                      </p>
                    </div>
                  </div>
                  <button class="contact-status">
                    <span class="fa icon microphone off"></span>
                  </button>
                </li>
              </ul>
            </div>
          </div>

          <!-- Messages tab -->
          <div class="tab-content message-tab" id="messages">
            <!-- This is the content -->
            <div class="content-area">
              <ul class="message-tab-content">
                <!-- incoming message form teacher -->
                <li class="content-item message-item incoming-message">
                  <div class="message-body">
                    <p>Mikor volt az első világháború?</p>
                  </div>
                  <div class="message-footer">
                    <div class="message-sender">
                      <p>
                        <span class="fa icon teacher"></span> Balogh Ákos
                      </p>
                    </div>
                    <div class="message-time">
                      <p><span class="fa icon time"></span> 00:11:29</p>
                    </div>
                  </div>
                </li>

                <!-- incoming message form teacher -->
                <li class="content-item message-item incoming-message">
                  <div class="message-body">
                    <p>Mikor volt az első világháború?</p>
                  </div>
                  <div class="message-footer">
                    <div class="message-sender">
                      <p>
                        <span class="fa icon teacher"></span> Balogh Ákos
                      </p>
                    </div>
                    <div class="message-time">
                      <p><span class="fa icon time"></span> 00:11:29</p>
                    </div>
                  </div>
                </li>

                <!-- outgoing message form student -->
                <li class="content-item message-item outgoing-message">
                  <div class="message-body">
                    <p>Őszintén gőzöm sincs róla.</p>
                  </div>
                  <div class="message-footer">
                    <div class="message-sender">
                      <p>
                        <span class="fa icon student"></span> Balogh Ákos
                      </p>
                    </div>
                    <div class="message-time">
                      <p><span class="fa icon time"></span> 00:11:29</p>
                    </div>
                  </div>
                </li>

                <!-- incoming message form teacher -->
                <li class="content-item message-item incoming-message">
                  <div class="message-body">
                    <p>Az szuper...</p>
                  </div>
                  <div class="message-footer">
                    <div class="message-sender">
                      <p>
                        <span class="fa icon teacher"></span> Balogh Ákos
                      </p>
                    </div>
                    <div class="message-time">
                      <p><span class="fa icon time"></span> 00:11:29</p>
                    </div>
                  </div>
                </li>

                <!-- incoming message form teacher -->
                <li class="content-item message-item incoming-message">
                  <div class="message-body">
                    <p>Mikor volt az első világháború?</p>
                  </div>
                  <div class="message-footer">
                    <div class="message-sender">
                      <p>
                        <span class="fa icon teacher"></span> Balogh Ákos
                      </p>
                    </div>
                    <div class="message-time">
                      <p><span class="fa icon time"></span> 00:11:29</p>
                    </div>
                  </div>
                </li>

                <!-- incoming message form teacher -->
                <li class="content-item message-item incoming-message">
                  <div class="message-body">
                    <p>Mikor volt az első világháború?</p>
                  </div>
                  <div class="message-footer">
                    <div class="message-sender">
                      <p>
                        <span class="fa icon teacher"></span> Balogh Ákos
                      </p>
                    </div>
                    <div class="message-time">
                      <p><span class="fa icon time"></span> 00:11:29</p>
                    </div>
                  </div>
                </li>

                <!-- outgoing message form student -->
                <li class="content-item message-item outgoing-message">
                  <div class="message-body">
                    <p>Őszintén gőzöm sincs róla.</p>
                  </div>
                  <div class="message-footer">
                    <div class="message-sender">
                      <p>
                        <span class="fa icon student"></span> Balogh Ákos
                      </p>
                    </div>
                    <div class="message-time">
                      <p><span class="fa icon time"></span> 00:11:29</p>
                    </div>
                  </div>
                </li>

                <!-- incoming message form teacher -->
                <li class="content-item message-item incoming-message">
                  <div class="message-body">
                    <p>Az szuper...</p>
                  </div>
                  <div class="message-footer">
                    <div class="message-sender">
                      <p>
                        <span class="fa icon teacher"></span> Balogh Ákos
                      </p>
                    </div>
                    <div class="message-time">
                      <p><span class="fa icon time"></span> 00:11:29</p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <!-- Questionmark tab it is a help maybe!? -->
          <div class="tab-content question-tab" id="help">
            <div class="content-area">
              <ul class="questions-content-list">
                <li class="content-item message">
                  <div class="message-body">
                    <p>Mikor volt az első világháború?</p>
                  </div>
                  <div class="message-footer">
                    <div class="message-sender">
                      <p>
                        <span class="fa icon teacher"></span> Balogh Ákos
                      </p>
                    </div>
                    <div class="message-time">
                      <p><span class="fa icon time"></span> 00:11:29</p>
                    </div>
                  </div>
                </li>
                <li class="content-item message">
                  <div class="message-body">
                    <p>Nagyon örülök</p>
                  </div>
                  <div class="message-footer">
                    <div class="message-sender">
                      <p>
                        <span class="fa icon teacher"></span> Balogh Ákos
                      </p>
                    </div>
                    <div class="message-time">
                      <p><span class="fa icon time"></span> 00:11:29</p>
                    </div>
                  </div>
                </li>
                <li class="content-item message">
                  <div class="message-body">
                    <p>Bocsásson meg a késésért</p>
                  </div>
                  <div class="message-footer">
                    <div class="message-sender">
                      <p>
                        <span class="fa icon teacher"></span> Balogh Ákos
                      </p>
                    </div>
                    <div class="message-time">
                      <p><span class="fa icon time"></span> 00:11:29</p>
                    </div>
                  </div>
                </li>
                <li class="content-item message">
                  <div class="message-body">
                    <p>Bocsásson meg a késésért</p>
                  </div>
                  <div class="message-footer">
                    <div class="message-sender">
                      <p>
                        <span class="fa icon teacher"></span> Balogh Ákos
                      </p>
                    </div>
                    <div class="message-time">
                      <p><span class="fa icon time"></span> 00:11:29</p>
                    </div>
                  </div>
                </li>
                <li class="content-item message">
                  <div class="message-body">
                    <p>Mikor volt az első világháború?</p>
                  </div>
                  <div class="message-footer">
                    <div class="message-sender">
                      <p>
                        <span class="fa icon teacher"></span> Balogh Ákos
                      </p>
                    </div>
                    <div class="message-time">
                      <p><span class="fa icon time"></span> 00:11:29</p>
                    </div>
                  </div>
                </li>
                <li class="content-item message">
                  <div class="message-body">
                    <p>Nagyon örülök</p>
                  </div>
                  <div class="message-footer">
                    <div class="message-sender">
                      <p>
                        <span class="fa icon teacher"></span> Balogh Ákos
                      </p>
                    </div>
                    <div class="message-time">
                      <p><span class="fa icon time"></span> 00:11:29</p>
                    </div>
                  </div>
                </li>
                <li class="content-item message">
                  <div class="message-body">
                    <p>Bocsásson meg a késésért</p>
                  </div>
                  <div class="message-footer">
                    <div class="message-sender">
                      <p>
                        <span class="fa icon teacher"></span> Balogh Ákos
                      </p>
                    </div>
                    <div class="message-time">
                      <p><span class="fa icon time"></span> 00:11:29</p>
                    </div>
                  </div>
                </li>
                <li class="content-item message">
                  <div class="message-body">
                    <p>Bocsásson meg a késésért</p>
                  </div>
                  <div class="message-footer">
                    <div class="message-sender">
                      <p>
                        <span class="fa icon teacher"></span> Balogh Ákos
                      </p>
                    </div>
                    <div class="message-time">
                      <p><span class="fa icon time"></span> 00:11:29</p>
                    </div>
                  </div>
                </li>
                <li class="content-item message">
                  <div class="message-body">
                    <p>Bocsásson meg a késésért</p>
                  </div>
                  <div class="message-footer">
                    <div class="message-sender">
                      <p>
                        <span class="fa icon teacher"></span> Balogh Ákos
                      </p>
                    </div>
                    <div class="message-time">
                      <p><span class="fa icon time"></span> 00:11:29</p>
                    </div>
                  </div>
                </li>
                <li class="content-item message">
                  <div class="message-body">
                    <p>Bocsásson meg a késésért</p>
                  </div>
                  <div class="message-footer">
                    <div class="message-sender">
                      <p>
                        <span class="fa icon teacher"></span> Balogh Ákos
                      </p>
                    </div>
                    <div class="message-time">
                      <p><span class="fa icon time"></span> 00:11:29</p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <!-- Book tab it is a not specified in the documentation -->
          <div class="tab-content course-content-tab" id="book">
            <div class="content-area">
              <ul class="course-content-list">
                <!-- tests -->
                <li class="course-content content-item tests blue">
                  <div class="decor"></div>
                  <div class="info-card">
                    <p class="info-header">Tesztek</p>

                    <!-- fisrst record -->
                    <div class="info-record tests-actions">
                      <div class="info-title-wrapper">
                        <div class="info-title">
                          <p>
                            <span class="fa icon copy"></span>2019-es Teszt
                          </p>
                        </div>
                        <div class="lesson-content">
                          <p>
                            <span class="fa icon info"></span>3. Óra anyaga
                          </p>
                        </div>
                      </div>

                      <!-- record info area -->
                      <div class="info-action">
                        <div class="test-done show">
                          <p>
                            <span class="fa icon info show"></span
                            ><span class="text-done">kitöltötted</span>
                          </p>
                        </div>
                        <button
                          class="icon-button mouse-button blue-button icon-size-40 info-action-icon info-action-icon"
                        >
                          <span class="fa icon mouse"></span></button
                        ><button
                          class="icon-button check-button green-button icon-size-40 info-action-icon"
                        >
                          <span class="fa icon check"></span>
                        </button>
                        <button
                          class="icon-button stat-button yellow-button icon-size-40 info-action-icon"
                        >
                          <span class="fa icon stat"></span>
                        </button>
                        <button
                          class="icon-button download-button green-button icon-size-40 info-action-icon"
                        >
                          <span class="fa icon download"></span>
                        </button>
                        <button
                          class="icon-button write-button purple-button icon-size-40 info-action-icon"
                        >
                          <span class="fa icon write"></span>
                        </button>
                        <button
                          class="icon-button trash-button red-button icon-size-40 info-action-icon"
                        >
                          <span class="fa icon trash"></span>
                        </button>
                      </div>
                    </div>

                    <!-- second record -->
                    <div class="info-record">
                      <div class="info-title-wrapper">
                        <div class="info-title">
                          <p>
                            <span class="fa icon copy"></span>2019-es Teszt
                          </p>
                        </div>
                        <div class="lesson-content">
                          <p>
                            <span class="fa icon info"></span>3. Óra anyaga
                          </p>
                        </div>
                      </div>

                      <!-- record info area -->
                      <div class="info-action">
                        <div class="test-done">
                          <p>
                            <span class="fa icon info"></span
                            ><span class="text-done">kitöltötted</span>
                          </p>
                        </div>
                        <button
                          class="icon-button mouse-button blue-button icon-size-40 info-action-icon"
                        >
                          <span class="fa icon mouse"></span></button
                        ><button
                          class="icon-button check-button green-button icon-size-40 info-action-icon"
                        >
                          <span class="fa icon check"></span>
                        </button>
                        <button
                          class="icon-button stat-button yellow-button icon-size-40 info-action-icon"
                        >
                          <span class="fa icon stat"></span>
                        </button>
                        <button
                          class="icon-button download-button green-button icon-size-40 info-action-icon"
                        >
                          <span class="fa icon download"></span>
                        </button>
                        <button
                          class="icon-button write-button purple-button icon-size-40 info-action-icon"
                        >
                          <span class="fa icon write"></span>
                        </button>
                        <button
                          class="icon-button trash-button red-button icon-size-40 info-action-icon"
                        >
                          <span class="fa icon trash"></span>
                        </button>
                      </div>
                    </div>
                  </div>
                </li>

                <!-- Votes -->
                <li class="course-content content-item votes yellow">
                  <div class="decor"></div>
                  <div class="info-card">
                    <p class="info-header">Szavazás</p>
                    <!-- first record -->
                    <div class="info-record">
                      <div class="info-title-wrapper">
                        <div class="info-title">
                          <p>
                            <span class="fa icon stat"></span>Ki volt az
                            uralkodó?
                          </p>
                        </div>
                        <div class="lesson-content">
                          <p>
                            <span class="fa icon info"></span>3. Óra anyaga
                          </p>
                        </div>
                      </div>

                      <!-- record info area -->
                      <div class="info-action">
                        <div class="test-done">
                          <p>
                            <span class="fa icon info"></span
                            ><span class="text-done">kitöltötted</span>
                          </p>
                        </div>
                        <button
                          class="icon-button mouse-button blue-button icon-size-40 info-action-icon"
                        >
                          <span class="fa icon mouse"></span></button
                        ><button
                          class="icon-button check-button green-button icon-size-40 info-action-icon"
                        >
                          <span class="fa icon check"></span>
                        </button>
                        <button
                          class="icon-button stat-button yellow-button icon-size-40 info-action-icon"
                        >
                          <span class="fa icon stat"></span>
                        </button>
                        <button
                          class="icon-button download-button green-button icon-size-40 info-action-icon"
                        >
                          <span class="fa icon download"></span>
                        </button>
                        <button
                          class="icon-button write-button purple-button icon-size-40 info-action-icon"
                        >
                          <span class="fa icon write"></span>
                        </button>
                        <button
                          class="icon-button trash-button red-button icon-size-40 info-action-icon"
                        >
                          <span class="fa icon trash"></span>
                        </button>
                      </div>
                    </div>

                    <!-- second record -->
                    <div class="info-record">
                      <div class="info-title-wrapper">
                        <div class="info-title">
                          <p>
                            <span class="fa icon stat"></span>Ki volt az
                            uralkodó?
                          </p>
                        </div>
                        <div class="lesson-content">
                          <p>
                            <span class="fa icon info"></span>3. Óra anyaga
                          </p>
                        </div>
                      </div>

                      <!-- record info area -->
                      <div class="info-action">
                        <div class="test-done">
                          <p>
                            <span class="fa icon info"></span
                            ><span class="text-done">kitöltötted</span>
                          </p>
                        </div>
                        <button
                          class="icon-button mouse-button blue-button icon-size-40 info-action-icon"
                        >
                          <span class="fa icon mouse"></span></button
                        ><button
                          class="icon-button check-button green-button icon-size-40 info-action-icon"
                        >
                          <span class="fa icon check"></span>
                        </button>
                        <button
                          class="icon-button stat-button yellow-button icon-size-40 info-action-icon"
                        >
                          <span class="fa icon stat"></span>
                        </button>
                        <button
                          class="icon-button download-button green-button icon-size-40 info-action-icon"
                        >
                          <span class="fa icon download"></span>
                        </button>
                        <button
                          class="icon-button write-button purple-button icon-size-40 info-action-icon"
                        >
                          <span class="fa icon write"></span>
                        </button>
                        <button
                          class="icon-button trash-button red-button icon-size-40 info-action-icon"
                        >
                          <span class="fa icon trash"></span>
                        </button>
                      </div>
                    </div>
                  </div>
                </li>

                <!-- files -->
                <li class="course-content content-item files green">
                  <div class="decor"></div>
                  <div class="info-card">
                    <p class="info-header">Fájlok</p>

                    <!-- first record -->
                    <div class="info-record">
                      <div class="info-title-wrapper">
                        <div class="info-title">
                          <p>
                            <span class="fa icon excel"></span>2019-es excel
                            fájl
                          </p>
                        </div>
                        <div class="lesson-content">
                          <p>
                            <span class="fa icon info"></span>3. Óra anyaga
                          </p>
                        </div>
                      </div>

                      <!-- record info area -->
                      <div class="info-action">
                        <div class="test-done">
                          <p>
                            <span class="fa icon info"></span
                            ><span class="text-done">kitöltötted</span>
                          </p>
                        </div>
                        <button
                          class="icon-button mouse-button blue-button icon-size-40 info-action-icon"
                        >
                          <span class="fa icon mouse"></span></button
                        ><button
                          class="icon-button check-button green-button icon-size-40 info-action-icon"
                        >
                          <span class="fa icon check"></span>
                        </button>
                        <button
                          class="icon-button stat-button yellow-button icon-size-40 info-action-icon"
                        >
                          <span class="fa icon stat"></span>
                        </button>
                        <button
                          class="icon-button download-button green-button icon-size-40 info-action-icon"
                        >
                          <span class="fa icon download"></span>
                        </button>
                        <button
                          class="icon-button write-button purple-button icon-size-40 info-action-icon"
                        >
                          <span class="fa icon write"></span>
                        </button>
                        <button
                          class="icon-button trash-button red-button icon-size-40 info-action-icon"
                        >
                          <span class="fa icon trash"></span>
                        </button>
                      </div>
                    </div>

                    <!-- second record -->
                    <div class="info-record">
                      <div class="info-title-wrapper">
                        <div class="info-title">
                          <p>
                            <span class="fa icon excel"></span>2020-as excel
                            fájl
                          </p>
                        </div>
                        <div class="lesson-content">
                          <p>
                            <span class="fa icon info"></span>3. Óra anyaga
                          </p>
                        </div>
                      </div>

                      <!-- record info area -->
                      <div class="info-action">
                        <div class="test-done">
                          <p>
                            <span class="fa icon info"></span
                            ><span class="text-done">kitöltötted</span>
                          </p>
                        </div>
                        <button
                          class="icon-button mouse-button blue-button icon-size-40 info-action-icon"
                        >
                          <span class="fa icon mouse"></span></button
                        ><button
                          class="icon-button check-button green-button icon-size-40 info-action-icon"
                        >
                          <span class="fa icon check"></span>
                        </button>
                        <button
                          class="icon-button stat-button yellow-button icon-size-40 info-action-icon"
                        >
                          <span class="fa icon stat"></span>
                        </button>
                        <button
                          class="icon-button download-button green-button icon-size-40 info-action-icon"
                        >
                          <span class="fa icon download"></span>
                        </button>
                        <button
                          class="icon-button write-button purple-button icon-size-40 info-action-icon"
                        >
                          <span class="fa icon write"></span>
                        </button>
                        <button
                          class="icon-button trash-button red-button icon-size-40 info-action-icon"
                        >
                          <span class="fa icon trash"></span>
                        </button>
                      </div>
                    </div>
                  </div>
                </li>

                <!-- Links -->
                <li class="course-content content-item links purple">
                  <div class="decor"></div>
                  <div class="info-card">
                    <p class="info-header">Linkek</p>

                    <!-- first Links record -->
                    <div class="info-record">
                      <div class="info-title-wrapper">
                        <div class="info-title">
                          <a>
                            <span class="fa icon link"></span
                            >http://smartedu.hu
                          </a>
                        </div>
                        <div class="lesson-content">
                          <p>
                            <span class="fa icon info"></span>3. Óra anyaga
                          </p>
                        </div>
                      </div>

                      <!-- record info area -->
                      <div class="info-action">
                        <div class="test-done">
                          <p>
                            <span class="fa icon info"></span
                            ><span class="text-done">kitöltötted</span>
                          </p>
                        </div>
                        <button
                          class="icon-button mouse-button blue-button icon-size-40 info-action-icon"
                        >
                          <span class="fa icon mouse"></span></button
                        ><button
                          class="icon-button check-button green-button icon-size-40 info-action-icon"
                        >
                          <span class="fa icon check"></span>
                        </button>
                        <button
                          class="icon-button stat-button yellow-button icon-size-40 info-action-icon"
                        >
                          <span class="fa icon stat"></span>
                        </button>
                        <button
                          class="icon-button download-button green-button icon-size-40 info-action-icon"
                        >
                          <span class="fa icon download"></span>
                        </button>
                        <button
                          class="icon-button write-button purple-button icon-size-40 info-action-icon"
                        >
                          <span class="fa icon write"></span>
                        </button>
                        <button
                          class="icon-button trash-button red-button icon-size-40 info-action-icon"
                        >
                          <span class="fa icon trash"></span>
                        </button>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <!-- bottom action area -->
        <div class="action-area-wrapper bottom">
          <!-- They are the action contorls of write note tab -->
          <div class="action-area" id="write-note-action-bottom">
            <form class="note-form tab-action-form">
              <div class="textarea-wrapper">
                <textarea name="message" id="write-note"></textarea>
              </div>
              <button
                type="submit"
                class="send-note"
                id="note"
                name="noteSent"
              >
                <span class="fa icon write"></span> Jegyzet
              </button>
            </form>
          </div>

          <!-- They are the action contorls of messages tab -->
          <div class="action-area" id="messages-action">
            <form class="meassage-form tab-action-form">
              <div class="textarea-wrapper">
                <textarea name="message" id="write-message"></textarea>
              </div>
              <button
                type="submit"
                class="send-message"
                id="send"
                name="messageSent"
              >
                <span class="fa icon paperplane"></span> Küldés
              </button>
            </form>
          </div>

          <!-- Here are the action contorls of book tab -->
          <div class="action-area" id="book-action">
            <form class="fileupload-form">
              <button
                type="button"
                class="small-button wide-button blue-button open-modal"
                id="upload-send"
                name="uploadSent"
                data-target="#upload-material-modal"
              >
                <span class="fa icon plus"></span>Anyag feltöltése
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-cover"></div>
  <div class="screen-container modal-screen" id="lesson-edit">
    <div class="mini-box">
      <div class="mini-box-header">
        <p>Óra szerkesztése</p>
        <button class="modal-exit-btn close-modal">
          <span class="fa icon X-icon"></span>
        </button>
      </div>
      <div class="mini-box-content">
        <div class="form-wrapper">
          <div class="input-wrapper">
            <label for="lesson-name">Óra neve</label>
            <input
              type="text"
              name="name"
              id="lesson-name"
              value="<%=lesson.name%>"
            />
          </div>
          <div class="input-wrapper">
            <label for="lesson-input">Óra leírása</label>
            <div class="tab-action-form" id="lesson-input">
              <div class="textarea-wrapper">
                <textarea name="description"><%=lesson.description%></textarea>
              </div>
            </div>
          </div>
          <div class="half-size-input-wrapper">
            <div class="half-box">
              <label for="lesson-date">Óra dátuma</label>
              <input
                type="date"
                id="lesson-date"
                name="start_date"
                value="<%=moment(lesson.start_time).format('YYYY-MM-DD')%>"
              />
            </div>
            <div class="half-box">
              <label for="lesson-time">Óra kezdete</label>
              <input type="time" id="lesson-time" name="start_time" value="<%=moment(lesson.start_time).format('HH:mm')%>"/>
            </div>
          </div>
        </div>
        <div class="form-button-container">
          <div class="form-action-btn">
            <button class="small-button gray-button close-modal">
              <span class="fa icon X-icon"></span>Mégsem
            </button>
          </div>
          <div class="form-action-btn">
            <button class="small-button green-button" onclick="updateEntity('#lesson-edit', '/lessons/<%=lesson.id%>')">
              <span class="fa icon check-mark"></span>Mentés
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>