.content-header-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  .content-header {
    margin-bottom: $content-header-margin-bottom;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .content-header-text {
      .content-header-title {
        p {
          font-size: $content-header-title-fontsize;
          line-height: $content-header-lineheight;
          font-weight: $content-header-title-fontweight;
        }
      }
      .content-header-note {
        p {
          font-size: $content-header-date-fontsize;
          line-height: $content-header-lineheight;
          font-weight: $content-header-date-fontweight;
          color: $content-header-date-color;
        }
      }
      .content-header-date {
        p {
          font-size: $content-header-date-fontsize;
          line-height: $content-header-lineheight;
          font-weight: $content-header-date-fontweight;
          color: $content-header-date-color;
        }
      }
    }
  }
  .header-action-container {
    display: flex;
    justify-content: space-between;
  }
}
.content-header-wrapper.header-with-3buttons {
}
.content-header-wrapper.header-with-1buttons {
}
.content-header-wrapper.header-with-2buttons {
}

/*Content-header with 3 buttons*/
.header-with-3buttons {
  .content-header-symbols {
    display: flex;
    .symbol-box {
      height: $symbol-box-height;
      border-radius: $symbol-box-border-radius;
      display: flex;
      align-items: center;
      margin-right: $symbol-box-margin-right;
      p {
        padding: 2px $symbol-box-padding;
        //height: $content-header-buttons-height;
        font-size: $content-header-buttons-font-size;
        font-weight: $content-header-buttons-font-weight;
        //line-height: $normal-line-height;
      }
    }
    .symbol-box:last-of-type {
      margin-right: 0px;
    }
    .closed-lesson,
    .ongoing-lesson,
    .future-lesson {
      span.icon:before {
        margin-right: $content-header-buttons-icon-margin-right;
        width: $content-header-buttons-icon-size;
      }
    }
    .red {
      background-color: $red-symbol-bgcolor;
      p {
        color: $red-symbol-textcolor;
      }
      span.icon:before {
        color: $red-symbol-textcolor;
      }
    }
    .blue {
      background-color: $blue-symbol-bgcolor;
      p {
        color: $blue-symbol-textcolor;
      }
      span.icon:before {
        color: $blue-symbol-textcolor;
      }
    }
    .green {
      background-color: $green-symbol-bgcolor;
      p {
        color: $green-symbol-textcolor;
      }
      span.icon:before {
        color: $green-symbol-textcolor;
      }
    }
  }
}

/* coloring */
#ongoing-lesson {
  .content-header-wrapper {
    .content-header {
      .content-header-text {
        .content-header-note {
          p {
            color: $content-header-date-color;
          }
        }
      }
    }
  }
}

#future-lesson {
  .content-header-wrapper {
    .content-header {
      .content-header-text {
        .content-header-note {
          p {
            color: $content-header-date-color;
          }
        }
      }
    }
  }
}

#closed-lesson {
  .content-header-wrapper {
    .content-header {
      .content-header-text {
        .content-header-note {
          p {
            color: $content-header-date-color;
          }
        }
      }
    }
  }
}
