body {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.screen-wrapper {
    padding-top: $small-padding;
    padding-left: $mainpage-panel-wrapper-space-around;
    padding-bottom: $mainpage-panel-wrapper-space-around;
    padding-right: $mainpage-panel-wrapper-space-around;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.single-panel-wrapper,
.double-panel-wrapper {
    display: flex;

    overflow: hidden;
    height: 100%;
    width: 100%;
}
.double-panel-wrapper {
    flex-direction: row;
}
.single-panel-wrapper {
    flex-direction: column;
}

.panel {
    display: flex;
    flex-direction: column;
    border-radius: $mainpage-container-border-radius;
    background-color: $mainpage-panel-bgcolor;
    overflow: hidden;
    padding: $mainpage-panel-space-around;
    height: 100%;
}

.panel.right,
.panel.left {
    background-color: $mainpage-panel-bgcolor;
    border-radius: $mainpage-container-border-radius;
    width: 50%;
    padding: $mainpage-panel-space-around;
}
.panel.right {
    margin-left: $mainpage-panel-space-around;
}
.panel.left {
    margin-right: $mainpage-panel-space-around;
}
.panel.two-row {
    background: transparent;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0px;
    .panel-top {
        margin-bottom: $mainpage-panel-space-around;
    }
    .panel-top,
    .panel-bottom {
        background-color: $mainpage-panel-bgcolor;
        border-radius: $mainpage-container-border-radius;
        padding: $mainpage-panel-space-around;
        overflow: hidden;
        height: 50%;
    }
}

.mainpage-settings {
    .screen-wrapper {
        @include scrollbarVert();
        width: auto;
        padding-right: $mainpage-panel-wrapper-space-left;
        margin-right: $mainpage-panel-scrollbar-space-right;
        .single-panel-wrapper {
            height: auto;
            overflow: initial;
        }
    }
}
