/*Beállítások fül tartalom*/
.settings-screen {
  .user-data-form {
    width: 100%;
    box-shadow: 0 5px 20px 0 rgba(17, 41, 88, 0.05);
    background-color: $fullwhite;
    padding: 30px;
    border-radius: $small-radius;
    .content-header {
      .content-header-title {
        p {
          font-size: $content-header-title-fontsize;
          line-height: $content-header-lineheight;
          font-weight: $content-header-title-fontweight;
        }
      }
      .content-header-info {
        p {
          font-size: $content-header-date-fontsize;
          line-height: $content-header-lineheight;
          font-weight: $content-header-date-fontweight;
          color: $content-header-date-color;
        }
      }
    }
    .user-data-settings {
      display: flex;
      width: 100%;
      margin-bottom: $normal-margin;
      .user-e-mail {
        width: 100%;
        .user-e-mail-header {
          p {
            font-size: $normal-font;
            font-weight: $bold-font-weight;
            letter-spacing: 0.6px;
            color: $almost-black;
            margin-bottom: $tiny-margin;
          }
        }
        .used-e-mail-by-user {
          display: flex;
          align-items: center;
          height: 60px;
          border-radius: $small-radius;
          border: solid 1px $brutaly-gray;
          background-color: $fullwhite;
          margin-right: $student-settings-mail-by-user-margin;
          p {
            margin-left: $student-settings-mail-by-user-text-margin;
            font-size: $student-settings-mail-by-user-font-size;
            font-weight: $normal-font-weight;
            letter-spacing: 0.54px;
            color: $almost-black;
          }
        }
      }
      .user-assignment {
        width: 100%;
        .user-assignment-header {
          p {
            font-size: $normal-font;
            font-weight: $bold-font-weight;
            letter-spacing: 0.6px;
            color: $almost-black;
            margin-bottom: $tiny-margin;
          }
        }
        .assignment-of-user {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: $small-padding;
          border-radius: $small-radius;
          border: solid 1px $brutaly-gray;
          background-color: rgba(4, 29, 58, 0.05);
          margin-right: $large-margin;
          p {
            margin-left: 15px;
            font-size: $small-font;
            font-weight: $normal-font-weight;
            letter-spacing: 0.54px;
            color: $almost-black;
          }
          span.icon:before {
            margin-right: $smaller-padding;
            width: 11px;
            height: 18px;
            color: $almost-black;
          }
        }
      }
    }
  }
  .password-change-form {
    width: 100%;
    box-shadow: 0 5px 20px 0 rgba(17, 41, 88, 0.05);
    background-color: $fullwhite;
    margin-top: $large-margin;
    padding: 30px;
    border-radius: $small-radius;
    .content-header {
      .content-header-title {
        p {
          font-size: $content-header-title-fontsize;
          line-height: $content-header-lineheight;
          font-weight: $content-header-title-fontweight;
        }
      }
      .content-header-info {
        p {
          font-size: $content-header-date-fontsize;
          line-height: $content-header-lineheight;
          font-weight: $content-header-date-fontweight;
          color: $content-header-date-color;
        }
      }
    }
    .password-change {
      display: flex;
      width: 100%;
      .password-change-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        label {
          font-size: $normal-font;
          font-weight: $bold-font-weight;
          letter-spacing: 0.6px;
          color: $almost-black;
          margin-bottom: $tiny-margin;
        }
      }
      input {
        @include InputText();
        width: 100%;
        height: 100%;
        border-radius: $small-radius;
        border: solid 1px $brutaly-gray;
        background-color: $fullwhite;
        padding: $smaller-padding;
      }
      input::-webkit-input-placeholder {
        font-size: $small-font;
        font-weight: $normal-font-weight;
        color: $brutaly-gray;
      }
    }
    .password-change-container:nth-last-of-type(2) {
      margin-right: $large-margin;
      margin-left: $large-margin;
    }
    .save-btn {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      .save-btn-box {
        width: 224px;
        height: 50px;
        border-radius: $small-radius;
        border-width: 0px;
        background-color: $softly-green;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: $large-margin;
        p {
          font-size: $small-font;
          font-weight: $normal-font-weight;
          color: $brutaly-green;
        }
        span.icon:before {
          width: 15px;
          height: 15px;
          margin-right: $smaller-padding;
          color: $brutaly-green;
        }
      }
      .save-btn-box:hover {
        background-color: $brutaly-green;
        p {
          color: $softly-green;
        }
        span.icon:before {
          color: $softly-green;
        }
      }
    }
  }
}
