input[type="range"] {
  width: 100%;
  margin: 7.8px 0;
  background-color: transparent;
  -webkit-appearance: none;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  border: 0.2px solid rgba(1, 1, 1, 0);
  border-radius: 5.1px;
  width: 100%;
  background-color: $softly-blue;
  height: 8.4px;
  cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb {
  margin-top: -8px;
  width: 24px;
  height: 24px;
  background-color: $fullwhite;
  border: 8px solid $brutaly-blue;
  border-radius: 12px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  //background-color: #2da8ff;
}
input[type="range"]::-moz-range-track {
  background-color: $brutaly-blue;
  border: 0.2px solid rgba(1, 1, 1, 0);
  border-radius: 5.1px;
  width: 100%;
  height: 8.4px;
  cursor: pointer;
}
input[type="range"]::-moz-range-thumb {
  width: 24px;
  height: 24px;
  background-color: $fullwhite;
  border: 8px solid $brutaly-blue;
  border-radius: 12px;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  background-color: transparent;
  border-color: transparent;
  border-width: 7.8px 0;
  color: transparent;
  width: 100%;
  height: 8.4px;
  cursor: pointer;
}
input[type="range"]::-ms-fill-lower {
  background-color: $brutaly-blue;
  border: 0.2px solid rgba(1, 1, 1, 0);
  border-radius: 10.2px;
}
input[type="range"]::-ms-fill-upper {
  background-color: transparent;
  border: 0.2px solid rgba(1, 1, 1, 0);
  border-radius: 10.2px;
}
input[type="range"]::-ms-thumb {
  width: 24px;
  height: 24px;
  background-color: $fullwhite;
  border: 8px solid $brutaly-blue;
  border-radius: 12px;
  cursor: pointer;
  margin-top: 0px;
}
input[type="range"]:focus::-ms-fill-lower {
  background-color: $brutaly-blue;
}
input[type="range"]:focus::-ms-fill-upper {
  background-color: transparent;
}
@supports (-ms-ime-align: auto) {
  input[type="range"] {
    margin: 0;
  }
}
