/* renaem it to mainpanel */
.lesson-page {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100vw;
  height: 100vh;
  padding: $lesson-screen-margin;

  .lesson-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $lesson-teacher-maintitle-dektop-marginbottom;
    h1.main-title {
      font-size: $title-font;
      text-align: left;
      line-height: $normal-line-height;
    }

    .hb-menu.tablet {
      position: relative;
      .hb-menu-button {
        @include DEButton(
          $hamburger-button-bgcolor,
          $hamburger-button-color,
          $hamburger-button-padding,
          $hamburger-button-radius,
          $hamburger-button-border,
          $hamburger-button-fontsize,
          $hamburger-button-lineheight,
          $hamburger-button-fontweight
        );
        .icon:before {
          margin-right: $smaller-padding;
        }
      }

      .message-counter {
        position: absolute;
        right: -$hamburger-button-counter-size/2;
        top: -$hamburger-button-counter-size/2;
        display: none;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        border-radius: 50%;
        border: $hamburger-button-counter-border solid$fullwhite;
        background-color: $hamburger-button-counter-color;
        height: $hamburger-button-counter-size;
        width: $hamburger-button-counter-size;
        span.icon {
          color: $fullwhite;
          font-size: $micro-font;
        }
      }
      .message-counter.show {
        display: flex;
      }
    }

    .hb-menu.phone {
      position: relative;
      .hb-menu-button {
        @include DEButton(
          $hamburger-button-bgcolor,
          $hamburger-button-color,
          $hamburger-button-phone-padding,
          $hamburger-button-phone-radius,
          $hamburger-button-phone-border,
          $hamburger-button-phone-fontsize,
          $hamburger-button-phone-lineheight,
          $hamburger-button-phone-fontweight
        );
        .icon:before {
          margin: 0px;
        }
      }

      .message-counter {
        position: absolute;
        right: -$hamburger-button-counter-phone-size/2;
        top: -$hamburger-button-counter-phone-size/2;
        display: none;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        border-radius: 50%;
        border: $hamburger-button-counter-phone-border solid$fullwhite;
        background-color: $hamburger-button-counter-color;
        height: $hamburger-button-counter-phone-size;
        width: $hamburger-button-counter-phone-size;
        span.icon {
          color: $fullwhite;
          font-size: $micro-font;
        }
      }
      .message-counter.show {
        display: flex;
      }
    }
  }

  .lesson-title {
    margin: $lesson-teacher-maintitle-tablet-margin;
  }

  .panel-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    flex-grow: 1;
    overflow-y: hidden;
    .lesson-mainpanel {
      display: flex;
      flex-direction: column;
      width: $lesson-video-width;
      min-width: $lesson-video-minwidth;
      margin-right: $lesson-spacebetween-vidoecontent-control;
      justify-content: center;

      .video-control-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        .video-container {
          display: flex;
          overflow: hidden;
          border-radius: $lesson-video-border-radius;
          height: 100%;
          position: relative;
          width: 100%;
          .lesson-video-placeholder {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $video-background-color;
            .lesson-video-device-message {
              display: inline;
              text-align: center;
              margin: $lesson-video-device-message-margin;
              p,
              a,
              button,
              button i {
                text-align: center;
                display: inline;
                line-height: 35px;
                font-size: $large-font;
                letter-spacing: 0.66px;
              }
              button {
                border: none;
                outline: none;
                background-color: transparent;
                color: $brutaly-blue;
                cursor: pointer;
                display: inline;
              }
            }
          }
          .lesson-video,
          .video-stream-desktopshare {
            position: absolute;
            display: flex;
            opacity: 0;
            justify-content: center;
            align-items: center;
            transition: $transition-setting;
            top: 0px;
            left: 0px;
            z-index: -10;
            width: 100%;
            height: 100%;
            video {
              object-fit: cover;
              min-width: 100%;
              height: 100%;
              border-radius: $lesson-video-border-radius;
              transition: $transition-setting;
            }
          }
          .lesson-video.show,
          .lesson-video.show.small {
            z-index: 110;
            opacity: 1;
            transition: $transition-setting;
          }
          .lesson-video.show.small {
            z-index: 100;
            width: 100%;
            height: 100%;
            opacity: 1;
            transition: $transition-setting;
            video {
              position: absolute;
              top: $lesson-small-camera-top;
              right: $lesson-small-camera-right;
              width: 50%;
              max-width: $lesson-small-camera-maxwidth;
              min-width: $lesson-small-camera-maxheight;
              height: auto;
              transition: $transition-setting;
            }
          }
          .lesson-video.show,
          .video-stream-desktopshare.show {
            z-index: 90;
            opacity: 1;
            display: flex;
          }

          /* full screen desktop share */
          .video-stream-desktopshare.fullscreen {
            display: flex;
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 90;
            opacity: 1;
            border-radius: 0;
            video {
              border-radius: 0;
            }
          }

          .lesson-video.show.fullscreen {
            z-index: 100;
            width: 100%;
            height: 100%;
            opacity: 1;
            transition: $transition-setting;
            video {
              position: fixed;
              top: $lesson-small-camera-top;
              right: $lesson-small-camera-right;
              width: 50%;
              max-width: $lesson-small-camera-maxwidth;
              min-width: $lesson-small-camera-maxheight;
              height: auto;
              transition: $transition-setting;
            }
          }

          /* record info in video */
          .video-stream-recordinfo {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: $video-record-info-top;
            left: $video-record-info-left;
            z-index: 120;
            opacity: 0;
            padding: $lesson-recordinfo-padding;
            border-radius: $lesson-recordinfo-radius;
            color: $lesson-recordinfo-color;
            background-color: $lesson-recordinfo-bgcolor;
            transition: $transition-setting;
            p {
              color: $lesson-recordinfo-color;
              span.icon:before {
                margin-right: $lesson-recordicon-marginright;
              }
            }
          }

          .video-stream-recordinfo.show {
            opacity: 1;
            transition: $transition-setting;
          }

          .video-stream-messages {
            display: flex;
            position: absolute;
            bottom: $video-record-info-bottom;
            right: $video-record-info-right;
            z-index: 120;
            opacity: 0;
            transition: $transition-setting;
            ul {
              li {
                border-radius: $video-stream-messages-borderradius;
                margin-top: $video-stream-messages-margintop;
                padding: $video-stream-messages-padding;
              }
              .video-stream-message.blue {
                background-color: $book-blue-info-bgcolor;
                p,
                p span:before {
                  color: $book-blue-info-color;
                }
              }
              .video-stream-message.green {
                background-color: $softly-green;
                p,
                p span:before {
                  color: $brutaly-green;
                }
              }
            }
          }
          .video-stream-messages.show {
            opacity: 1;
            transition: $transition-setting;
          }
        }
      }
    }
  }
}
