/* renaem it to mainpanel */
.video-playback {
  .panel-wrapper {
    .lesson-mainpanel {
      .video-control-container {
        .video-container {
          position: relative;

          .video-playback-player {
            position: absolute;
            display: flex;
            opacity: 1;
            justify-content: center;
            align-items: center;
            transition: $transition-setting;
            top: 0px;
            left: 0px;
            z-index: 100;
            width: 100%;
            height: 100%;
            video {
              object-fit: cover;
              min-width: 100%;
              height: 100%;
              border-radius: $lesson-video-border-radius;
              transition: $transition-setting;
            }
          }
          .video-playback-player.fullscreen {
            display: flex;
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 90;
            opacity: 1;
            border-radius: 0;
            video {
              border-radius: 0;
            }
          }
          .video-playback-contols {
            display: flex;
            padding: $video-playback-control-padding;
            justify-content: center;
            align-items: center;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            z-index: 110;
            background-color: rgba(255, 255, 255, 0.8);
            .pause-button {
              margin-left: $video-playback-control-pause-button-margins;
              margin-right: $video-playback-control-pause-button-margins;
            }
            .video-progress {
              width: 100%;
            }
            .volume-button {
              margin-left: $video-playback-control-volume-button-margin;
            }
            .video-contorl-button {
              span.icon:before {
                color: $brutaly-blue;
                font-size: $normal-font;
              }
            }
          }
          .video-playback-contols.fullscreen {
            display: flex;
            position: fixed;
            bottom: 0;
            left: 0;
            border-radius: 0;
          }
        }
      }
    }
  }
}
