.button-shadow {
  box-shadow: $video-button-shadow;
}

.control-container {
  margin-top: $spacebetween-video-videocontrol;
  margin-bottom: $bottomspace-video-videocontrol;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .button-container {
    margin-left: $video-button-spacebetween/2;
    margin-right: $video-button-spacebetween/2;
    margin-bottom: $bottomspace-buttons-between;
    text-align: center;
    display: block;

    .round-button {
      background-color: $inactive-button-bgcolor;
      color: $inactive-button-textcolor;
      @include roundButton(
        $video-button-size,
        $inactive-button-bgcolor,
        $inactive-button-textcolor
      );
    }
  }
  .round-button,
  .button-label-container {
    margin: 0px auto;

    .button-label {
      font-size: $lesson-teacher-round-button;
      margin-top: $spacebetween-control-button-text;
      letter-spacing: 0.54px;
    }
  }

  .button-container.on {
    .button-label-container .button-label {
      color: $active-button-textcolor;
    }

    .button-label-container .button-label {
      color: $active-button-textcolor;
    }

    .round-button {
      background-color: $active-button-bgcolor;
      color: $active-button-textcolor;
    }

    .round-button:hover {
      @include roundButton(
        $video-button-size,
        $active-button-bgcolor,
        $active-button-textcolor
      );
    }
  }

  .red-round-button.on {
    .round-button {
      background-color: $record-button-bgcolor-on;
      color: $record-button-textcolor-on;
      .icon:before {
        color: $record-button-textcolor-on;
      }
    }
    .round-button:hover {
      background-color: $record-button-bgcolor-on-hover;
    }
  }

  .red-button.on button ~ .button-label-container .button-label {
    color: $record-button-textcolor-on;
  }

  .raise-hand-button.on button .icon:before {
    @include buttonIcon("\f256");
  }

  .fullscreen.on button .icon:before {
    @include buttonIcon("\f065");
  }

  .camera-button.on button .icon:before {
    @include buttonIcon("\f03d");
  }

  .microphone-button.on button .icon:before {
    @include buttonIcon("\f130");
  }

  .share-button.on button .icon:before {
    /*@include buttonIcon("\f390");*/
    @include buttonIcon("\f108");
  }

  .record-button.on button .icon:before {
    @include buttonIcon("\f8d9");
  }

  .exit-button.on button .icon:before {
    @include buttonIcon("\f2f5");
  }

  .button-container.off {
    .button-label-container .button-label {
      color: $inactive-button-textcolor;
    }

    .round-button {
      background-color: $inactive-button-bgcolor;
      color: $inactive-button-textcolor;
    }
    .round-button:hover {
      background-color: $inactive-button-hoverbgcolor;
      color: $inactive-button-textcolor;
    }
  }

  .red-button.off {
    /*transition: $transition-setting;*/

    .round-button:hover {
      background-color: $record-button-bgcolor-on-hover;
    }
  }

  .raise-hand-button.off button .icon:before {
    @include buttonIcon("\f256");
  }

  .fullscreen.off button .icon:before {
    @include buttonIcon("\f065");
  }

  .camera-button.off button .icon:before {
    @include buttonIcon("\f4e2");
  }

  .microphone-button.off button .icon:before {
    @include buttonIcon("\f131");
  }

  .share-button.off button .icon:before {
    /*@include buttonIcon("\f390");*/
    @include buttonIcon("\f108");
  }

  .record-button.off button .icon:before {
    @include buttonIcon("\f8d9");
  }

  .exit-button.off button .icon:before {
    @include buttonIcon("\f2f5");
  }
}

.control-container.tablet.fullscreen {
  z-index: 120;
  display: flex;
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  .button-label-container {
    display: none;
  }
  .round-button:hover {
    background-color: $inactive-button-hoverbgcolor !important;
    color: $inactive-button-textcolor;
  }
}
