    <!-- This is the wrapper of the entire screen -->
    <main class="screen-wrapper" id="mainpagetab">
        <!-- Wrpping around the two panels-->
        <div class="double-panel-wrapper">
  
          <!--Left panel-->
          <div class="left panel">
            <div class="timetable">
  
              <div class="content-header-wrapper simple-header">
                <div class="content-header">
                  <div class="content-header-text">
                    <div class="content-header-title">
                      <p>Mai órarend</p>
                    </div>
                    <div class="content-header-date">
                      <p><%=moment().format('L')%></p>
                    </div>
                  </div>
                </div>
              </div>
  
              <div class="scrollable-content">
                <div class="scrolled-content">
                  <ul class="content-list">
  
                    <% lessons.forEach(lesson => { %>
                      <li class="content-item lessons <%=lesson.course.color || 'blue'%> lesson-<%=lesson.course_id%>">
                        <div class="decor"></div>
                        <div class="info-card">
  
                          <div class="info-record">
                            <div class="info-lesson-title">
                              <a href="/lessons/<%=lesson.id%>" data-target="#lesson-<%=lesson.id%>">
                                <%=lesson.name%>
                              </a>
                            </div>
  
                            <div class="info-time-schedule">
                              <p>
                                <span class="fa icon timeempty"></span><%=moment(lesson.start_time).format('LT')%> - <%=moment(lesson.end_time).format('LT')%>
                              </p>
                            </div>
                          </div>
  
                          <div class="info-lesson-details">
                            <div class="info-lesson-container">
                              <div class="info-lesson-detail">
                                <p>
                                  <span class="fa icon write"></span><%=lesson.course.name%>
                                </p>
                              </div>
  
                              <% if (current_user.role != USER_ROLE.TEACHER) { %>
                                <div class="info-lesson-detail student-version">
                                  <p>
                                    <span class="fa icon teacher"></span><%=lesson.lastname%> <%=lesson.firstname%>
                                  </p>
                                </div>
                              <% } %>
  
                              <div class="info-lesson-detail">
                                <p><span class="fa icon time"></span><%=lesson.number%>. Óra</p>
                              </div>
                            </div>
  
                            <button class="small-button <%=lesson.course.color%>-button ml-30" onclick="window.location='/lessons/<%=lesson.id%>'">
                              <span class="fa icon info"></span>Részletek
                            </button>
                          </div>
  
                        </div>
                      </li>
                    <% }); %>
  
                  </ul>
                </div>
              </div>
  
            </div>
          </div>
  
          <!--Right panel-->
          <div class="right panel">
            <div class="course-list">
              <div class="content-header-wrapper header-with-1buttons">
  
                <div class="content-header">
                  <div class="content-header-text">
                    <div class="content-header-title">
                      <p>Kurzusok</p>
                    </div>
                    <div class="content-header-date">
                      <p><%=current_user.role == USER_ROLE.STUDENT ? 'Felvett kurzusaid' : 'Az Ön által kezelt kurzusok'%></p>
                    </div>
                  </div>
                </div>

                <% if (current_user.role != USER_ROLE.STUDENT) { %>
                  <div class="content-header-symbols">
                    <!-- Botton for the modal -->
                    <button class="small-button green-button open-modal" data-target="#course-creation-modal">
                      <span class="fa icon plus-mark"></span>Kurzus létrehozása
                    </button>
                  </div>
                <% } %>
                
              </div>
  
              <div class="scrollable-content">
                <div class="scrolled-content">
                  <ul class="content-list">
  
                    <% courses.forEach(course => { %>
                      <li id="course-<%=course.id%>" class="content-item lessons <%=course.color || 'blue'%>">
                        <div class="decor"></div>
  
                        <div class="content-item-container">
                          <div class="info-card">
                            <div class="info-record">
                              <div class="info-lesson-title">
                                <a href="/courses/<%=course.id%>" data-target="#lesson1">
                                  <%=course.name%>
                                </a>
                              </div>
  
                              <div class="user-container">
                                  <div class="user">
                                    <p>
                                      <span class="fa icon book"></span>
                                      <%=currentCustomer.name%>
                                    </p>
                                  </div>
                                  <button class="icon-button <%=course.color%>-button ml-30" onclick="window.location = '/courses/<%=course.id%>'">
                                    <span class="fa icon furder"></span>
                                  </button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <% if (current_user.role != USER_ROLE.STUDENT) { %>
                          <button class="icon-button open-modal red-button ml-30 icon-size-74 teacher-version" data-target="#course-delete-modal" data-url-param="<%=course.id%>">
                            <span class="fa icon trash"></span>
                          </button>
                        <% } %>
                      </li>
                    <% }); %>
  
  
                  </ul>
                </div>
              </div>
  
            </div>
          </div>
        </div>
  
        <% if (current_user.role != USER_ROLE.STUDENT) {%>
          <!-- modal cover -->
          <div class="modal-cover"></div>
    
          <!-- modal window -->
          <div class="screen-container modal-screen" id="course-creation-modal">
            <div class="mini-box">
              <div class="mini-box-header">
                <p>Kurzus létrehozása</p>
                <button class="modal-exit-btn close-modal">
                  <span class="fa icon X-icon"></span>
                </button>
              </div>
    
              <form action="/courses/" method="POST">
                <div class="mini-box-content">
                  <div class="form-wrapper">
                    <label for="course-name">Kurzus neve</label>
                    <input
                      type="text"
                      name="name"
                      id="course-name"
                      placeholder="Adja meg a kurzus nevét"
                    />
                  </div>
                  <div class="form-button-container">
                    <div class="form-action-btn">
                      <a class="small-button gray-button close-modal">
                        <span class="fa icon X-icon"></span>Mégse
                      </a>
                    </div>
                    <div class="form-action-btn">
                      <button class="small-button green-button" >
                        <span class="fa icon check-mark"></span>Létrehozás
                      </button>
                    </div>
                  </div>
                </div>
              </form>
    
            </div>
          </div>
    
          <!-- modal window -->
          <div class="screen-container modal-screen" id="course-delete-modal">
            <div class="mini-box">
              <div class="mini-box-header">
                <p>Kurzus törlése</p>
                <button class="modal-exit-btn close-modal close-modal">
                  <span class="fa icon X-icon"></span>
                </button>
              </div>
    
              <div class="mini-box-content">
                <p>A Törlés gombra kattintva a kurzushoz tartozó összes adat törlésre kerül.</p>
                <br/>
                <p>Ez a művelet nem visszafordítható.</p>
                <div class="form-button-container">
                  <div class="form-action-btn">
                    <a class="small-button gray-button close-modal">
                      <span class="fa icon X-icon"></span>Mégse
                    </a>
                  </div>
                  <div class="form-action-btn">
                    <button class="small-button red-button modal-url-button" onclick="deleteEntity('courses', 'course', this)">
                      <span class="fa icon trash"></span>Törlés
                    </button>
                  </div>
                </div>
              </div>
    
            </div>
          </div>
        <% } %>
      </main>