.administration-content,
.institution-content {
  height: 100%;
  width: 100%;
  border-radius: $administration-content-radius;
  box-shadow: $administration-content-shadow;
  padding: $administration-content-padding;
  background-color: $fullwhite;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

.institution-content {
  .user-datas {
    .institution-name {
      font-size: $administration-institution-name-font-size;
      font-weight: $administration-institution-name-font-weight;
      letter-spacing: $administration-institution-name-letter-spacing;
      text-align: left;
      color: $brutaly-blue;
    }
    .type {
      font-size: $administration-institution-name-font-size;
      font-weight: $administration-institution-name-font-weight;
      letter-spacing: $administration-institution-name-letter-spacing;
      text-align: left;
      color: $almost-black;
    }
    .subtype {
      font-size: $administration-institution-name-font-size;
      font-weight: $administration-institution-name-font-weight;
      letter-spacing: $administration-institution-name-letter-spacing;
      text-align: left;
      color: $almost-black;
    }
    .creation-date {
      font-size: $administration-institution-name-font-size;
      font-weight: $administration-institution-name-font-weight;
      letter-spacing: $administration-institution-name-letter-spacing;
      text-align: left;
      color: $brutaly-gray;
    }
    .table-buttons {
      display: flex;
      justify-content: flex-end;
    }
  }
}

.administration-content {
  .user-datas {
    .user-ID {
      font-size: $administration-institution-name-font-size;
      font-weight: $administration-institution-name-font-weight;
      letter-spacing: $administration-institution-name-letter-spacing;
      text-align: left;
      color: $brutaly-blue;
    }
    .user-secondname {
      font-size: $administration-institution-name-font-size;
      font-weight: $administration-institution-name-font-weight;
      letter-spacing: $administration-institution-name-letter-spacing;
      text-align: left;
      color: $almost-black;
    }
    .user-firstname {
      font-size: $administration-institution-name-font-size;
      font-weight: $administration-institution-name-font-weight;
      letter-spacing: $administration-institution-name-letter-spacing;
      text-align: left;
      color: $almost-black;
    }
    .user-email-addres {
      font-size: $administration-institution-name-font-size;
      font-weight: $administration-institution-name-font-weight;
      letter-spacing: $administration-institution-name-letter-spacing;
      text-align: left;
      color: $almost-black;
    }
    .creation-date {
      font-size: $administration-institution-name-font-size;
      font-weight: $administration-institution-name-font-weight;
      letter-spacing: $administration-institution-name-letter-spacing;
      text-align: left;
      color: $brutaly-gray;
    }
    .user-type {
      font-size: $administration-institution-name-font-size;
      font-weight: $administration-institution-name-font-weight;
      letter-spacing: $administration-institution-name-letter-spacing;
      text-align: left;
      color: $brutaly-blue;
    }
    .table-buttons {
      display: flex;
      justify-content: flex-end;
    }
  }
}
