.user-data-form,
.institution-data-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: $administration-content-shadow;
  background-color: $fullwhite;
  padding: $administration-content-padding;
  border-radius: $administration-content-radius;
  .content-header {
    .content-header-title {
      p {
        font-size: $content-header-title-fontsize;
        line-height: $content-header-lineheight;
        font-weight: $content-header-title-fontweight;
      }
    }
    .content-header-info {
      p {
        font-size: $content-header-date-fontsize;
        line-height: $content-header-lineheight;
        font-weight: $content-header-date-fontweight;
        color: $content-header-date-color;
      }
    }
  }
}

.user-data-form {
  .user-data-settings {
    display: flex;
    width: 100%;

    .user-email,
    .user-type,
    .user-firstname-container,
    .user-secondname-container {
      width: 100%;
      margin-bottom: $administration-input-bottom-padding;
      display: flex;
      flex-direction: column;
      margin-right: $administration-input-margin-right;
      label {
        font-size: $input-label-font-size;
        font-weight: $administration-input-label-font-weight;
        margin-bottom: $administration-label-margin-bottom;
        color: $almost-black;
      }
      input,
      select {
        @include InputText();
        width: 100%;
        height: 100%;
        border-radius: $administration-content-radius;
        border: $administration-input-border;
        background-color: $fullwhite;
      }
      input::-webkit-input-placeholder {
        font-size: $input-font-size;
        font-weight: $administration-input-placeholder-font-weight;
        color: $brutaly-gray;
      }
    }
  }
  .create-btn {
    margin-left: auto;
    min-width: $administration-button-min-width;
    margin-top: $administration-button-margin-top;
  }
}

.institution-data-form {
  .user-data-settings {
    display: flex;
    width: 100%;

    .institution-name {
      width: 100%;
      display: flex;
      flex-direction: column;
      label {
        font-size: $input-label-font-size;
        font-weight: $administration-input-label-font-weight;
        margin-bottom: $administration-label-margin-bottom;
        color: $almost-black;
      }
      #institution-name {
        @include InputText();
        width: 100%;
        height: 100%;
        border-radius: $administration-input-raius;
        border: $administration-input-border;
        background-color: $fullwhite;
        padding: $administration-input-padding;
      }
      input::-webkit-input-placeholder {
        font-size: $input-font-size;
        font-weight: $administration-input-placeholder-font-weight;
        color: $brutaly-gray;
      }
    }
    .institution-type-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-top: $administration-input-margin-top;
      margin-right: $administration-input-margin-right +
        $administration-input-margin-left;
      label {
        font-size: $input-label-font-size;
        font-weight: $administration-input-label-font-weight;
        margin-bottom: $administration-input-label-bottom-margin;
        color: $almost-black;
      }
      #institution-type {
        @include InputText();
        width: 100%;
        height: 100%;
        border-radius: $administration-input-raius;
        border: $administration-input-border;
        background-color: $fullwhite;
        padding: $administration-input-padding;
      }
      input::-webkit-input-placeholder {
        font-size: $input-font-size;
        font-weight: $administration-input-placeholder-font-weight;
        color: $brutaly-gray;
      }
    }
    .institution-subtype-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-top: $administration-input-margin-top;
      label {
        font-size: $administration-input-label-font-size;
        font-weight: $administration-input-label-font-weight;
        margin-bottom: $administration-label-margin-bottom;
        color: $almost-black;
      }
      #institution-subtype {
        @include InputText();
        width: 100%;
        height: 100%;
        border-radius: $administration-input-raius;
        border: $administration-input-border;
        background-color: $fullwhite;
        padding: $administration-input-padding;
      }
      input::-webkit-input-placeholder {
        font-size: $administration-input-placeholder-font-size;
        font-weight: $administration-input-placeholder-font-weight;
        color: $brutaly-gray;
      }
    }
  }
  .create-btn {
    margin-left: auto;
    min-width: $administration-button-min-width;
    border-radius: $administration-input-raius;
    margin-top: $administration-button-margin-top;
  }
}
