.question-container {
  width: 100%;
  box-shadow: $tests-box-shadow;
  background-color: $fullwhite;
  margin-top: $tests-margin-top;
  border-radius: $tests-radius;
  padding: $tests-padding;
  .question-text {
    margin-bottom: $tests-margin-bottom;
    p {
      font-size: $tests-question-text-font-size;
      font-weight: $tests-question-text-font-weight;
      //line-height: $normal-line-height;
      color: $almost-black;
    }
  }
  .answer-options {
    .answer-container {
      display: flex;
      align-items: center;
      margin-bottom: $tests-margin-bottom;
      input[type="checkbox"] {
        width: $tests-icon-size;
        height: $tests-icon-size;
        border-radius: $tests-radius;
        border: $tests-border;
        margin-right: $tests-margin-right;
        cursor: pointer;
      }
      .answer-text {
        font-size: $tests-answer-options-font-size;
        font-weight: $tests-answer-options-font-weight;
        //line-height: $normal-line-height;
        color: $brutaly-gray;
        cursor: pointer;
      }
      .answer-black {
        color: $almost-black !important;
      }
    }
    .answer-container {
      display: flex;
      align-items: center;
      margin-bottom: $tests-margin-bottom;
      .answer-result {
        width: $tests-icon-size;
        height: $tests-icon-size;
        border-radius: $tests-radius;
        background-color: $softly-green;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: $tests-margin-right;
        span.icon:before {
          font-size: $tests-answer-result-icon-size;
        }
      }

      p {
        font-size: $tests-answer-result-font-size;
        font-weight: $tests-answer-result-font-weight;
        line-height: $normal-line-height;
      }
    }
    .answer-container.correct {
      .answer-result {
        background-color: $softly-green;
        span.icon:before {
          color: $brutaly-green;
        }
      }
      p {
        color: $brutaly-green;
      }
    }
    .answer-container.wrong {
      .answer-result {
        background-color: $softly-red;
        span.icon:before {
          color: $brutaly-red;
        }
      }
      p {
        color: $brutaly-red;
      }
    }
    .answer-container:last-child {
      margin-bottom: 0px;
    }
  }
}
