.question-parameters {
  width: 100%;
  //height: 100%;
  //overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: $tests-box-shadow;
  border-radius: $tests-radius;
  background-color: white;
  margin-top: $tests-margin-top;
  padding: $tests-padding;
  .new-question-parameters {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-right: $tests-question-margin-right;
    .question-box {
      width: 100%;
      display: flex;
      .question-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        label {
          font-size: $tests-question-text-font-size;
          font-weight: $tests-question-text-font-weight;
          color: $almost-black;
        }
        #question {
          @include InputText();
          width: 100%;
          height: 100%;
          border-radius: $tests-radius;
          border: $tests-border;
          background-color: $fullwhite;
          margin-top: 10px;
          padding: $tests-question-input-padding;
        }
        input::-webkit-input-placeholder {
          font-size: $input-font-size;
          font-weight: $input-font-weight;
          color: $brutaly-gray;
        }
      }
    }
    .multiple-answer {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-top: $tests-answer-margin-top;
      margin-right: $tests-answer-margin-right;
      margin-bottom: $tests-answer-margin-bottom;
      p {
        font-size: $administration-input-label-font-size;
        font-weight: $administration-input-label-font-weight;
        margin-bottom: $administration-input-label-bottom-margin;
        color: $almost-black;
      }
      .switch {
        position: relative;
        display: inline-block;
        width: $tests-switch-width;
        height: $test-switch-height;
      }

      .switch input {
        opacity: 0;
        width: 0;
        height: 0;
      }

      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: 0.4s;
        transition: 0.4s;
      }

      .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: 0.4s;
        transition: 0.4s;
      }

      input:checked + .slider {
        background-color: #2196f3;
      }

      input:focus + .slider {
        box-shadow: 0 0 1px #2196f3;
      }

      input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }

      /* Rounded sliders */
      .slider.round {
        border-radius: 34px;
      }

      .slider.round:before {
        border-radius: 50%;
      }
    }
    .answer-box {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: $tests-answer-spacebetween;
      .answer {
        @include InputText();
        width: 100%;
        height: 100%;
        border-radius: $administration-input-raius;
        border: $administration-input-border;
        background-color: $fullwhite;
        padding: $administration-input-padding;
      }
      input::-webkit-input-placeholder {
        font-size: $administration-input-placeholder-font-size;
        font-weight: $administration-input-placeholder-font-weight;
        color: $brutaly-gray;
      }
      .add-answer-btn {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .add-new-answer-btn {
      width: 100%;
      margin-top: $tests-add-new-answer-btn-margin-top;
      display: flex;
      align-items: center;
      justify-content: center;
      button {
        height: 100%;
        @include tabButton();
        font-size: $administration-institution-name-font-size;
        font-weight: $administration-institution-name-font-weight;
        letter-spacing: $administration-institution-name-letter-spacing;
        color: $brutaly-blue;
      }
    }
  }
}
.add-new-question-btn {
  margin-top: $test-answer-button-margin-top;
  button {
    font-size: $tests-add-new-answer-btn-font-size;
  }
}
.footer-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: $test-answer-button-margin-top;
  margin-bottom: $test-answer-button-margin-bottom;
  .cancel-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    button {
      min-width: $administration-button-min-width;
    }
  }
  .footer-rightside-buttons {
    display: flex;
    .preview-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      button {
        min-width: $administration-button-min-width;
      }
    }
    .create-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      button {
        min-width: $administration-button-min-width;
      }
    }
  }
}
