.lesson-details-panel {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  .lesson-main-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-right: $scrollable-content-srollbar-padding-right;
    margin-bottom: $lesson-main-wrapper-margin-bottom;
    @include scrollbarVert();
    overflow-y: auto;
    .lesson-name {
      text-align: center;
      padding: $small-padding;
      border-radius: 8px;
      border: solid 1px #ecf6ff;
      background-color: $fullwhite;
      margin-bottom: $normal-margin;
      p {
        font-size: $small-font;
        font-weight: $normal-font-weight;
        line-height: $normal-line-height;
        color: $almost-black;
      }
      span.icon:before {
        margin-right: 8px;
        color: $info-lesson-blue;
      }
    }
    .lesson-informations {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-bottom: $lesson-information-margin-bttom;
      .data-box {
        min-width: $lesson-information-databox-min-width;
        padding: $lesson-information-databox-padding;
        border: $lesson-information-databox-border;
        border-radius: $lesson-information-databox-radius;
        text-align: center;
        font-size: $lesson-information-databox-font-size;
        max-height: $lesson-information-databox-max-height;
        p {
          font-size: $lesson-information-databox-font-size;
          font-weight: $lesson-information-databox-font-weight;
          //line-height: $normal-line-height;
          color: $almost-black;
        }
        span.icon:before {
          margin-right: $lesson-information-databox-icon-margin-right;
          color: $info-lesson-blue;
        }
      }
    }
    .lesson-description {
      border-radius: $lesson-information-databox-radius;
      border: $lesson-information-databox-border;
      background-color: $fullwhite;
      padding: $lesson-information-lesson-description-padding;
      //padding-right: $smaller-padding;
      .lesson-description-scrollable {
        height: 100%;
        //padding-right: $smaller-padding;
        width: 100%;
        p {
          font-size: $lesson-information-databox-font-size;
          font-weight: $lesson-information-databox-font-weight;
          line-height: $lesson-information-databox-line-height;
          letter-spacing: normal;
          text-align: left;
          color: $almost-black;
        }
      }
    }
  }
}

/*Right panel*/
.embedded-tab {
  display: flex;
  padding: 0px !important;
  width: 100%;
  max-width: none;
  min-width: none;
  overflow: hidden;
  .lesson-controlpanel {
    display: flex;
    max-width: 100% !important;
    min-width: 100% !important;
    overflow: hidden;
    width: 100% !important;
    height: 100% !important;
    margin: 0px;
    .control-wrapper {
      display: flex;
      width: 100%;
      margin: 0px;
      .tab-control {
        width: 100%;
        #tab-row-records {
          display: none;
        }
      }
    }
  }
}

#ongoing-lesson {
  .lesson-details-panel {
    .lesson-main-wrapper {
      .lesson-name {
        p {
          color: $almost-black;
        }
        span.icon:before {
          color: $info-lesson-blue;
        }
      }
      .lesson-informations {
        .data-box {
        }
        .user-name {
          p {
            color: $almost-black;
          }
          span.icon:before {
            color: $info-lesson-blue;
          }
        }
        .lesson-date {
          p {
            color: $almost-black;
          }
          span.icon:before {
            color: $info-lesson-blue;
          }
        }
        .lesson-status {
          p {
            color: $almost-black;
          }
          span.icon:before {
            color: $info-lesson-blue;
          }
        }
      }
      .lesson-description {
        background-color: $fullwhite;
        p {
          color: $almost-black;
        }
      }
    }
    .lesson-phase {
      background-color: $lesson-info-btn-bgcolor-blue;
      @include blue-button;
    }
  }
}

/* coloring */
#future-lesson {
  .lesson-details-panel {
    .lesson-main-wrapper {
      .lesson-name {
        p {
          color: $almost-black;
        }
        span.icon:before {
          color: $info-lesson-blue;
        }
      }
      .lesson-informations {
        .data-box {
        }
        .user-name {
          p {
            color: $almost-black;
          }
          span.icon:before {
            color: $info-lesson-blue;
          }
        }
        .lesson-date {
          p {
            color: $almost-black;
          }
          span.icon:before {
            color: $info-lesson-blue;
          }
        }
        .lesson-status {
          p {
            color: $almost-black;
          }
          span.icon:before {
            color: $info-lesson-green;
          }
        }
      }
      .lesson-description {
        background-color: $fullwhite;
        p {
          color: $almost-black;
        }
      }
    }
    .lesson-phase {
      background-color: $lesson-info-btn-bgcolor-green;
      p,
      button {
        color: $info-lesson-green;
        span.icon:before {
          color: $info-lesson-green;
        }
      }
    }
  }
}

#closed-lesson {
  .lesson-details-panel {
    .lesson-name {
      p {
        color: $almost-black;
      }
      span.icon:before {
        color: $info-lesson-blue;
      }
    }
    .lesson-main-wrapper {
      .lesson-informations {
        .data-box {
        }
        .user-name {
          p {
            color: $almost-black;
          }
          span.icon:before {
            color: $info-lesson-blue;
          }
        }
        .lesson-date {
          p {
            color: $almost-black;
          }
          span.icon:before {
            color: $info-lesson-blue;
          }
        }
        .lesson-status {
          p {
            span.icon:before {
              color: $info-lesson-red;
            }
          }
        }
      }
      .lesson-description {
        background-color: $fullwhite;
        p {
          color: $almost-black;
        }
      }
    }
    .lesson-phase {
      background-color: $lesson-info-btn-bgcolor-red;
      p,
      button {
        color: $info-lesson-red;
        span.icon:before {
          color: $info-lesson-red;
        }
      }
    }
  }
}
