.editor-title-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  border-radius: $editor-header-radius;
  position: relative;
  padding: $editor-header-padding;
  background-color: $fullwhite;
  box-shadow: $editor-header-shadow;

  .vote-title,
  .test-title {
    margin-bottom: $editor-header-title-margin-bottom;
    p {
      font-size: $editor-header-title-font-size;
      font-weight: $editor-header-title-font-weight;
      line-height: $normal-line-height;
      color: $almost-black;
    }
  }
  .test-information,
  .vote-information {
    p {
      font-size: $editor-header-title-font-size;
      font-weight: $editor-header-title-font-weight;
      line-height: $normal-line-height;
      color: $brutaly-gray;
    }
  }

  .vote-information-container,
  .test-information-container {
    display: flex;
    justify-content: center;
    width: 100%;
    p {
      font-size: $editor-header-title-font-size;
      font-weight: $editor-header-title-font-weight;
      //line-height: $normal-line-height;
      color: $brutaly-gray;
    }
    .test-information {
      p {
        font-size: $editor-header-title-font-size;
        font-weight: $editor-header-title-font-weight;
        //line-height: $normal-line-height;
        color: $brutaly-gray;
      }
    }
    .vote-name-box,
    .test-name-box {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-right: $editor-header-input-label-margin-right;
      label {
        font-size: $editor-header-input-label-font-size;
        font-weight: $editor-header-input-label-font-weight;
        color: $almost-black;
      }
      #vote-name,
      #test-name {
        @include InputText();
        width: 100%;
        height: 100%;
        border-radius: $editor-header-input-radius;
        border: $editor-header-input-border;
        background-color: $fullwhite;
        margin-top: $editor-header-input-margin-top;
        padding: $editor-header-input-padding;
      }
      input::-webkit-input-placeholder {
        font-size: $editor-header-input-placeholder-font-size;
        font-weight: $editor-header-input-placeholder-font-weight;
      }
    }
    .vote-description-box,
    .test-description-box {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-left: $editor-header-input-space-between/2;
      label {
        font-size: $editor-header-input-label-font-size;
        font-weight: $editor-header-input-label-font-weight;
        color: $almost-black;
      }
      #vote-description,
      #test-description {
        @include InputText();
        width: 100%;
        height: 100%;
        border-radius: $editor-header-input-radius;
        border: $editor-header-input-border;
        background-color: $fullwhite;
        margin-top: $editor-header-input-margin-top;
        padding: $editor-header-input-padding;
      }
      input::-webkit-input-placeholder {
        font-size: $editor-header-input-placeholder-font-size;
        font-weight: $editor-header-input-placeholder-font-weight;
        color: $brutaly-gray;
      }
    }
  }
  .exit-btn {
    position: absolute;
    right: $editor-exit-button-reltive-right;
  }
}
.statistics-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-top: $statistics-margin-top;
  padding: $statistics-padding;
  border-radius: $statistics-border;
  background-color: $fullwhite;
  box-shadow: $statistics-shadow;
  .statistic-box {
    display: flex;
    flex-grow: 1;
    .examined-question {
      display: flex;
      flex-direction: column;
      width: 100%;
      .question-text {
        p {
          font-size: $tests-question-text-font-size;
          font-weight: $tests-question-text-font-weight;
          //line-height: $normal-line-height;
          color: $almost-black;
        }
      }
      .answer {
        display: flex;
        align-items: center;
        .answer-checkbox {
          width: $tests-answer-result-checkbox-size;
          height: $tests-answer-result-checkbox-size;
          border-radius: $tests-answer-result-radius;
          background-color: $softly-red;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: $tests-answer-result-margin-right;
          span.icon:before {
            font-size: $tests-answer-result-icon-size;
            color: $brutaly-red;
          }
        }
        p {
          font-size: $tests-answer-options-font-size;
          font-weight: $tests-answer-options-font-weight;
          //line-height: $normal-line-height;
          color: $brutaly-red;
        }
      }
    }
    .question-header-wrapper,
    .question-result-wrapper {
      display: flex;
      margin-bottom: $tests-answer-result-margin-bottom;
      align-items: center;
    }
    .question-text,
    .answer {
      width: 30%;
    }
    .rate {
      p {
        font-size: $tests-question-text-font-size;
        font-weight: $tests-question-text-font-weight;
        //line-height: $normal-line-height;
        color: $brutaly-blue;
      }
    }
    .wrong-answers-rate {
      p {
        font-size: $tests-question-text-font-size;
        font-weight: $tests-question-text-font-weight;
        //line-height: $normal-line-height;
        color: $brutaly-red;
      }
    }
    .correct-answers-rate {
      p {
        font-size: $tests-question-text-font-size;
        font-weight: $tests-question-text-font-weight;
        //line-height: $normal-line-height;
        color: $brutaly-green;
      }
    }
  }
}
.vote-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: $tests-vote-content-padding;
  margin-top: $tests-vote-content-margin-top-bottom;
  margin-bottom: $tests-vote-content-margin-top-bottom;
  border-radius: $tests-vote-content-radius;
  background-color: $fullwhite;
  box-shadow: $tests-vote-content-shadow;
  .vote-box {
    display: flex;
    flex-grow: 1;
    .vote-result-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .answer-header-wrapper {
        margin-bottom: $tests-vote-content-title-margin-bottom;
      }
      .answer-header-wrapper,
      .answer-wrapper {
        display: flex;
        flex-direction: row;
      }
      .vote-result-info {
        p {
          font-size: $tests-question-text-font-size;
          font-weight: $tests-question-text-font-weight;
          //line-height: $normal-line-height;
          color: $brutaly-green;
        }
      }
      .vote-result-data {
        p {
          font-size: $tests-question-text-font-size;
          font-weight: $tests-question-text-font-weight;
          //line-height: $normal-line-height;
          color: $brutaly-blue;
        }
      }
      .vote-question {
        width: 35%;
        p {
          font-size: $tests-question-text-font-size;
          font-weight: $tests-question-text-font-weight;
          //line-height: $normal-line-height;
          color: $almost-black;
        }
      }
      .answer-container {
        display: flex;
        flex-wrap: no wrap;
        width: 35%;
        margin-bottom: $tests-vote-content-result-margin-top-bottom;
        align-items: flex-start;
        .answer-box {
          width: $tests-answer-result-checkbox-size;
          height: $tests-answer-result-checkbox-size;
          border-radius: $tests-answer-result-radius;
          background-color: $softly-blue;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: $tests-answer-result-margin-right;
          span.icon:before {
            font-size: $tests-answer-result-icon-size;
            color: $brutaly-blue;
          }
        }
        #answer-box {
          width: $tests-answer-result-checkbox-size;
          height: $tests-answer-result-checkbox-size;
          border-radius: $tests-answer-result-radius;
          border: $tests-answer-result-border;
          margin-right: $tests-answer-result-margin-right;
        }
        .answer-text {
          font-size: $tests-answer-result-font-size;
          font-weight: $tests-answer-result-font-weight;
          //line-height: $normal-line-height;
          color: $brutaly-gray;
        }
        .answer-black {
          color: $almost-black;
        }
      }
    }
  }
}
.finish-btn {
  min-width: $tests-answer-finish-button-width;
  align-self: center;
  margin-top: auto;
}
.answer-bigcontainer {
  box-shadow: $tests-vote-content-shadow;
  background-color: $fullwhite;
  padding: $tests-vote-content-padding;
  border-radius: $tests-vote-content-radius;
  margin-top: $tests-vote-content-margin-top-bottom;
  margin-bottom: $tests-vote-content-margin-top-bottom;
  .vote-question {
    p {
      font-size: $tests-question-text-font-size;
      font-weight: $tests-question-text-font-weight;
      //line-height: $normal-line-height;
      color: $almost-black;
    }
  }
  .answer-container {
    display: flex;
    flex-wrap: no wrap;
    width: 100%;
    margin-bottom: $test-answer-button-margin-bottom;
    align-items: flex-start;
    .answer-box {
      width: $tests-answer-result-checkbox-size;
      height: $tests-answer-result-checkbox-size;
      border-radius: $tests-answer-result-radius;
      background-color: $softly-blue;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: $tests-answer-result-margin-right;
      span.icon:before {
        font-size: $tests-answer-result-icon-size;
        color: $brutaly-blue;
      }
    }
    #answer-box {
      width: $tests-answer-result-checkbox-size;
      height: $tests-answer-result-checkbox-size;
      border-radius: $tests-answer-result-radius;
      border: $tests-answer-result-border;
      margin-right: $tests-answer-result-margin-right;
    }
    .answer-text {
      font-size: $tests-answer-options-font-size;
      font-weight: $tests-answer-options-font-weight;
      //line-height: $normal-line-height;
      color: $brutaly-gray;
    }
    .answer-black {
      color: $almost-black;
    }
  }
}

.answer-container:nth-last-of-type(1) {
  margin-bottom: 0px;
}
