/* the lession pages video control buttons are very specials, they are in the _video_buttons.scss */

/**********************************************/
/*************** link button *****************/
/**********************************************/
/* link button default color is blue */
.small-link-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $small-link-button-radius;
    background-color: $softly-blue;
    height: $small-link-button-height;
    a {
        display: block;
        padding: $small-link-button-padding;
        color: $brutaly-blue;
        cursor: pointer;
        border: none;
        outline: none;
        width: 100%;
        span.icon:before {
            font-size: $small-link-button-icon-size;
            margin-right: $small-link-button-icon-margin-right;
        }
    }
    &:hover {
        background-color: $brutaly-blue;
        color: $softly-blue;
        a,
        span,
        span.icon:before {
            color: $softly-blue;
        }
    }
}
.small-link-icon-button {
    width: $small-link-icon-button-size;
    height: $small-link-icon-button-size;
    border-radius: $small-link-button-radius;
    background-color: $softly-blue;
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $brutaly-blue;
        cursor: pointer;
        border: none;
        outline: none;
        width: 100%;
        height: 100%;
        font-size: $small-link-icon-button-font-size;
        //line-height: $small-line-height;
        font-weight: $normal-font-weight;
        span.icon:before {
            color: $brutaly-blue;
            font-size: $small-link-icon-button-font-size;
            //line-height: $small-line-height;
        }
    }
    &:hover {
        background-color: $brutaly-blue;
        color: $softly-blue;
        a,
        span,
        span.icon:before {
            color: $softly-blue;
        }
    }
}

/**********************************************/
/************** link icon button **************/
/**********************************************/
.icon-link-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $small-link-button-radius;
    background-color: $softly-blue;
    width: $icon-link-button-size;
    height: $icon-link-button-size;
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $brutaly-blue;
        cursor: pointer;
        border: none;
        width: 100%;
        height: 100%;
        outline: none;
        span.icon:before {
            font-size: $icon-link-button-font-size;
        }
    }
}

/* link button in header and scond header */
.header-button {
    font-size: $header-button-font-size !important;
    font-weight: $icon-link-button-font-weight !important;
    //line-height: 1.5 !important;
    margin-right: $small-link-button-space-left-right !important;
    margin-left: $small-link-button-space-left-right !important;
    a {
        padding: $small-link-header-button-padding !important;
    }
    span.icon:before {
        font-size: $icon-link-button-icon-size !important;
        margin-right: $icon-link-button-icon-margin-right !important;
    }
}

/**********************************************/
/*************** Small button *****************/
/**********************************************/
/* normal button default color is blue */
.small-button {
    border: none;
    outline: none;
    cursor: pointer;
    padding: $small-button-padding;
    background-color: $softly-blue;
    border-radius: $small-button-radius;
    color: $brutaly-blue;
    font-size: $small-button-font-size;
    font-weight: $small-button-font-weight;
    //line-height: $normal-line-height;
    span.icon:before {
        color: $brutaly-blue;
        font-size: $small-button-icon-size;
        margin-right: $small-button-icon-margin-right;
    }
}

.only-bottom-round {
    border-radius: 0px 0px $small-button-radius $small-button-radius;
}

.wide-link-button {
    a {
        text-align: center;
    }
}

.wide-link {
    width: 100%;
    span.icon:before {
    }
}
.wide-button {
    width: 100%;
    span.icon:before {
    }
}
.text-first {
    span.icon:before {
        margin-left: $small-button-text-first-icon-margin-left !important;
        margin-right: 0px !important;
    }
}

/**********************************************/
/*************** icon button ******************/
/****** coloring same as small-buttons ********/
/**********************************************/
.icon-button {
    border-radius: $small-icon-button-radius;
    background-color: $softly-blue;
    border: none;
    outline: none;
    width: $icon-button-size;
    height: $icon-button-size;
    color: $brutaly-blue;
    font-size: $icon-button-font-size;
    //line-height: $small-line-height;
    font-weight: $icon-button-font-weight;
    cursor: pointer;
    span.icon:before {
        margin: auto;
        color: $brutaly-blue;
        font-size: $icon-button-icon-size;
        //line-height: $small-line-height;
    }
    &:hover {
        background-color: $brutaly-blue;
        color: $softly-blue;
        a,
        span,
        span.icon:before {
            color: $softly-blue;
        }
    }
}

/* spacial button on records tab */
.play-button {
    align-self: center;
    span.icon:before {
        color: $info-lesson-blue;
        margin-right: $video-play-button-margin-right;
        font-size: $video-play-button-icon-size;
    }
    p {
        font-size: $video-play-button-font-size;
        font-weight: $normal-font-weight;
        //line-height: $normal-line-height;
        color: $info-lesson-blue;
    }
}

/* spacial button on participants tab to show microphone status */
.contact-status {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    border-radius: $contact-status-icon-border-radius;
    overflow: hidden;
    span.icon:before {
        display: flex;
        align-items: center;
        justify-content: center;
        width: $contact-status-icon-width;
        height: $contact-status-icon-height;
    }
    span.microphone.off {
        background-color: $user-micorphone-off-bgcolor;
        color: $user-micorphone-off-color;
    }
    span.microphone.on {
        background-color: $user-micorphone-on-bgcolor;
        color: $user-micorphone-on-color;
    }
}

/* spacial button on ongoing lassion screen */
.lesson-phase {
    box-shadow: $lesson-phase-button-shadow;
    border: $lesson-phase-button-border;
    border-radius: $lesson-phase-button-radius;
    display: flex;
    align-items: center;
    justify-content: center;
    height: $lesson-phase-button-height;
    margin-top: auto;

    a {
        padding-top: $lesson-phase-button-padding-top-bottom;
        padding-bottom: $lesson-phase-button-padding-top-bottom;
        display: block;

        font-size: $lesson-phase-button-padding-font-size;
        font-weight: $lesson-phase-button-padding-font-weight;
    }

    span.icon:before {
        width: $lesson-phase-button-icon-size;
        margin-right: $lesson-phase-button-icon-margin-right;
    }
}

/* scepial button for modal exit */
.modal-exit-btn {
    border-radius: $small-icon-button-radius;
    background-color: $softly-blue;
    border: none;
    outline: none;
    width: $modal-exit-button-size;
    height: $modal-exit-button-size;
    color: $brutaly-blue;
    font-size: $modal-exit-font-size;
    //line-height: $small-line-height;
    font-weight: $modal-exit-font-weight;
    cursor: pointer;
    position: absolute;
    right: $modal-exit-relative-right;
    span.icon:before {
        margin: auto;
        font-size: $modal-exit-icon-size;
        //line-height: $small-line-height;
    }
    &:hover {
        span.icon:before {
            margin: auto;
            color: $brutaly-red;
        }
    }
}

/* specail tab buttons for mainpage settings */
.screen-tab {
    position: relative;
    display: flex;
    align-items: center;
    height: $screen-button-tab-height;
    //background-color: blue;
    .screen-button {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        outline: none;
        background-color: transparent;
        cursor: pointer;
        font-size: $screen-button-tab-font-size;
        font-weight: $screen-button-tab-font-weight;
        line-height: 5.55;
        letter-spacing: 0.6px;
        text-align: center;
        a {
            color: $almost-black;
        }
    }
}
.screen-tab.active::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: $screen-button-tab-active-decor-height;
    width: 100%;
    border-radius: $screen-button-tab-active-radius;
    background-color: $brutaly-blue;
}
.screen-tab.active {
    button,
    a {
        color: $mainpage-setting-user-icon-color;
    }
}

/**********************************************/
/**********************************************/
/**********************************************/
/**********************************************/
/*********** Structure only above *************/
/************ Coloring of  button *************/
/**********************************************/
/**********************************************/
/**********************************************/
/**********************************************/

/* normal button with blue color */
@mixin blue-button {
    background-color: $softly-blue;
    color: $brutaly-blue;
    a,
    span,
    span.icon:before {
        color: $brutaly-blue;
    }
    &:hover {
        background-color: $brutaly-blue;
        color: $softly-blue;
        a,
        span,
        span.icon:before {
            color: $softly-blue;
        }
    }
}
.blue-button {
    @include blue-button;
}

/* normal button with gray color */
@mixin gray-button {
    background-color: $light-gray;
    color: $brutaly-gray;
    a,
    span,
    span.icon:before {
        color: $brutaly-gray;
    }
    &:hover {
        background-color: $brutaly-gray;
        color: $light-gray;
        a,
        span,
        span.icon:before {
            color: $light-gray;
        }
    }
}
.gray-button {
    @include gray-button;
}

/* normal button with green color */
@mixin green-button {
    background-color: $softly-green;
    color: $brutaly-green;
    a,
    span,
    span.icon:before {
        color: $brutaly-green;
    }
    &:hover {
        background-color: $brutaly-green;
        color: $softly-green;
        a,
        span,
        span.icon:before {
            color: $softly-green;
        }
    }
}
.green-button {
    @include green-button;
}
/* normal button with red color */
@mixin red-button {
    background-color: $softly-red;
    color: $brutaly-red;
    a,
    span,
    span.icon:before {
        color: $brutaly-red;
    }
    &:hover {
        background-color: $brutaly-red;
        color: $softly-red;
        a,
        span,
        span.icon:before {
            color: $softly-red;
        }
    }
}
.red-button {
    @include red-button;
}
/* normal button with purple color */
@mixin purple-button {
    background-color: $softly-purple;
    color: $brutaly-purple;
    a,
    span,
    span.icon:before {
        color: $brutaly-purple;
    }
    &:hover {
        background-color: $brutaly-purple;
        color: $softly-purple;
        a,
        span,
        span.icon:before {
            color: $softly-purple;
        }
    }
}
.purple-button {
    @include purple-button;
}

/* normal button with yellow color */
@mixin yellow-button {
    background-color: $softly-yellow;
    color: $brutaly-yellow;
    a,
    span,
    span.icon:before {
        color: $brutaly-yellow;
    }
    &:hover {
        background-color: $brutaly-yellow;
        color: $softly-yellow;
        a,
        span,
        span.icon:before {
            color: $softly-yellow;
        }
    }
}
.yellow-button {
    @include yellow-button;
}

/* Button with transparent background */
.bg-transp {
    background-color: transparent !important;
    border: 0;
    outline: 0;
}

.icon-size-36 {
    width: 36px;
    height: 36px;
}
.icon-size-40 {
    width: 40px;
    height: 40px;
}
.icon-size-60 {
    width: 60px;
    height: 60px;
    span.icon:before {
        font-size: $huge-font;
    }
}
.icon-size-74 {
    width: 74px;
    height: 74px;
}

.edit-course-btn {
    border-width: 0px;
}
