<div class="mini-box">
    <div class="mini-box-header">
        <p>Link hozzáadása</p>
        <button class="modal-exit-btn close-modal">
            <span class="fa icon X-icon"></span>
        </button>
    </div>
    <div class="mini-box-content">
        <div class="form-wrapper">
            <label for="input-name">Link neve</label>
            <input type="text" name="title" id="edit-link-name" value="<%=link.title%>" />
        </div>
        <div class="form-wrapper">
            <label for="browse-name">Link URL</label>
            <input type="text" name="url" id="edit-browse-name" value="<%=link.url%>" />
        </div>
        <input hidden type="text" name="course_id" value="<%=course.id%>">
        <input hidden type="text" name="id" value="<%=link.id%>">
        <div class="form-button-container">
            <div class="form-action-btn">
                <button class="small-button gray-button close-modal">
                    <span class="fa icon X-icon"></span>Mégsem
                </button>
            </div>
            <div class="form-action-btn">
                <button class="small-button green-button" onclick="updateEntity('#edit-link-modal', '/links/<%=link.id%>')">
                    <span class="fa icon check-mark"></span>Mentés
                </button>
            </div>
        </div>
    </div>
</div>