.lesson-controlpanel {
  .content-wrapper {
    height: 100%;
    width: 100%;
    .course-content-tab {
      height: 100%;

      .content-area {
        @include scrollbarVert();
      }
    }
  }
}
.course-content-list {
  /* this is the structure of this tab */
  display: flex;
  flex-direction: column;
  width: 100%;
  .course-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-bottom: $spacebetween-contacts;
    .decor {
      width: $book-dekor-width;
      align-self: stretch;
      border-radius: $book-dekor-radius;
      margin-right: $smaller-padding;
    }
    .info-card {
      width: 100%;
      .info-header {
        font-weight: $book-info-header-font-weight;
        margin-bottom: $book-info-header-margin-bottom;
        font-size: $book-info-header-font-size;
        line-height: $book-info-header-line-height;
      }
      .info-record {
        margin-bottom: $book-info-record-specabetween;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        .info-title-wrapper {
          display: flex;

          .info-title {
            p,
            a {
              display: flex;
              flex-direction: row;
              align-items: center;
              font-size: $book-info-header-font-size;
              font-weight: $book-info-header-font-weight;
              line-height: $book-info-header-line-height;
              span.icon:before {
                font-size: $book-info-header-icon-size;
                margin-right: $book-info-icon-marginright;
                //line-height: 1.32;
              }
            }
          }

          .lesson-content {
            background-color: $lesson-material-info-icon-bgcolor;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: $lesson-material-info-icon-padding;
            border-radius: $lesson-material-info-icon-radius;
            margin-left: $lesson-material-info-icon-margin-left;
            p {
              color: $lesson-material-info-icon-color;
              font-size: $lesson-content-font-size;
              font-weight: $lesson-content-font-weight;
              line-height: $lesson-content-line-height;
            }
            span.icon:before {
              line-height: 1.25;
              margin-right: $lesson-content-icon-margin-right;
            }
          }
          .lesson-content:not(.show) {
            display: none;
          }
        }

        .info-action {
          display: flex;
          margin-left: auto;

          .test-done {
            background-color: $lesson-material-info-icon-bgcolor;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: $lesson-material-info-icon-padding;
            border-radius: $lesson-material-info-icon-radius;
            margin-right: $lesson-material-info-test-done-margin-right;
            p {
              color: $lesson-material-info-icon-color;
              font-size: $lesson-test-done-font-size;
              font-weight: $lesson-test-done-font-weight;
              line-height: $lesson-test-done-line-height;
            }
            span.icon:before {
              line-height: 1.25;
              margin-right: $lesson-test-done-icon-margin-right;
            }
          }
          .test-done:not(.show) {
            margin: 0px;
            display: none;
          }

          .info-action-icon {
            margin-right: $lesson-info-action-icon-margin-right;
            span.icon:before {
            }
          }

          .info-action-icon:last-child {
            margin-right: 0;
          }
        }
      }
      .info-record:last-child {
        margin-bottom: $book-info-record-last_specabetween;
      }
    }
  }

  /* this is the global colorings of icons */
  .content-item {
    .info-card {
      .info-header {
        color: $book-info-header-color;
      }
      .info-record {
        .info-title {
          p,
          a {
            color: $book-info-title-color;
          }
        }
      }
    }
  }

  /* this is the class blue here can evertyhin override if not necessary delete it */
  .content-item.blue {
    .decor {
      background-color: $book-blue-info-color;
    }
    .info-card {
      .info-header {
        color: $book-info-header-color;
      }
      .info-record {
        .info-title {
          p,
          a {
            color: $book-info-title-color;
            span.icon:before {
              color: $book-blue-info-color;
            }
          }
        }

        .lesson-content {
          background-color: $lesson-material-info-icon-bgcolor;
          p {
            color: $lesson-material-info-icon-color;
          }
        }
      }
    }
  }
  /* this is the class yellow here can evertyhin override if not necessary delete it */
  .content-item.yellow {
    .decor {
      background-color: $book-yellow-info-color;
    }
    .info-card {
      .info-header {
        color: $book-info-header-color;
      }
      .info-record {
        .info-title {
          p,
          a {
            color: $book-info-title-color;
            span.icon:before {
              color: $book-yellow-info-color;
            }
          }
        }
        .info-action {
          .test-done {
            background-color: $book-yellow-info-bgcolor;
            p {
              color: $book-yellow-info-color;
            }
          }
        }
        .lesson-content {
          background-color: $book-yellow-info-bgcolor;
          p {
            color: $book-yellow-info-color;
          }
        }
      }
    }
  }
  /* this is the class green here can evertyhin override if not necessary delete it */
  .content-item.green {
    .decor {
      background-color: $book-green-info-color;
    }
    .info-card {
      .info-header {
        color: $book-info-header-color;
      }
      .info-record {
        .info-title {
          p,
          a {
            color: $book-info-title-color;
            span.icon:before {
              color: $book-green-info-color;
            }
          }
        }
        .info-action {
          .test-done {
            background-color: $book-green-info-bgcolor;
            p {
              color: $book-green-info-color;
            }
          }
        }
        .lesson-content {
          background-color: $book-green-info-bgcolor;
          p {
            color: $book-green-info-color;
          }
        }
      }
    }
  }
  /* this is the class purple here can evertyhin override if not necessary delete it */
  .content-item.purple {
    .decor {
      background-color: $book-purple-info-color;
    }
    .info-card {
      .info-header {
        color: $book-info-header-color;
      }
      .info-record {
        .info-title {
          p,
          a {
            color: $book-info-title-color;
            span.icon:before {
              color: $book-purple-info-color;
            }
          }
        }
      }
      .test-done {
        background-color: $book-purple-info-bgcolor;
        p {
          color: $book-purple-info-color;
        }
      }
    }
    .lesson-content {
      background-color: $book-purple-info-bgcolor;
      p {
        color: $book-purple-info-color;
      }
    }
  }
}
.action-area {
  .fileupload-form {
    height: $book-upload-button-height;
    width: 100%;
    align-self: flex-end;
    display: flex;
    justify-content: center;
  }
}

.lesson-page {
  .content-list {
    .mouse-button {
      display: none !important;
    }
  }
  .links,
  .tests,
  .votes {
    .download-button {
      display: none !important;
    }
  }
  .links,
  .files {
    .stat-button {
      display: none !important;
    }
  }
  .files {
    .write-button {
      display: none !important;
    }
  }
}
