.lesson-controlpanel {
  .content-wrapper {
    height: 100%;
    .participant-tab {
      height: 100%;
      .content-area {
        @include scrollbarVert();
      }
    }
  }
}
.participants-tab-content {
  display: block;
  width: 100%;

  .contact-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: $spacebetween-contacts;
    .contact-info {
      display: flex;
      flex-direction: row;
      align-items: center;
      .contact-id {
        span.icon:before {
          color: $contact-user-icon;
          font-size: $contatcs-id-icon-size;
          line-height: $contatcs-id-line-height;
          margin-right: $spacebetween-user-icon-name;
        }
      }
      .contact-action {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: $user-raised-hand-info-marginleft;
        padding: $user-raised-hand-info-padding;
        background-color: $user-raised-hand-info-bgcolor;
        border-radius: $user-raised-hand-info-radius;
        p {
          color: $user-raised-hand-info-color;
          span.icon:before {
            color: $contact-user-icon;
            font-size: $contact-action-icon-size;
            line-height: $contact-action-line-height;
            margin-right: $user-raised-hand-info-iconsmarginright;
          }
        }
      }
    }
  }

  .contact-item:not(.hand-raised) {
    .contact-info {
      .contact-action {
        display: none;
      }
    }
  }
}
