.lesson-controlpanel {
  .content-wrapper {
    height: 100%;
    .message-tab {
      height: 100%;
      .content-area {
        @include scrollbarVert();
        flex-grow: 1;
      }
    }
  }
}
.tab-content-list,
.message-tab-content {
  display: block;
  width: 100%;
  .message-item {
    display: block;
    width: 60%;
    height: 100%;
    margin-bottom: $message-item-margin-bottom;

    .message-body {
      padding: $message-body-padding;
      border-radius: $message-border-radius;
      box-shadow: $message-shadow;
      border: $message-border;
      background-color: $message-bg-color;
      p {
        font-size: $message-body-font-size;
        font-weight: $message-body-font-weight;
        font-stretch: normal;
        font-style: normal;
        line-height: $message-body-line-height;
        letter-spacing: normal;
        text-align: left;
        color: $normal-text-color;
      }
    }
    .message-footer {
      display: flex;
      justify-content: space-between;
      padding-top: $message-footer-padding-top;
      height: $message-footer-height;
      .message-sender {
        display: block;
        width: auto;
        p {
          color: $message-sender-color;
        }
      }
      .message-time {
        display: block;
        width: auto;
        p {
          color: $message-time-color;
          text-align: right;
        }
      }
    }
  }
  .outgoing-message {
    margin-left: auto;
    margin-right: 0;
    .message-body {
      background-color: $message-outgoing-bgcolor;
      p {
        color: $message-outgoing-color;
      }
    }
    .message-footer {
      display: flex;
      justify-content: flex-end;
      .message-sender {
        display: none;
      }
    }
  }

  .incoming-message {
    margin-right: auto;
    margin-left: 0;
  }
}

.action-area:not(.active) {
  display: none;
}
