.lesson-controlpanel {
  .content-wrapper {
    height: 100%;
    .records-tab-content {
      height: 100%;

      .content-area {
        @include scrollbarVert();
        height: 100%;
        width: 100%;
        padding: 0;
      }
    }
  }
}

.records-content-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;

  .record-content {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    margin-bottom: $record-content-margin-bottom;

    .thumbnail {
      position: relative;
      width: $video-thumbnail-size;
      margin-right: $record-thumbnail-margin-right;

      img {
        width: 100%;
        border-radius: $record-thumbnail-radius;
        display: block;
      }
      .record-length {
        position: absolute;
        top: $record-length-position-top;
        left: $record-length-position-left;
        background-color: $record-length-background-color;
        border-radius: $record-length-radius;
        z-index: $record-length-z-index;
        p {
          padding: $record-length-padding;
        }
      }
    }
    .record-info {
      width: $video-recors-info-size;
      display: flex;
      flex-direction: column;

      .lesson-id {
        width: 100%;
        margin-bottom: $record-lesson-id-margin-bottom;
        p {
          font-size: $record-lesson-id-font-size;
          font-weight: $record-lesson-id-font-weight;
          line-height: $record-lesson-id-line-height;
          color: $info-lesson-blue;
        }
      }
      .number-of-record {
        width: 100%;
        p {
          font-size: $record-number-of-record-font-size;
          font-weight: $record-number-of-record-font-weight;
          line-height: $record-number-of-record-line-height;
          color: $almost-black;
        }
      }
      .play-button {
        margin-top: auto;
        width: 100%;
      }
    }
  }
}

.embedded-tab {
  .content-area {
    padding: 0;
  }
  .records-content-list {
    display: flex;

    flex-direction: row;
    .record-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 25%;
      flex-wrap: wrap;
      margin-bottom: $record-content-embedded-margin-bottom;
      margin-right: $record-content-embedded-margin-bottom;
      min-width: $record-content-embedded-min-width;
      .thumbnail {
        width: 100%;
        position: relative;
      }
      .record-info {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        .play-button {
          width: 100%;
        }
      }
    }
  }
}
