/* rename it to contorl panel */

.lesson-controlpanel {
  min-width: $lesson-controlpanel-minwidth;
  max-width: $lesson-controlpanel-maxwidth;
  width: $lesson-controlpanel-width;
}

/* rename it to contorl panel */
.lesson-controlpanel {
  width: 100%;
}

.lesson-controlpanel {
  background-color: $lesson-tab-bgcolor;
  box-shadow: $lesson-controlpanel-shadow;
  border-radius: $lesson-controlpanel-radius;
  height: 100%;
  display: flex;
  flex-direction: column;

  .control-wrapper {
    .tab-control {
      display: flex;
      flex-grow: 1;
      height: $lesson-tab-control-height;

      .tab-item:hover {
        background-color: $lesson-contolpanel-hoverbgcolor;
      }

      .tab-item {
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        flex: 100;
        height: 100%;
        border: $lesson-tab-border;
        background-color: $lesson-inactive-tab-bgcolor;
        transition: $transition-setting;

        .tab-button {
          display: flex;
          justify-content: center;
          align-items: center;
          border: none;
          outline: none;
          background-color: transparent;
          cursor: pointer;
          width: 100%;
          height: 100%;
          color: $lesson-inactive-tab-color;
          font-size: $tab-button-font-size;
          line-height: $tab-button-line-height;
        }

        .write-note .icon:before {
          content: "\f304";
        }

        .records .icon:before {
          content: "\f8d9";
        }

        .participants .icon:before {
          content: "\f500";
        }

        .messages .icon:before {
          content: "\f086";
        }

        .help .icon:before {
          content: "\f128";
        }

        .book .icon:before {
          content: "\f02d";
        }

        .message-counter {
          display: none;
          box-sizing: border-box;
          border-radius: 50%;
          border: $lesson-message-counter-border;
          background-color: $lesson-message-counter-color;
          height: $lesson-tab-newmessage-mark-size;
          width: $lesson-tab-newmessage-mark-size;
          color: $fullwhite;
          font-size: $tab-button-message-counter-icon-size;
        }

        .message-counter:hover {
          border: $lesson-contolpanel-hoverbgborder;
        }

        .message-counter.show {
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          left: $lesson-tab-newmessage-mark-size * 1.5;
          top: -$lesson-tab-newmessage-mark-size/2;
          z-index: 1;
        }
        .message-counter.show ~ .icon {
          position: relative;
          right: $lesson-tab-newmessage-mark-size / 2;
        }

        img {
          display: none;
          box-sizing: border-box;
          border-radius: 50%;
          border: $lesson-tab-newmessage-border;
          height: $lesson-tab-newmessage-mark-size;
          width: $lesson-tab-newmessage-mark-size;
        }

        img.show {
          display: inline-block;
          position: relative;
          left: $lesson-tab-newmessage-mark-size * 1.5;
          top: -$lesson-tab-newmessage-mark-size/2;
          z-index: 1;
        }

        img.show ~ .icon {
          position: relative;
          right: $lesson-tab-newmessage-mark-size / 2;
        }
      }
      .tab-item:nth-child(1),
      .tab-item:nth-child(2) {
        border-right: none;
      }
      .tab-item:nth-child(4) {
        border-left: none;
      }
      .tab-item.active {
        background-color: $lesson-active-tab-bgcolor;
        .tab-button {
          color: $lesson-active-tab-color;
        }
        .message-counter {
          border: lesson-active-tab-border;
          p {
            color: $lesson-active-tab-bgcolor;
            font-size: $tab-button-message-counter-font-size;
          }
        }
      }
    }
  }

  .content-wrapper {
    height: 100%;
    overflow: hidden;
    .tab-content {
      padding: $lesson-tab-spacearound;
      padding-right: $lesson-tab-right-padding;
      background-color: $lesson-tab-bgcolor;
      height: 100%;
      width: 100%;
      display: none;
    }

    .tab-content.active {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      .content-area {
        padding-right: $scrollbar-padding;
      }
    }
  }
  .action-area-wrapper {
    .action-area {
      padding-left: $lesson-tab-spacearound;
      padding-right: $lesson-tab-spacearound;
    }
  }
  .action-area-wrapper.top {
    .action-area {
      margin-top: $lesson-tab-spacearound;
    }
  }
  .action-area-wrapper.bottom {
    .action-area {
      margin-bottom: $lesson-tab-spacearound;
    }
  }
}
.lesson-controlpanel:not(.show) {
  display: none;
}
