.lesson-controlpanel {
  .content-wrapper {
    height: 100%;
    .write-note-tab-content {
      height: 100%;

      .content-area {
        @include scrollbarVert();
      }
    }
  }
}
.write-note-content-list {
  /* this is the structure of this tab */
  display: flex;
  flex-direction: column;
  width: 100%;
  .note-content {
    display: block;
    width: 100%;
    height: 100%;
    margin-bottom: $write-note-margin-bottom;

    .note-body {
      padding: $write-note-body-padding;
      border-radius: $message-border-radius;
      box-shadow: $message-shadow;
      border: $message-border;
      background-color: $message-bg-color;
      p {
        font-size: $message-note-body-font-size;
        font-weight: $message-note-body-font-weight;
        font-stretch: normal;
        font-style: normal;
        line-height: $message-note-body-line-height;
        letter-spacing: normal;
        text-align: left;
        color: $normal-text-color;
      }
    }
    .note-footer {
      display: flex;
      justify-content: space-between;
      padding-top: $message-note-footer-padding-top;
      height: $message-note-footer-height;
      .note-record {
        margin-right: $message-note-record-margin-right;
        p {
          color: $brutaly-red;
          span.icon {
            color: $brutaly-red;
          }
        }
      }
      #edit-note {
        display: block;
        width: auto;
        button {
          color: $message-sender-color;
          border: none;
          outline: none;
          cursor: pointer;
          background-color: transparent;
          font-size: $message-note-edit-note-font-size;
          font-weight: $message-note-edit-note-font-weight;
        }
        span.icon:before {
          margin-right: $message-note-edit-note-icon-margin-right;
        }
      }
      #save-note {
        display: block;
        width: auto;
        button {
          color: $brutaly-blue;
          border: none;
          outline: none;
          cursor: pointer;
          background-color: transparent;
          font-size: $message-save-note-font-size;
          font-weight: $message-save-note-font-weight;
        }
        span.icon:before {
          margin-right: $message-save-note-icon-margin-right;
        }
      }
      .note-time {
        display: block;
        width: auto;
        margin-right: auto;
        p {
          color: $message-time-color;
          text-align: right;
        }
        span.icon:before {
          margin-right: $message-note-time-icon-margin-right;
        }
      }
    }
  }

  .incoming-note {
    margin-right: auto;
    margin-left: 0;
  }
}
.action-area {
  margin-top: $message-note-action-area-margin-top;
}
.action-area-wrapper {
  .action-area {
    .note-export-form {
      height: $book-upload-button-height;
      width: 100%;
      height: 100%;
      align-self: flex-end;
      display: flex;
      justify-content: center;
      .note-export {
        @include SEButton(
          $book-upload-button-bgcolor,
          $book-upload-button-color,
          $book-upload-button-width,
          $book-upload-button-height,
          $book-upload-button-radius,
          $book-upload-button-border,
          $book-upload-button-fontsize,
          $book-upload-button-lineheight,
          $book-upload-button-fontweight
        );
      }
    }
  }
}
.action-area:not(.active) {
  display: none;
}
