table {
    border-collapse: separate;
    border-spacing: $table-border-spacing;
    width: 100%;
    thead {
        tr {
            th {
                font-size: $table-font-size;
                font-weight: $table-font-weight;
                line-height: $table-line-height;
                text-align: left;
                min-width: $table-min-width;
                color: $brutaly-gray;
            }
        }
    }
    tbody {
        .table-row {
            width: 100%;
            td {
                padding: $table-padding;
                border: $table-border;
            }
            td:last-child {
                border-radius: $table-last-border-radius;
            }
            td:first-child {
                border-radius: $table-first-border-radius;
            }
        }
    }
}

.created_user_data {
    text-align: center;
}
