<% layout('../layouts/default') -%>

<!-- Start Content-->
<div class="single-panel-wrapper">
    <form class="user-data-form" action="/customer/users/add" method="POST">
      <div class="content-header-wrapper header-with-1buttons">
        <div class="content-header">
          <div class="content-header-text">
            <div class="content-header-title">
              <p>Új felhasználó létrehozása</p>
            </div>
            <div class="content-header-date">
              <p>Kérjük töltse ki az alábbi mezőket</p>
            </div>
          </div>
        </div>
      </div>
      <div class="user-data-settings">
        <div class="user-email">
          <label for="user-email">E-mail cím</label>
          <input
            type="text"
            name="email"
            id="useremail"
            placeholder="E-mail cím"
            required
            autocomplete="email"
          />
        </div>
        <div class="user-type">
          <label for="user-type">Szerepkör</label>
          <select id="user-type" name="role" required>
            <option class="placeholder" value="" disabled selected>
              Jogkör
            </option>
            <option value="<%=USER_ROLE.ADMIN %>">Admin</option>
            <option value="<%=USER_ROLE.AGENT %>">Agent</option>
            <option value="<%=USER_ROLE.TEACHER %>">Tanár</option>
            <option value="<%=USER_ROLE.STUDENT %>">Diák</option>
          </select>
        </div>
      </div>
      <div class="user-data-settings">
        <div class="user-secondname-container">
          <label for="user-lastname">Vezetéknév</label>
          <input
            type="text"
            name="lastname"
            id="user-lastname"
            placeholder="Vezetékneve"
            required
            autocomplete="username"
          />
        </div>
        <div class="user-firstname-container">
          <label for="user-firstname">Keresztnév</label>
          <input
            type="text"
            name="firstname"
            id="user-firstname"
            placeholder="Keresztneve"
            required
            autocomplete="username"
          />
        </div>
      </div>
      <div class="user-data-settings">
        <div class="user-secondname-container">
          <label for="password">Jelszó</label>
          <input
            type="password"
            name="password"
            id="user-password"
            placeholder="Jelszó"
            autocomplete="new-password"
            required
          />
        </div>
        <div class="user-firstname-container">
          <label for="password-confirm">Jelszó megerősítése</label>
          <input
            type="password"
            name="password_again"
            id="user-password-confirm"
            placeholder="Jelszó megerősítése"
            autocomplete="new-password"
            required
          />
        </div>
      </div>
      <button class="small-button green-button create-btn">
        <span class="fa icon check-mark"></span>Létrehozás
      </button>
    </form>
  </div>