<% layout('../layouts/default') -%>

<div class="single-panel-wrapper">
    <% if (users.filter(u => !u.error).length != 0) { %>
    <div class="administration-content">
        <div class="content-header-wrapper header-with-2buttons">
            <div class="content-header">
                <div class="content-header-text">
                    <div class="content-header-title">
                        <p>Létrejött felhasználók  (<%=users.filter(u => !u.error).length %>)</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="scrollable-content">
            <div class="scrolled-content">
                <table class="user-datas">
                    <thead>
                        <tr class="table-header">
                            <th class="thead">Felhasználó</th>
                            <th class="thead">Vezetéknév</th>
                            <th class="thead">Keresztnév</th>
                            <th class="thead">E-mail cím</th>
                            <th class="thead">Létrehozás</th>
                            <th class="thead">Jogkör</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% users.filter(u => !u.error).forEach(user => { %>
                            <tr class="table-row">
                                <td class="user-ID"><%=user.username%></td>
                                <td class="user-secondname"><%=user.lastname %></td>
                                <td class="user-firstname"><%=user.firstname %></td>
                                <td class="user-email-addres"><%=user.email %></td>
                                <td class="creation-date"><%=moment(user.created).format('L LT')%></td>
                                <td class="user-type"><%=__(user.role)%></td>
                            </tr>
                        <% }); %>
                        </tbody>
                </table>
            </div>
        </div>
    </div>
    <% } %>
    <% if (users.filter(u => u.error).length != 0) { %>
    <div class="administration-content mt-2">
        <div class="content-header-wrapper header-with-2buttons">
            <div class="content-header">
                <div class="content-header-text">
                    <div class="content-header-title">
                        <p>Hibák (<%=users.filter(u => u.error).length %>)</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="scrollable-content">
            <div class="scrolled-content">
                <table class="user-datas">
                    <thead>
                        <tr class="table-header">
                            <th class="thead">Vezetéknév</th>
                            <th class="thead">Keresztnév</th>
                            <th class="thead">E-mail cím</th>
                            <th class="thead">Hiba</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% users.filter(u => u.error).forEach(user => { %>
                            <tr class="table-row">
                                <td class="user-secondname"><%=user.lastname %></td>
                                <td class="user-firstname"><%=user.firstname %></td>
                                <td class="user-email-addres"><%=user.email %></td>
                                <td class="text-danger"><%=user.error %></td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <% } %>
</div>