<% layout('../layouts/default') -%>

<div class="single-panel-wrapper">
    <div class="administration-content">
      <!--Header of the content-->
      <div class="content-header-wrapper header-with-2buttons">
        <div class="content-header">
          <div class="content-header-text">
            <div class="content-header-title">
              <p>Felhasználók</p>
            </div>
            <div class="content-header-date">
              <p>Itt találhatja az intézmény összes felhasználóját</p>
            </div>
          </div>
        </div>
        <div class="header-action-container">
          <div class="small-link-button green-button mr-30">
            <a href="/customer/users/add"
              ><span class="fa icon plus-mark"></span>Felhasználó
              létrehozása</a
            >
          </div>

          <div class="small-link-button blue-button">
            <a href="/customer/users/addbatch"
              ><span class="fa icon mail-letter"></span>Meghívás az
              intézménybe</a
            >
          </div>
        </div>
      </div>

      <div class="scrollable-content">
        <div class="scrolled-content">
          <% if (users && users.length != 0) { %>
          <table class="user-datas">
            <thead>
              <tr class="table-header">
                <th class="thead">Felhasználó</th>
                <th class="thead">Vezetéknév</th>
                <th class="thead">Keresztnév</th>
                <th class="thead">E-mail cím</th>
                <th class="thead">Létrehozás</th>
                <th class="thead">Jogkör</th>
                <th class="thead"></th>
              </tr>
            </thead>
            <tbody>
                   <% users.forEach(user => { %>
              <tr class="table-row" id="user-<%=user.id%>">
                <td class="user-ID"><%=user.username%></td>
                <td class="user-secondname"><%=user.lastname%></td>
                <td class="user-firstname"><%=user.firstname%></td>
                <td class="user-email-addres"><%=user.email%></td>
                <td class="creation-date"><%=moment(user.created).format('L LT')%></td>
                <td class="user-type"><%=user.role ? __(user.role) : ''%></td>
                <td class="table-buttons">
                  <a href="/customer/users/<%=user.id%>/edit">
                    <button class="icon-button blue-button mr-15" title="Szerkesztés">
                      <span class="fa icon write"></span>
                    </button>
                  </a>
                  <button class="icon-button red-button open-modal" title="Törlés" data-target="#user-delete-modal" data-url-param="<%=user.id%>">
                    <span class="fa icon trash"></span>
                  </button>
                </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
          <% } else { %>
            <span class="empty-list">Ehhez az intézményhez még nincs hozzárendelve felhasználó.</span>
          <% } %>
        </div>
      </div>
    </div>

    <!-- Deletion modal -->
    <div class="modal-cover"></div>
    <div class="screen-container modal-screen" id="user-delete-modal">
      <div class="mini-box">
        <div class="mini-box-header">
          <p>Felhasználó törlése</p>
          <button class="modal-exit-btn close-modal close-modal">
            <span class="fa icon X-icon"></span>
          </button>
        </div>

        <div class="mini-box-content">
          <p>A Törlés gombra kattintva a felhasználó összes adata törlésre kerül.</p>
          <br/>
          <p>Ez a művelet nem visszafordítható.</p>
          <div class="form-button-container">
            <div class="form-action-btn">
              <a class="small-button gray-button close-modal">
                <span class="fa icon X-icon"></span>Mégse
              </a>
            </div>
            <div class="form-action-btn">
              <button class="small-button red-button modal-url-button" onclick="deleteEntity('customer/users', 'user', this, '<%=current_user.id%>')">
                <span class="fa icon trash"></span>Törlés
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <% if (showModal) { %>
      <div class="modal-cover show"></div>
      <div class="screen-container modal-screen show" id="success-user-creation-modal">
        <div class="mini-box">
          <div class="mini-box-header">
            <p>Felhasználó sikeresen létrehozva</p>
            <button class="modal-exit-btn close-modal close-modal" onclick="window.location='/customer/users'">
              <span class="fa icon X-icon"></span>
            </button>
          </div>

          <div class="mini-box-content">
            <div class="scrollable-content">
              <div class="scrolled-content">
                <table class="user-datas">
                  <thead>
                    <tr class="table-header">
                      <th class="thead created_user_data">Felhasználónév</th>
                      <th class="thead created_user_data">Jelszó</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="table-row">
                      <td class="user-firstname created_user_data"><%=created_user.username%></td>
                      <td class="user-firstname created_user_data"><%=created_user.password%></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="form-button-container justify-content-center">
              <div class="form-action-btn">
                <button class="small-button green-button close-modal" onclick="window.location='/customer/users'">
                  <span class="fa icon check-mark"></span>Rendben
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% } %>

  </div>