<% layout('../layouts/default') -%>

<!-- Start Content-->
<div class="single-panel-wrapper">
    <form class="user-data-form" action="/customer/users/<%=user.id%>/edit" method="POST">
      <div class="content-header-wrapper header-with-1buttons">
        <div class="content-header">
          <div class="content-header-text">
            <div class="content-header-title">
              <p>Új felhasználó létrehozása</p>
            </div>
            <div class="content-header-date">
              <p>Kérjük töltse ki az alábbi mezőket</p>
            </div>
          </div>
        </div>
      </div>
      <div class="user-data-settings">
        <div class="user-email">
          <label for="user-email">E-mail cím</label>
          <input
            type="text"
            name="email"
            id="useremail"
            placeholder="E-mail cím"
            required
            value="<%=user.email%>"
          />
        </div>
        <div class="user-type">
          <label for="user-type">Szerepkör</label>
          <div class="role-dropdown">
            <select id="user-type" name="role" required>
              <% if (!user.role) { %>
                  <option value="" disabled selected>Jogkör</option>
              <% } %>
              <option value="<%=USER_ROLE.ADMIN%>" 
                  <%if (user.role == USER_ROLE.ADMIN) {%>
                      <%="selected"%>
                  <% } %>
              >Admin</option>
              <option value="<%=USER_ROLE.AGENT%>"
                  <%if (user.role == USER_ROLE.AGENT) {%>
                      <%="selected"%>
                  <% } %>
              >Agent</option>
              <option value="<%=USER_ROLE.TEACHER%>"
                  <%if (user.role == USER_ROLE.TEACHER) {%>
                      <%="selected"%>
                  <% } %>
              >Tanár</option>
              <option value="<%=USER_ROLE.STUDENT%>"
                  <%if (user.role == USER_ROLE.STUDENT) {%>
                      <%="selected"%>
                  <% } %>
              >Diák</option>
            </select>
          </div>
        </div>
      </div>
      <div class="user-data-settings">
        <div class="user-secondname-container">
          <label for="user-lastname">Vezetéknév</label>
          <input
            type="text"
            name="lastname"
            id="user-lastname"
            placeholder="Vezetékneve"
            required
            value="<%= user.lastname %> "
          />
        </div>
        <div class="user-firstname-container">
          <label for="user-firstname">Keresztnév</label>
          <input
            type="text"
            name="firstname"
            id="user-firstname"
            placeholder="Keresztneve"
            required
            value="<%= user.firstname %> "
          />
        </div>
      </div>
      <div class="user-data-settings">
        <div class="user-secondname-container">
          <label for="password">Jelszó</label>
          <input
            type="password"
            name="new_password"
            id="user-password"
            placeholder="Jelszó"
            autocomplete="off"
          />
        </div>
        <div class="user-firstname-container">
          <label for="password-confirm">Jelszó megerősítése</label>
          <input
            type="password"
            name="new_password_again"
            id="user-password-confirm"
            placeholder="Jelszó megerősítése"
            autocomplete="off"
          />
        </div>
      </div>
      <button class="small-button green-button create-btn">
        <span class="fa icon check-mark"></span>Mentés
      </button>
    </form>
  </div>