<%- layout('../layouts/default') %>

<!-- Start Content-->
<div class="single-panel-wrapper">
    <form class="user-data-form" action="/customer/users/addbatch" method="POST">
      <div class="content-header-wrapper header-with-1buttons">
        <div class="content-header">
          <div class="content-header-text">
            <div class="content-header-title">
              <p>Új felhasználók létrehozása</p>
            </div>
            <div class="content-header-date">
              <p>Adjon meg soronként egy új felhasználót, az adatai legyenek vesszővel elválasztva (vezetéknév, keresztnév, email cím, jelszó)!
                <br>
                Amennyiben nem ad meg jelszót, a rendszer generálni fog.
                <br><br>
                Példa:
                <br>
                Gipsz,Jakab,gipsz.jakab@pelda.hu,Fontos1234Jelszo
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-action-form" id="user-batch-input">
        <div class="textarea-wrapper">
          <textarea name="user_batch_content"></textarea>
        </div>
      </div>
      <button class="small-button green-button create-btn">
        <span class="fa icon check-mark"></span>Létrehozás
      </button>
    </form>
  </div>