.scrollable-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-right: $scrollable-content-srollbar-padding-right;
  @include scrollbarVert();
  .scrolled-content {
    width: 100%;
    margin-right: $scrollable-content-srollbar-margin-right;
    display: flex;
    flex-direction: column;
    .content-item,
    .scrolled-content-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      margin-bottom: $content-item-margin-bottom;
      border-radius: $content-item-border-radius;
      margin-right: $scrollable-content-srollbar-margin-right;
      .course-details {
        display: flex;
        justify-content: space-between;
        width: 100%;
        .decor {
          width: $content-item-decor-width;
          align-self: stretch;
          border-radius: $content-item-decor-border-radius;
        }
        .info-card {
          width: 100%;
          margin: $scrollable-content-info-card-margin;
          .info-record {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .info-lesson-title {
              p {
                font-size: $scrollable-content-info-lesson-title-font-size;
                line-height: 1.35;
                font-weight: $scrollable-content-info-lesson-title-font-weight;
              }
              span.icon:before {
                display: block;
                width: $scrollable-content-info-lesson-title-icon-size;
                margin-right: $scrollable-content-info-lesson-title-icon-margin-right;
              }
            }
            .lesson-details-container {
              display: flex;
              align-items: center;
              .lesson-details {
                p {
                  line-height: $normal-line-height;
                  font-size: $scrollable-content-info-lesson-title-font-size;
                  font-weight: $scrollable-content-info-lesson-title-font-weight;
                }
                span.icon:before {
                  display: block;
                  font-size: $scrollable-content-info-lesson-title-font-size;
                  font-stretch: normal;
                  font-style: normal;
                  line-height: 1.35;
                  margin-right: $scrollable-content-info-lesson-title-icon-margin-right;
                }
              }
            }
          }
        }
      }
      .course-details.green {
        background-color: $info-lesson-bggreen;
        .decor {
          background-color: $info-lesson-green;
        }
        .info-card .info-record {
          .info-lesson-title p {
            color: $info-lesson-green;
          }
          .lesson-details-container .lesson-details {
            p {
              color: $info-lesson-green;
            }
            span.icon:before {
              color: $info-lesson-green;
            }
          }
        }
      }
      .course-details.blue {
        background-color: $info-lesson-bgblue;
        .decor {
          background-color: $info-lesson-blue;
        }
        .info-card .info-record {
          .info-lesson-title p {
            color: $info-lesson-blue;
          }
          .lesson-details-container .lesson-details {
            p {
              color: $info-lesson-blue;
            }
            span.icon:before {
              color: $info-lesson-blue;
            }
          }
        }
      }
      .course-details.red {
        background-color: $info-lesson-bgred;
        .decor {
          background-color: $info-lesson-red;
        }
        .info-card .info-record {
          .info-lesson-title p {
            color: $info-lesson-red;
          }
          .lesson-details-container .lesson-details {
            p {
              color: $info-lesson-red;
            }
            span.icon:before {
              color: $info-lesson-red;
            }
          }
        }
      }
    }
  }
}
