<!DOCTYPE html>
<html lang="hu">
    <head>
        <meta charset="utf-8" />
        <title>RandomTolkien</title>
        <!-- App css -->
        <link href="/css/libs.min.css" rel="stylesheet" type="text/css" />
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/css/icons.min.css" rel="stylesheet" type="text/css" />
        <link href="/css/app.min.css" rel="stylesheet" type="text/css" />
        <link href="/css/style.min.css" rel="stylesheet" type="text/css" />

    </head>

    <body class="mainpage-settings">          
            <%- include ../../views/partials/header %> 

            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->            

            <main class="screen-wrapper">
                <%-body -%> 
            </main>

        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->

        <!-- Vendor js -->
        <script src="/js/vendor.min.js"></script>
        <script src="/js/libs.min.js"></script>

        <!-- App js -->
        <script src="/js/app.min.js"></script>
        <script src="/js/smartuni.js"></script>
        <script src="/js/smartuni_redesign.min.js"></script>
        
        <%-scripts%> <%-blocks.custom_script%>
    </body>
</html>
